<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>Charging system</title>
    
    <!-- START SEO SECTION AND META TAG -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
    <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
    ,Deliver products,Saudi Company ">
    <meta name="copmany" content="Saudi Pavilion">
    <meta name="url" content="">
<!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

</head>
<body>

    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Charging-system-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Charging-system.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Charging-system-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Charging-system.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
 


    

    <!--packages -->
    <section class="other_nav_link mb-4" style="position: relative; top: 160px;">
        <!-- Start container-->
        <div class="container">
            

            <!-- title -->
            <div class="text-center my-2">
                <h2>Global shipping from the KSA </h2><br>
            </div>
            <!-- title -->
            
            
            <!--row 1-->
            <div class="row flex-column-reverse flex-lg-row  py-3 my-3">
                <div class="col-md-6 col-12 text-md-left text-center pr-md-0" dir="ltr">
                    <div class="bg-info h-100">
                        <h3 class="label bg-primary">Guaranteed Access</h3>
                        <p class="py-2 px-4 font-weight-bold"> Guaranteed Access Corporation will NOT deal or provide any services or products to any of OFAC (Office of Foreign Assets Control) sanctions countries in accordance with the law of KSA</p>
                        <p class="py-2 px-4 font-weight-bold">Multiple transactions may result in multiple postings to the cardholder’s monthly statement</p>
                        <p class="py-2 px-4 font-weight-bold">Guaranteed Access does not provide logistical services at all, and all delivery and shipping services are via documented logistic companies</p>
                 </div>       
                </div>
                <div class="col-md-6 col-12 pl-md-0 text-right ">
                        <img class="figure-img img-fluid  w-100 m-0" src="images/opop.jpg">
                </div>
            </div>
            <!--row 1-->


            <!--row 2-->
            <div class="row py-3 my-3">
                <div class="col-md-6  col-12 pr-md-0">
                        <img class="figure-img img-fluid w-100 m-0" src="images/shipping03.jpg">
                </div>
                <div class="col-md-6  col-12 text-md-left text-center pl-md-0" dir="ltr">

                    <div class="bg-info h-100">
                        <h3 class="label ">Global shipping from the KSA </h3>
                        <p class="p-2 m-md-5 font-weight-bold">
                            We use the following shipping couriers: Aramex, FedEx, DHL, according to site's interest, the customer's location, and the type of the product, noting that the customer is totally free to choose from the couriers available on the site, provided that the site and the customer abide by the courier's regulations.</p>
                 </div> 
                </div>
            </div>
            <!--row 2-->



             <!--row 3-->
            <div class="row  flex-column-reverse flex-lg-row py-3 my-3">
                <div class="col-md-6 col-12 text-md-left text-center pr-md-0" dir="ltr">
                    <div class="bg-info h-100">
                        <h3 class="label bg-primary">الشحن من أنحاء العالم للسعودية</h3>
                        <p class="p-2 m-md-5 font-weight-bold">Shipping is made through the fastest couriers available within 9-12 working days (up to 40 SAR/kg). To accurately calculate the shipping fees, kindly use our fee calculator.</p>
                 </div>       
                </div>
                <div class="col-md-6 col-12 pl-md-0 text-right ">
                        <img class="figure-img img-fluid  w-100 m-0" src="images/shipping02.jpg">
                </div>
            </div>
            <!--row 3-->


            <!--row 4-->
            <div class="row py-3 my-3">
                <div class="col-md-6 col-12 pr-md-0">
                        <img class="figure-img img-fluid w-100 m-0" src="images/النصائح-للتسوق.jpg">
                </div>
                
                <div class="col-md-6  col-12 text-md-left text-center pl-md-0" dir="ltr">
                    <div class="bg-info h-100">
                        <h3 class="label">Local delivery inside the KSA</h3>
                        <p class="p-2 m-md-5 font-weight-bold">
                            Orders are delivered inside Riyadh through Mrsool app for ease of use. While Zagel app, Saudi Post, or express shipping couriers are used for shipping to all regions of the KSA, noting that the customer is totally free to choose the courier and the speed of delivery.</p>   
                    </div> 
                </div>
                
            </div>
            <!--row 4-->


             <!--row 5-->
            <div class="row  flex-column-reverse flex-lg-row py-3 my-3">
                <div class="col-md-6 col-12 text-md-left text-center pr-md-0" dir="ltr">
                   
                    <div class="bg-info h-100">
                        <h3 class="label bg-primary">US-Chinese shipping to the KSA </h3>
                        <p class="p-2 m-md-5 font-weight-bold">Unlike global costly shipping sites, we (Guaranteed Access website) take into account the conditions of customers and have affordable pricing that suits everyone regardless of the weight of the shipment (Pricing is for orders coming from the China and the USA only) .</p>   
                     
                   </div> 
                        
                </div>
                <div class="col-md-6 col-12 pl-md-0 text-right ">
                        <img class="figure-img img-fluid  w-100 m-0" src="images/shipping01.jpg">
                </div>
            </div>
            <!--row 5-->
        </div>
           
        <!-- End container-->


              <!-- Start container-->
              <div class="container my-4">
                <div class="row">
                    
                    <!-- col-12 -->
                    <div class="col-md-3"></div>
                    <div class="col-md-8 col-12 text-md-left text-center" >
                        
                        <ul class="text-primary font-weight-bold list-unstyled p-3">
                            <li><i style='font-size:24px' class='fa'>&#xf137;</i>  For a shipment of less than 250 grams = free-of-charge shipping depending on the package. </li>
                            <li><i style="font-size:24px" class="fa">&#xf137;</i>   For shipments of 250/grams-10/kg = 35 SAR per kg shipping fee. </li>
                            <li><i style="font-size:24px" class="fa">&#xf137;</i> For shipments of 10/kg-30/kg = 30 SAR per kg shipping fee. </li>
                            <li><i style="font-size:24px" class="fa">&#xf137;</i>  For shipments of 30/kg-50/kg = 25 SAR per kg shipping fee. </li>
                            <li><i style='font-size:24px' class='fa'>&#xf137;</i>To calculate other weights, please go to the calculator page.</li>
                        </ul>
                        
                    </div>
                    
    
                    <!-- /col-12 -->
                           
                    <!-- col-md-5 -->
                        <div class="col-md-5  col-12 text-left " >
                            <img class="figure-img img-fluid" src="images/sites.png">  
                        </div>
                    <!-- /col-md-5 -->
                        
                    <!-- col-md-7 --> 
                        <div class="col-md-7 my-auto col-12 text-left font-weight-bolder " >
                            <h3>Shipment Delivery Time </h3>
                            <div class="mt-4 text-primary">
                                <p> After requesting the shipment of your order, we will receive it at our warehouse in Riyadh within 3-5 days, and once it is received, it will be resent from our warehouse to your address in Riyadh within 24-48 hours. However, if your location is outside the city of Riyadh, this will take about 2-3 days, depending on the region.</p><br>
                                <p> * All shipping and delivery fees are subject to revision and amendment. Kindly refer to this page or the calculator always!</p>
                            </div>
                        </div>
                    <!-- /col-md-7 -->
                
                </div>
                <!-- / ROW -->
            </div>
            <!-- End container -->
    </section>
    <!-- End section-1"-->
    

  



  
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>Get the latest News </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="Name"  >
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="email"  >
              </div>
              <button type="submit" class="btn btn-primary">Share</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
    <!-- Start container-->
    <div class="bg-blue w-100 h-100"> 
    <div class="container">
    
        <div class="row pt-5">
    
    
    
    
        <!--col-md-3 -->
        <div class="col-md-3 col-12 text-left">
            <div class="pages">
                <ul>
                    <li><a href="Disputes.html">Disputes</a></li>
                    <li><a href="Forbiddens.html">Forbiddens </a></li>
                    <li><a href="Website-Development.html">Website Development</a></li>
                    <li><a href="Proof-of-money-transfer.html">Proof of money transfer</a></li>
                </ul>
            </div>
        </div>
      <!--col-md-3 -->
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                       <li><a href="Contact-Us.html">Contact Us</a></li>
                       <li><a href="#">FAQs</a></li>
                       <li><a href="Terms-Conditions.html">Terms and Conditions</a></li>
                       <li><a href="Privacy-Policy.html">Privacy Policy</a></li>
                       
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
    
    
    
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                        <li><a href="#">Rights</a></li>
                        <li><a href="About-us.html">About us</a></li>
                        <li><a href="#">Payment methods</a></li>
                        <li><a href="Charging-system.html">Shipping and Delivery</a></li>
              
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
        <!--col-md-3 -->
        <div class="col-md-3 col-12">
    
            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn w-auto"  data-toggle="modal">  latest News  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->
    
    
    
    
    
          
        </div>
    
        <div class="row">
             <div class="mx-auto col-md-5  col-12">
                <div class="paymentWrap">
                    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                        <label class=" paymentMethod ">
                            <div class="method visa"></div>
                            <input type="radio" name="options" checked> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method master-card"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method amex"></div>
                            <input type="radio" name="options">
                        </label>
                         <label class=" paymentMethod">
                             <div class="method vishwa"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cash"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cashh"></div>
                            <input type="radio" name="options"> 
                        </label>
                     
                    </div>        
                </div>
             </div>
        </div>
    
    
    </div>
    <!-- End container-->
    <div class="border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-light mt-1">All rights are reserved for the Guaranteed Access To Trade Corporation   </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- End Footer -->
    
    




        <!-- START JS FILE -->
            
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>