<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title> Delivery of an order to the buyer with receipt of the amount </title>
    
        <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company ">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
        <!-- END SEO SECTION -->


    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

    <style>
        p{padding-top: 0.5rem ;
            margin-bottom: .2rem ;
        }
    </style>
</head>
<body>

   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-order-buyer-receipt-amount-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-of-an-order-to-the-buyer-with-receipt-of-the-amount.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-order-buyer-receipt-amount-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-of-an-order-to-the-buyer-with-receipt-of-the-amount.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->


    <!--Start section-1  -->
    <section class="other_nav_link" style="position: relative; top: 160px;">
        <!-- Start container-->
        <div class="container" id="first-step">
            <div class="wrapper">	
                <div class="arrow-steps clearfix">
                          <div class="step current"> <span>  Definition of service</span> </div>
                          <div class="step"> <span> معلومات المشتري</span> </div>
                          <div class="step"> <span> استلام المبيعات</span> </div>
                          <div class="step"> <span>تكلفة التوصيل</span> </div>
                        </div>
                        <!-- <div class="nav clearfix">
                        <a href="#" class="prev">Previous</a>
                        <a href="#" class="next pull-right">Next</a>
                        </div> -->
                </div>
                <!-- row -->
            <div class="row"  >
            
            
                <div class=" col-md-12  font-weight-bolder text-primary text-center my-3">
                    <h3 class="text-blue">Delivery of an order to the buyer with receipt of the amount </h3>
                   <p class="pr-md-5 font-weight-bold"> It is a service that enables the seller to get a very low shipping cost to deliver the order to the buyer and receive the sales amount from it.  </p>

                    
                </div>
                

                <!--col-md-12 -->
                

                <div class="col-md-12 bg-basket rounded   mb-2">
                    <div class=" p-3 ">
                        <h4 class="text-primary my-2">It is recommended to use in the following cases: </h4>
                        <p class="pr-md-5 my-2">a- When the buyer does not have the means to pay the purchase amount. </p>
                        <p class="pr-md-5 my-2">b- When the seller is concerned about the buyer receiving the order and not paying the amount.</p>
                        <p class="pr-md-5 my-2">c- When you can't go to the shipping companies to ship the order to the buyer.</p>
                    </div> 
                    </div> 
                <!--col-md-12 -->   

                <!--col-md-12 -->   
                <div class="col-md-12  bg-basket rounded   mb-5" >
                    <div class=" p-3" >
                        <h4 class="text-primary">Reviews:</h4>
                        <p  class="pr-md-5 my-2">  Service charges  </p>
                        <p class="pr-md-5 my-2 text-primary">39 if sales are 500 riyals and less.</p>
                        <p class="pr-md-5 my-2 text-primary">6% if sales are more than SR 500.</p>
                        <p class="pr-md-5 my-2 ">The following buyer's information must be available to complete the order.</p>
                        <p class="pr-md-5 my-2 text-primary">Name, mobile number, full address</p>
                    </div>    
              
                <!--col-md-12 -->   

                <!--col-md-12 -->   
                
                  
                        
                    <div class=" text-center w-100 mb-3">
                        <a class="btn btn-primary my-1 px-5  first-step" data-toggle="collapse" 
                            href="#entertoservice" role="button" aria-expanded="true" 
                            aria-controls="collapseExample"> Service sign in </a>
                  </div>
                    
                </div>
                <!--col-md-12 -->  
  
               
                
                
            </div>
             <!-- row -->
            </div>
            <!-- container --> 
            
        </section>
    <!--/ section-1 -->
                
                
                
    <!--/ section-2 -->
        <section class="section-2 " style="margin-top: 160px;">
            <div class="collapse" id="entertoservice">
            <!-- container -->
                <div class="container">
                    <!-- Row -->
                    <div class="row" id="then-hider">
                       
                        <!-- col-4 -->
                        <div class=" col-md-4 col-12 text-center"></div>

                        
                    <div class=" col-lg-12 text-center">
                        <div class="input-group my-4"  >
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"> Buyer name* </span>
                            </div>
                            <input  placeholder="  Enter a valid triple name "oninvalid="InvalidMsg(this);"
                            required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                        <!-- col-4 -->
                        <div class="col-md-12 col-12 text-center">
                            <div class="input-group mb-3"  >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Address 1</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-4 -->
                        
                        <!-- col-4 -->
                        <div class=" col-md-12 col-12 text-center">
                            <div class="input-group mb-3"  >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Address 2</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-4 -->
                        
                        <!-- col-4 -->
                        <div class=" col-md-6 col-12 text-center">
                            <div class="input-group mb-3"  >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">City *</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-4 -->
                         <!-- col-12 -->            
                    <div class=" col-md-6 col-12 text-center">
                        <div class="input-group mb-3"  >
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cityname">Region *</label>
                            </div>
                            <input required type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1"  list="cityname">
                                <datalist id="cityname">
                                <option>الرياض</option>
                                <option>مكة</option>
                                <option>المدينة</option>
                                <option>القصيم</option>
                                <option>الشرقية</option>
                                <option>عسير</option>
                                <option>تبوك</option>
                                <option>حائل</option>
                                <option>الحدود الشمالية </option>
                                <option>جازان</option>
                                <option>الباحة</option>
                                <option>الجوف</option>
                            </datalist>
                        </div>
                    </div>
                    
                    <!--/ col-12-->
                                                
                        
                        
                        <!-- col-12 -->
                        <div class=" col-md-12 text-center">
                            <div class="input-group mb-3"  >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"> His mobile number </span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-md-3 -->
                        
                        <div class="col-md-3 col-12  text-center mx-auto">  
                            <div>
                                <a class="btn btn-primary my-3 px-5 next pull-right then-hider"  data-toggle="collapse"
                                 href="#details"  role="button" aria-expanded="false" aria-controls="collapseExample">  Next</a>
                            </div>
                        </div>
                        
        
                        <!--/  col-md-3 -->                               
                         


                        
                    </div>
                    <!--/ Row -->
                </div>
                <!--/ Container -->
            </div>
            <!--/ collapse -->
        </section>
        <!--/ section-2 -->
        

        
        <!--/ section-3 -->
        <section class="section-3 " >
            <div class="collapse last-hide" id="details">
            <!-- container -->
            <div class="container ">
                
                <div class="row ">
                                        

                  <!--select-->
                    
                        <div class="col-md-4 col-12  text-center "></div>
                        <div class=" col-md-4 col-12 text-center  ">
                            <h3 class="text-primary text-center my-4"  > How to receive the sales amount </h3>
                            <div class=" input-group mb-3 "  >
                                    <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Receipt of sales *</label>
                                    </div>
                                <select class="custom-select" id="test" onchange="showDiv(this)" name="ship_level">
                                    <option value="0">--select--</option>
                                    <option value="bank"> Bank Account </option>
                                    <option value="paybal"> PayPal</option>
                                    <option value="ban"> Al Rajhi Bank </option>
                                    <option value="ban">Delivery of The Amount, Riyadh Only</option>
                                    <option value="another"> Other Ways</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4 col-12  text-center "></div>
                        
                        
                        <div id="bank_acc" class="col-md-12 col-12  text-center" style=" display:none;">
                            
                            
                            <div class="row">
                                
                                
                                 <div class="col-md-6 col-12  mb-3" id="demo"   >
                                    <div class="form-group form-check-inline pl-5">
                                        <input type="checkbox" name="c1" onclick="showMe('div1')">
                                        <label class="form-check-label font-weight-bold ml-3" for="exampleCheck1"> My personal account </label> 
                                    </div>
                                    
                                </div>
                                
                                
                                <div class="col-md-6 col-12  mb-3" id="demo"   >
                                    
                                    <div class="form-group form-check-inline pl-5">
                                        <input type="checkbox"  name="c1" onclick="showMe('div2')" >
                                        <label class="form-check-label font-weight-bold ml-3" for="exampleCheck1"> Another person's account </label> 
                                    </div>
                                    
                                </div>
                                
                            </div>    
                            
                            
                        </div>
                        
                        
           
                        <div id="another_way" class="data col-lg-12 col-sm-12 col-12" style=" display:none;">
                         <form id="myform">
                                <div class="input-group mb-3"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Method name *</span>
                                    </div>
                                    <input type="text" oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                              
                              
                                <div class="input-group mb-3"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Recipient's name*</span>
                                    </div>
                                    <input type="text"oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             
                                <div class="input-group mb-3"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">E-mail *</span>
                                    </div>
                                    <input type="email"oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>


                                <div class="input-group mb-3"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Details *</span>
                                    </div>
                                    <input type="text"oninvalid="InvalidMsg(this);" placeholder="Enter the number and address"
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                                
                                <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                    <input type="submit" class="btn btn-primary  my-3  mx-2" value="Always    ">
                                          
                                    <input type="submit" class="btn btn-primary  my-3  mx-2" value=" Only this transaction  ">
                                     
                                </div> 
                            
                            </form>
                          
                        </div>
                        
                        
                        <form id="myform" class="w-100">
                        <div id="paybal_acc" class="data col-md-12 col-12 col-12" style=" display:none;">
    
                                <div class="input-group mb-3"  >
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text " id="basic-addon1"> PayPal account *</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                              
                              
                                <div class="input-group mb-3"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"> Retype *</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" onpaste="return false;" id="onpaste"
                                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             
                                <div class="input-group mb-3"  >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">  Account-related name </span>
                                    </div>
                                    <input placeholder="Optional" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             
                                
                                
                                
                                <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                    <input type="submit" class="btn btn-primary  my-3  mx-2" value="Always  ">
                                          
                                    <input type="submit" class="btn btn-primary  my-3  mx-2" value=" Only this transaction   ">
                                     
                                </div> 
                            
                             
                              
                        </div> 
                        
                         </form>
                    
                        <div class=" col-md-12 col-12 text-center" >
                            
                            <div class="row">
                                
                                <!-- col-12 -->
                                <div class="col-md-12 col-12 text-center my-3" id="div1" style="display:none">
                                    <form id="myform" class="">
                                    

                                        <div class="input-group mb-3"  >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"> Bank name* </span>
                                            </div>
                                            <input oninvalid="InvalidMsg(this);" 
                                            required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                        
                                     
                                        <div class="input-group mb-3"  >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Iban *</span>
                                            </div>
                                            <input oninvalid="InvalidMsg(this);" placeholder=" Enter the numbers that start with SA, Rajhi is enough 15" 
                                            required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                     
                                     
                                        <div class="input-group mb-3"  >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Retype</span>
                                            </div>
                                            <input oninvalid="InvalidMsg(this);" onpaste="return false;"  placeholder="Enter the numbers that start with SA, Rajhi is enough 15" 
                                            required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                     
    
                                        <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                            <input type="submit" class="btn btn-primary  my-3  mx-2" value="Always  ">
                                                  
                                            <input type="submit" class="btn btn-primary  my-3  mx-2" value=" Only this transaction ">
                                             
                                        </div> 
                                     </form>
                                        
                                </div>
                                    <!--</div>-->
                                
                                
                                   
                                <div class="col-md-12 col-12  text-center my-3" id="div2" style="display:none">
                                    <form id="myform">
                                    
                                    <div class="input-group mb-3"  >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">  Account holder's name*  </span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" placeholder="   Must match  "
                                        required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                  
                                  
                                    <div class="input-group mb-3"  >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Bank Name * </span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    
                                 
                                    <div class="input-group mb-3"  >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Iban</span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" placeholder="Enter the numbers that start with SA, Rajhi is enough 15" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                 
                                 
                                    <div class="input-group mb-3"  >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Retype</span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" onpaste="return false;"  placeholder="Enter the numbers that start with SA, Rajhi is enough 15" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                 

                                 
                                    <div class="input-group mb-3"  >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"> Account relationship with you </span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    
                                
                                    <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                        <input type="submit" class="btn btn-primary  my-3  mx-2" value="Always ">
                                              
                                        <input type="submit" class="btn btn-primary  my-3  mx-2" value="  Only this transaction  ">
                                         
                                    </div> 
                                 </form>
                                </div>
                                       
                                    
                                   
                            </div>
                            <!--/ ROW-->
        
                            
                        </div>
                        
                </div>
                    
            </div>
            <!--End container -->
                

             <!--/ row -->
                <div class="row">
                    <div class="col-md-3 col-12 text-center mx-auto">
                        
                            <div>
                                <a class="btn btn-primary my-3 px-5 next pull-right " data-toggle="collapse" href="#last-Stp"  id="last-hide" role="button" 
                                aria-expanded="false" aria-controls="collapseExample">     Next </a>
                            </div>
                    
                            
                    </div>
                </div>
               <!--/ row -->
            </div>
            <!--/ collapse -->


        </section>
        <!--/ section-3 -->
                
                



 <!--/ section-4 -->

<section class="section-4">
     <!-- collapse -->
    <div class="collapse" id="last-Stp" >
          <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
               <!-- col-md-6  -->
               <div class=" col-md-6 col-12 text-center mx-auto">
                   <div class="input-group my-4"  >
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01"> Delivery cost</label>
                                </div>
                                <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div3', this)" >
                                  <option selected>select ...</option>
                                  <option value="1"> FedEx SR 14 </option>
                                  <option value="2"> Aramex SR 18</option>
                                  <option value="3"> Zajal 12 SR </option>
                                </select>
                </div>
            </div>
                    <!-- col-md-6  -->


                    <!-- col-md-6  -->
               <div class=" col-md-6 col-12 text-center mx-auto">
                   <div class="input-group mb-3 my-4"  >
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">  Will pay for delivery</label>
                                </div>
                                <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div3', this)" >
                                  <option selected>select ...</option>
                                  <option value="1">I (Pay Now) </option>
                                  <option value="2">Buyer</option>

                                </select>
                </div>
            </div>
            <!-- col-md-6  -->

                    <form id="idform" class="w-100">
                    <!-- col-md-12  -->
               <div class=" col-md-12 col-12 text-center mx-auto">
                <div class="input-group mb-3"  >
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Enter sales details * </span>
                    </div>
                    <input  placeholder=""oninvalid="InvalidMsg(this);"
                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <!-- col-md-12  -->
                    <!-- col-md-12  -->
               <div class=" col-md-12 col-12 text-center mx-auto">
                <div class="input-group mb-3"  >
                    <div class="input-group-prepend">
                        <span class="input-group-text w-auto" id="basic-addon1">Amount requested from the buyer * </span>
                    </div>
                    <input  placeholder=""oninvalid="InvalidMsg(this);"
                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <!-- col-md-12  -->
                <!-- col-md-12  -->
                    <div class=" col-md-12 col-12 text-center mx-auto">
                    <div class="input-group mb-3"  >
                        <div class="input-group-prepend">
                            <span class="input-group-text w-auto" id="basic-addon1">Retype * </span>
                        </div>
                        <input  placeholder=""oninvalid="InvalidMsg(this);" onpaste="return false;"  id="onpaste"
                        required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <!-- col-md-12  -->
                    <div class="col-md-3 col-12 text-center mx-auto">
                  <input type="submit"class="btn btn-primary my-3 px-5 next pull-right"  value="  Pay Now ">

                    </div>
            </form>

        </div>
           <!-- row -->
    </div> 
    <!-- container -->
    </div> 
    <!-- collapse -->
</section>
 <!--/ section-4 -->

    
    


    

        <!-- START JS FILE -->
        
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
       
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>



               <script>


       








                function showMe (box)
                {
                    var chboxs = document.getElementsByName("c1");
                    var vis = "none";
                    for(var i=0;i<chboxs.length;i++)
                    { 
                        if(chboxs[i].checked)
                        {
                         vis = "block";
                            break;
                        }
                    }
                    document.getElementById(box).style.display = vis;
                }
                    
                </script>
                 <!-- Checkbox show & hide div -->
                
                 
                 
                 <script>
                    function showDiv(divId, element)
                        {
                            document.getElementById(divId).style.display = element.value == 1 ? 'block' : 'none';
                        }
                 </script>
                 

          <script type="text/javascript">
      
      $(document).ready(function(){

            $('#last-hide').click(function(){
            $('.last-hide' ).hide();
            });


            $('.first-hider').click(function(){
            $('#first-hider' ).hide();
            });
             $('.first-step').click(function(){
            $('#first-step' ).hide();
            });

            $('.then-hider').click(function(){
            $('#then-hider' ).hide();
            });
            
        });

           



                function readURL(input) {
            
            if (input.files && input.files[0]) {
              var reader = new FileReader();
            
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
            
              reader.readAsDataURL(input.files[0]);
            }
            }
            
           
            
            
        </script>
      <script>
            
        function showMe (box)
        {
            var chboxs = document.getElementsByName("c1");
      
            var vis = "none";
            for(var i=0;i<chboxs.length;i++)
            { 
                if(chboxs[i].checked)
                {
                 vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }
            
        </script>
         <!-- Checkbox show & hide div -->
           
        
        <script>
            
            function showDiv(select) {
                document.getElementById('paybal_acc').style.display = "none";
                document.getElementById('another_way').style.display = "none";
                document.getElementById('bank_acc').style.display = "none";
                if (select.value == 'paybal') {
                
                    document.getElementById('paybal_acc').style.display = "block";
                   document.getElementById('another_way').style.display = "none";
                document.getElementById('bank_acc').style.display = "none";  
                
                } else if (select.value == 'another') {
                  
                    document.getElementById('another_way').style.display = "block";
                    document.getElementById('bank_acc').style.display = "none";
                    document.getElementById('paybal_acc').style.display = "none";
                
                } else if (select.value == 'bank') {
                 
                    document.getElementById('bank_acc').style.display = "block";
                    document.getElementById('paybal_acc').style.display = "none";
                document.getElementById('another_way').style.display = "none";
                 
                }
              }
            
        </script>
        
     
         <script type="text/javascript">

                $('.majorpoints').click(function(){
                $('.section-2' ).find('.hider').toggle();
                });
                $('.majorpoints2').click(function(){
                $('.section-3' ).find('.hider').toggle();
                });
            
                function readURL(input) {
            
            if (input.files && input.files[0]) {
              var reader = new FileReader();
            
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
            
              reader.readAsDataURL(input.files[0]);
            }
            }
            
            $("#imgInp").change(function() {
            readURL(this);
            });
            
            
        </script>



  
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>  
    