<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>Form order for auto parts</title>
    
        <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company ">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
        <!-- END SEO SECTION -->
    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

</head>
<body>

   


    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-order-auto-parts-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-order-auto-parts.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-order-auto-parts-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-order-auto-parts.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->


    <!--Start section-1  -->
    <section class="other_nav_link" style="position: relative; top: 160px;">
        <!-- Start container-->
        <div class="container">

            
            <div class="row " id="first-styp" >
            
            
                <div class=" col-md-12  font-weight-bolder text-primary text-center my-3">
                    <h3>   Auto Parts Order Form  </h3>
                    
                </div>
                


                <!--</div>-->
                <div class="col-md-12 bg-basket rounded text-left mb-5" >
                    <div class="col-lg-12   p-2 ">
                        <ol class=" col-12 d-block pr-md-5 text-blue list-unstyled font-weight-bolder" dir="rtl">: Reviews
                            <li  class="my-2">‌a. The service is especially for customers from within Saudi Arabia</li>
                            <li class="my-2">‌b. You must enter the Vehicle driving license information, or a photo of it</li>
                            <li class="my-2">‌c. There is a nominal amount to complete the application</li>
                            <li class="my-2">d. The possibility to order from Riyadh, America and China only</li>
                            <li class="my-2">e. Even machine, gerbex, and any piece of the car can be ordered or imported</li>
                            <li class="my-2">f. When there is a link from the electronic stores of the item,<a  class="text-primary" href="Personal-Shopper.html">  the personal shopper  </a>  to provide the commission   </li>
                            <li class="my-2">g. To import other products, <a href="Import-solutions.html" class="text-primary"> import solutions </a>    </li>
                            <li class="my-2">h. For features and fees, please check the <a  class="text-primary" href="Make-an-Order-to-purchase-auto-parts.html">  auto parts order </a>    </li>
                        </ol>
                        
                    </div>     
                    
                    <div class="col-md-3 col-12  text-center mx-auto">  
                        <a class="btn btn-primary my-1 px-3  mb-3 first-styp"  data-toggle="collapse" 
                                    href="#first-hider" role="button" aria-expanded="true" 
                                    aria-controls="collapseExample">   Log in to service </a>
                        
                    </div>
  
                </div>
                
                
            </div>
            <!-- container --> 
            
        </section>
    <!--/ section-1 -->
                
                
                
    <!--/ section-2 -->
        <section class="section-2 " style=" margin-top: 160px;" >
            <div class="collapse" id="first-hider">
            <!-- container -->
                <div class="container my-4" id="showHide">
                    <!-- Row -->
                    <div class="row">
                       
                        <!-- col-4 -->
                     
                        
                        <div class=" col-md-12 col-12 text-center mb-5">
                            <div  class="col-md-12 col-12  text-center" >
                        
                        
                                <div class="row">
                                    
                                        <div class="col-md-6 col-12 text-center mb-3" id="demo"  dir="rtl">
                                           <div class="form-group form-check-inline pl-5">
                                               
                                               <label class="form-check-label font-weight-bold ml-3" for="exampleCheck1">   Photos of the vehicle's license  </label>
                                               <input type="checkbox" name="cc1" onclick="showMe('option1')"> 
                                           </div>
                                           
                                       </div>
                                       
                                       
                                       <div class="col-md-6 col-12 text-center mb-3" id="demo"  dir="rtl">
                                           
                                           <div class="form-group form-check-inline pl-5">
                                               
                                               <label class="form-check-label font-weight-bold ml-3" for="exampleCheck1">    Entering vehicle license information </label>
                                               <input type="checkbox"  name="cc1" onclick="showMe('option2')" > 
                                           </div>
                                           
                                       </div>
                                       
                            

                                    <div class=" col-md-12 col-12 text-center " >
                        
                                        <div class="row ">
                            
                                            <!-- col-12 -->
                                            <div class="col-md-6 col-12 text-center my-3" id="option1" style="display:none">
                                                <form class="text-right border wrapper d-flex" id="form1" runat="server" dir="rtl">
                                                    <div class="file-upload">  
                                                        <input class="inputfile " id="image-file2" type="file" multiple/>
                                                        <i class="fa fa-3x fa-image"></i>
                                                        
                                                      </div>
                                                      <div  class="content-img content-img2 w-50  "></div>
                                                  </form>
                                                
                                                <div class=" my-3 px-3">
                                                    <button type="button" class="btn btn-primary px-5">Send</button>
                                                </div>
                                                    
                                            </div>
                                                <!--</div>-->
                                            
                                            
                                             
                                            <div class="col-md-12 col-12  text-center my-3" id="option2" style="display:none">
                                           <form id="myform">
                                                
                                                <div class="input-group mb-3" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"> Chassis Number * </span>
                                                    </div>
                                                    <input type="text"  oninvalid="InvalidMsg(this);" 
                                                    oninput="InvalidMsg(this);" required="required" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                              
                                              
                                                <div class="input-group mb-3" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"> Renumber *</span>
                                                    </div>
                                                    <input type="text" oninvalid="InvalidMsg(this);" 
                                                    oninput="InvalidMsg(this);" required="required" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                                
                                             
                                                <div class="input-group mb-3" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"> Vehicle brand *</span>
                                                    </div>
                                                    <input type="text" oninvalid="InvalidMsg(this);" 
                                                    oninput="InvalidMsg(this);" required="required" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                             
                                             
                                                <div class="input-group mb-3" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"> Vehicle model *</span>
                                                    </div>
                                                    <input type="text" oninvalid="InvalidMsg(this);" 
                                                    oninput="InvalidMsg(this);" required="required" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                             
                                             
                                                <div class="input-group mb-3" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"> Year of manufacture *</span>
                                                    </div>
                                                    <input type="text"  oninvalid="InvalidMsg(this);" 
                                                    oninput="InvalidMsg(this);" required="required" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                                <div class="input-group mb-3" >
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1"> The size of Engine </span>
                                                    </div>
                                                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                                </div>
                                                
                                            
                                            <input type="submit"class="btn btn-primary" value="Send">
                                                
                                              
                                            </form>
                                            </div> 
                                            
                                        

                                        </div>

                                        <div class="col-md-12 col-12 text-center mx-auto">
                                             <a class="first-hider btn btn-primary my-3 px-5 next  " 
                                                data-toggle="collapse" href="#showNx"  role="button" aria-expanded="false" aria-controls="collapseExample" onclick="myFunction()">
                                                Next</a>
                                        </div>
                                        
                                    </div>
                                </div>    
                                    <!--/ ROW-->
                                
                            </div>
                        </div>
                 
                    </div>
                    <!--/ Row -->
                </div>
                <!--/ Container -->
            </div>
            <!--/ collapse -->
        </section>
        <!--/ section-2 -->
        
        


        <section>
            <div class="container collapse" id="showNx">
                <div class="row my-4">
                    <div class=" col-md-3 col-12 text-center mx-auto">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="test" onchange="showDiv(this)" name="ship_level">
                                <option value="0">   Order from Riyadh </option>
                                <option value="bank">   Import from America and China </option>
                                <option value="another"> The cheapest </option>
                            </select>                          
                        </div>
                    </div>


                    <div class="col-md-12 col-12 text-center mx-auto">
                        <a class="first-hider btn btn-primary my-3 px-5 next show-tow " 
                           data-toggle="collapse" href="#showNx"  role="button" aria-expanded="false" aria-controls="collapseExample" >
                           Next </a>
                   </div>
                </div>
            </div>
        </section>
        
        
       <!--/ section-2 -->
        <section class="section-3  my-2">
            
            <div  id="show-tow" style="display: none;">
                
            <div class="container">
                
                    <div class="row">
      
                   <!--/ col-4 -->                               
                         
                        <div class="col-md-12 col-12" >
                            <form >
                            <div class="row " >
                               
                                    <div class="col-12 text-center mx-auto"><h6> Enter correct item name and details, for correct cost, and response speed.
                                       <br> 
                                      <span class="" style="color: red;"> Caution: it is best to enter only one piece details in the form. </span>
                                        </h6>
                                        <p id="para">  </p>
                                    </div>
                                    <!-- col-12 -->
                                    <div class=" col-lg-12 col-12 text-center">
                                        <div class="input-group mb-3" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"> Name of Piece *</span>
                                            </div>
                                            <input type="text"id="example" class="form-control"  oninvalid="InvalidMsg(this);" 
                                            oninput="InvalidMsg(this);" name="text" 
                                             required="required" aria-label="Username" aria-describedby="basic-addon1">
                                        
                                        </div>



                                    </div>
                                    <!--/ col-12-->
                                    
                                    <!-- col-4 -->
                                    <div class="col-md-12 col-12 text-center">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">Description *</span>
                                            </div>
                                            <textarea oninvalid="InvalidMsg(this);" 
                                            oninput="InvalidMsg(this);" name="text" 
                                             required="required"  class="form-control" aria-label="With textarea"placeholder="Enter your details for the piece, for example: the destination, what are the required destinations, the required color, the required lane, other required qualities"></textarea>
                                          </div>
                                    
                                    </div>
                                    <!--/ col-4 -->
                                    
                                    <!-- col-4 -->
                                    <div class=" col-md-6 col-12 text-center">
                                        <div class="input-group mb-3" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Piece Number  </span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" placeholder="Optional, any auto parts store is required">
                                        </div>
                                    </div>
                                    <!--/ col-4 -->
                                    
                                    <!-- col-4 -->
                                    <div class=" col-md-6 col-12 text-center">
                                        <div class="input-group mb-3" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Link </span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Username" placeholder="  Optional, link to clarify piece "  aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <!--/ col-4 -->
                                    
                                    <!-- col-6 -->
                                    <div class=" col-md-6 col-12 text-center">
                                        <div class="input-group mb-3" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"> Market Value </span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <!--/ col-6 -->
                                    <!-- col-6 -->
                                    <div class=" col-md-6 col-12 text-center">
                                        <div class="input-group mb-3" >
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Budget</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                  
                                    <div class=" col-md-12 col-12 text-center mx-auto">
                                        <div class="row">                              
                               
                            
                                            <div class="col-md-6 col-12  text-right  " id="hidden_div2">
                                                <div class="input-group ">
                                                    <input  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                                    <!-- <button type="submit" class="btn btn-primary mx-3 px-5" > حفظ </button> -->
                                                </div>
                                            </div>  
                                    <!--/ col-3 -->
                                    
                                    <!-- col-6 -->
                                            <div class="col-md-6 col-12 ">
                                                <div class="input-group " >
                                                    <div class="input-group-prepend">
                                                      <label class="input-group-text" for="inputGroupSelect01"> Part side *</label>
                                                    </div>
                                                    <select required class="custom-select" required id="test" name="form_select" onchange="showDiv('hidden_div2', this)" >
                                                      <option selected>Select ...</option>
                                                      <option value="0">Right </option>
                                                      <option value="2">Left </option>
                                                      <option value="2">Top </option>
                                                      <option value="2">Bottom </option>
                                                      <option value="2">Set </option>
                                                      <option value="3">Other </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6  col-12 text-center mb-3">
                                                <div class="text-right border wrapper d-flex my-0" id="form1" runat="server" >
                                                    <div class="file-upload">
                                                        <input class="inputfile" id="image-file2" type="file" multiple/>
                                                        <i class="fa fa-3x fa-image"></i>
                                                        
                                                      </div>
                                                      <div  class="content-img content-img2 w-50  "></div>
                                                    </div>
                                            </div>
             
                                            <!--/ col-6 -->                       
                                    
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="col-md-6 col-12  font-weight-bolder "> 
                                        <div class="input-group mb-3" >
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="inputGroupSelect01">Type *</label>
                                            </div>
                                            <select class="custom-select" required id="inputGroupSelect01"  >
                                              <option selected> select ...</option>
                                              <option value="1"> new </option>
                                              <option value="2"> used (from abroad) </option>
                                            </select>

                                    </div>
                                    </div>
                                    
                                    <div class="col-md-6 col-12 font-weight-bolder " >            
                                        
                                        <div class="input-group mb-3" >
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="inputGroupSelect01">Quality *</label>
                                            </div>
                                            <select class="custom-select" required id="inputGroupSelect01"  >
                                              <option selected> select ...</option>
                                              <option value="1"> agency </option>
                                              <option value="2"> first class </option>
                                            </select>

                                    </div>  
                                        
                                    </div>
                              


                                <div class="container">
                                  
                                    <div class="row flex-row-reverse">
                                            <div class="col-md-4 col-6 text-center">
                                        <div class=" text-center ">
                                            <input class=" btn btn-danger rounded-1 text-light  px-4  my-2" type="submit"  value="Send">
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="col-md-4 col-6">
                                        <div class=" rounded-1 text-center px-4 py-2 my-2">
                                            <a class=" btn btn-secondary text-light " href="#"> Add Product </a>
                                        </div>
                                    </div>


                                    <div class="col-md-4 col-12 text-center text-center my-2">
                                        <button class="btn btn-danger rounded-1" Onclick="return ConfirmDelete();" type="reset" name="actiondelete" value="1"><i class="fa fa-1x fa-trash-alt px-3"></i></button>
                                    </div>
                                    </div>
                                </div>
                                <!-- row -->
                                
                                <!-- row -->
                            </form>   
                            </div>
                            <!--/ collapse -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        
        
        
   
        











    

        <!-- START JS FILE -->
        
        <script src="js/jquery.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
       
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        
        
           <script>
            function showDiv(divId, element)
                {
                    document.getElementById(divId).style.display = element.value == 3 ? 'block' : 'none';
                   
                }
                

                function showMe(box) {
                var chboxs = document.getElementsByName("cc1");
   

                var vis = "none";
                for(var i=0;i<chboxs.length;i++)
                { 
                    if(chboxs[i].checked)
                    {
                     vis = "block";
                        break;
                    }
                }
                document.getElementById(box).style.display = vis;
            }
                
         </script>


          <script type="text/javascript">
         $('.first-styp').click(function(){
            $('#first-styp' ).hide();
            });
         $('.first-hider').click(function(){
          $('#first-hider' ).hide();
         });
            
       
         $('.show-tow').click(function(){
          $('#show-tow' ).show();
         });
            
        



            $(document).ready(function() {

           
            $("#drp").onchange(function(){
                var ddlTxt = $("#drp").text();
                $(".divInactive").each(function() {

                cmpValue = $(this).find('#spninactive_' + ddlTxt).text();

                if (ddlTxt == cmpValue) {
                    $(".divInactive #spninactive_" + ddlTxt).show();
                }
                });
            })
            
            

       
       

        // $('.next1').click(function(){
        //     $('#showNext' ).addClass('collapse');
        //     $('#showNx' ).removeClass('collapse');
        //     });

    //     $('.mjorpoints').live('click', function(event) {        
    //      $('.hider').toggle('#first-hider');
    // });
 


        });
        
                function readURL(input) {
            
            if (input.files && input.files[0]) {
              var reader = new FileReader();
            
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
            
              reader.readAsDataURL(input.files[0]);
            }
            }
            
            function cleanall(){
        
            document.getElementById("textview").value = "";
            document.getElementById("textview1").value = "";
            document.getElementById("textview2").value = "";
            document.getElementById("textview3").value = "";
            document.getElementById("textview-area").value = "";
            document.getElementById("textview-area1").value = "";

          }  
          
        function InvalidMsg(textbox) { 

        if (textbox.value === '') { 
            textbox.setCustomValidity 
            ('this input is required').style.backgroundColor = "red"; 
        }else { 
            textbox.setCustomValidity(''); 
        } 

        return true; 
        } 
            

         
            
        </script>
                <script>

                    $(document).ready(function(){
                    
                        
                    $("[data-toggle=tooltip]").tooltip();
                    });
                            window.onclick = function(e)
                        {   var id =  e.target.id;   
                           if (id === 'sent')  
                           { var txtbox = document.getElementById('example');  
                             var txt = txtbox.value;
                             $( "#para" ).append( txt + '<br>');
                             $( txtbox ).val('');  
                           }
                        }
                              </script>



  

        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>  
    