<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>Form Buyer & seller protection service</title>
    
  <!-- START SEO SECTION AND META TAG -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
  <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
  ,Deliver products,Saudi Company ">
  <meta name="copmany" content="Saudi Pavilion">
  <meta name="url" content="">
<!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

</head>
<body>

    
   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form Buyer&seller-protection-service-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form Buyer&seller-protection-service.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form Buyer&seller-protection-service-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form Buyer&seller-protection-service.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
   
  
    
 
 
    <!--Start section transfer -->   
    <section class="other_nav_link" style="position: relative; top: 160px;">
        <!-- Start container-->
        <div class="container " id="first-hider">
            

            <div class="wrapper">	
                <div class="arrow-steps clearfix">
                    <div class="step current "> <span> الموافقة على الشروط  </span> </div>
                    <div class="step "> <span>معلومات البائع</span> </div>
                    <div class="step "> <span> تفاصيل الطلبية</span> </div>
                    <div class="step "> <span>قيمة الطلبية</span> </div>
                    <div class="step "> <span>تحديد المشتري</span> </div>
                </div>
                        <!-- <div class="nav clearfix">
                        <a href="#" class="prev">Previous</a>
                        <a href="#" class="next pull-right">Next</a>
                        </div> -->
            </div>
            
            <div class="row " >
                      
                <div  class="col-md-12 col-12 text-center"> <h3 class="text-primary my-3">Buyer and Seller Protection Form</h3></div>
            <div class="col-md-12 col-12">
                <div class=" bg-basket rounded   my-md-4 p-2">
                    <ol class=" col-12 d-block pr-5 text-blue list-unstyled font-weight-bold"> Reviews :
                        <li class="my-2">a.	There must be a buyer's suite number to use this system.</li>
                        <li class="my-2">‌b. There is a nominal amount to complete the order, depending on your plan.</li>
                        <li class="my-2">c. The service cannot be cancelled after request, except with the consent of the buyer.</li>
                        <li class="my-2">‌d. To find out the details of the system, the  <a href="#" class="text-primary"> seller and buyer protection service. </a>  </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-12 col-12 my-3">
                <div class=" bg-basket rounded my-md-4 p-3 " >
                    <p class="text-md-left my-2 font-weight-bold ">  I pledge that I am the owner of this order, i authorize the site to sell and receive the amount on my behalf, and I pledge the validity of the data entered for this order by the site, as well as the validity of the data I will enter, to use this service and sell the order to the buyer </p>
                     <ol class=" t col-12 d-block pr-md-5 font-weight-bold text-blue list-unstyled" > Conditions
                        <li class="my-2">a. The site has the right to take any action against the account or order holder, when it is proven that the attempt to manipulate or circumvent the site or the buyer, or the non-conformity of the order's specifications for what is written here</li>
                        <li class="my-2">b. The seller may not request the amount of sales unless the order reaches the buyer, and he agrees to the order specifications</li>
                        <li class="my-2">c. The seller has no right to communicate by any means regarding the order with the buyer or to press him for approval, after requesting this service</li>
                        <li class="my-2">d.  The seller does not have the right to order a return until the buyer cancels the purchase or does not respond within 7 days of the approval request</li>
                    </ol>
                        
                        
                        
                        <div class="text-center mx-auto my-2">

                            <label  class="form-check-label font-weight-bold  mr-2 mx-auto" for="exampleCheck1" > I pledge and agree to the terms <br> , and transfer the order at the disposal of the site  </label> <br/>

                            <a class="btn btn-primary my-3 px-3 first-hider"  data-toggle="collapse" 
                            href="#entertoservice" role="button" aria-expanded="true" 
                            aria-controls="collapseExample"> Service sign in </a>
                        </div>
                </div>
            </div>

      
            
        </div>


        </div>
    </div>
    <!--End container -->
</section>
<!--End section transfer -->

     
            
<!--/ section-2 -->
    <section class="section-2 "  style="margin-top: 160px;">
        <div class="collapse" id="entertoservice">
        <!-- container -->
            <div class="container" id="showHide">
                <!-- Row -->
                <div class="row" >
                   
                    <!-- col-4 -->
                    <div class=" col-md-4 col-12 text-center"></div>
                  <div class=" col-lg-12 col-12 text-center">
                    <div class="input-group my-3" >
                        <div class="input-group-prepend">
                            <span class="input-group-text w-auto" id="basic-addon1">Full name as in ID *</span>
                        </div>
                        <input  placeholder="enter correct name"oninvalid="InvalidMsg(this);"
                        required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class=" col-lg-12 text-center">
                    <div class="input-group mb-3" >
                        <div class="input-group-prepend">
                            <span class="input-group-text w-auto" id="basic-addon1"> ID No *</span>
                        </div>
                        <input  placeholder=" ID No "oninvalid="InvalidMsg(this);"  maxlength="10"
                        required="required"  oninput="InvalidMsg(this);" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-12 text-center mx-auto">
                    
                    <div>
                        <a class="entertoservice btn btn-primary my-3 px-5 next pull-right " 
                        data-toggle="collapse" href="#details"  role="button" aria-expanded="false" aria-controls="collapseExample" onclick="myFunction()">
                                    Next</a>
                    </div>    
                </div>
                
                    
                </div>
                <!--/ Row -->
            </div>
            <!--/ Container -->
        </div>
        <!--/ collapse -->
    </section>
    <!--/ section-2 -->
    
    
    
    
    <!--/ section-3 -->
    <section class="section-3 " >
        <div class="collapse" id="details">
        <!-- container -->
        <div class="container ">
            
            <div class="row ">
                                      
              <!--select  -->
                
                    <div class="col-md-4 col-12  text-center "></div>
                    <div class=" col-md-4 col-12 text-center  ">
                        <h1 class="text-primary text-center my-5" >Receipt of sales </h1>
                        <div class=" input-group mb-3 " >
                                <div class="input-group-prepend">
                                <label class="input-group-text w-auto" for="inputGroupSelect01">Receive sales amount*</label>
                                </div>
                            <select required class="custom-select" id="test" onchange="showDiv(this)" name="ship_level">
                                <option value="0">--select--</option>
                                <option value="bank"> Bank Account</option>
                                <option value="paybal"> PayPal</option>
                                <option value="ban"> Al Rajhi Bank </option>
                                <option value="ban">Delivery of The Amount, Riyadh Only   </option>
                                <option value="another"> Other Ways</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-12  text-center "></div>
                    
                    
                    <div id="bank_acc" class="col-md-12 col-12  text-center" style=" display:none;">
                        
                        
                        <div class="row">
                            
                            
                             <div class="col-md-6 col-12 text-center mb-3" id="demo"  >
                                <div class="form-group form-check-inline pr-5">
                                    <input  type="checkbox" name="c1" onclick="showMe('div1')">
                                    <label class="form-check-label font-weight-bold ml-3" for="exampleCheck1"> My personal account </label> 
                                </div>
                                
                            </div>
                            
                            
                            <div class="col-md-6 col-12 text-center mb-3" id="demo"  >
                                
                                <div class="form-group form-check-inline pr-5">
                                    <input type="checkbox"  name="c1" onclick="showMe('div2')" >
                                    <label class="form-check-label font-weight-bold ml-3" for="exampleCheck1"> Another person's account    </label> 
                                </div>
                                
                            </div>
                            
                        </div>    
                        
                        
                    </div>
                    
       
                    



       <!-- another_way -->

                    <div id="another_way" class="data col-lg-12 col-sm-12 col-12" style=" display:none;">
                     <form id="myform">
                            <div class="input-group mb-3" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Method name *</span>
                                </div>
                                <input type="text" oninvalid="InvalidMsg(this);" 
                                required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                          
                          
                            <div class="input-group mb-3" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Recipient's name *</span>
                                </div>
                                <input type="text"oninvalid="InvalidMsg(this);" 
                                required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                         
                            <div class="input-group mb-3" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">E-mail *</span>
                                </div>
                                <input type="email"oninvalid="InvalidMsg(this);" 
                                required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>


                            <div class="input-group mb-3" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Details  *</span>
                                </div>
                                <input type="text"oninvalid="InvalidMsg(this);" placeholder="Enter the number and address    "
                                required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            
                           <div class="d-md-flex d-inline justify-content-between w-100 mb-4">

                            <input type="submit" class="btn btn-primary  my-3  mx-md-2" value="Always  ">
                                  
                            <input type="submit" class="btn btn-secondary  my-3  mx-md-2" value=" Only this transaction   ">
                             
                             </div> 
                        
                        </form>
                      
                    </div>
     <!-- another_way -->
                    



                <!-- paybal -->
                    
                    <form id="myform" class="w-100">
                    <div id="paybal_acc" class="data col-md-12 col-12 col-12" style=" display:none;">

                            <div class="input-group mb-3" >
                                <div class="input-group-prepend ">
                                    <span class="input-group-text " id="basic-addon1">PayPal account *</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);" 
                                required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                          
                          
                            <div class="input-group mb-3" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Retype *</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);" onpaste="return false;" id="onpaste"
                                required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                         
                            <div class="input-group mb-3" >
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Account-related name </span>
                                </div>
                                <input placeholder="Optional" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                         
                            
                            
                            
                            <div class="d-md-flex d-inline justify-content-between w-100 mb-4">

                                <input type="submit" class="btn btn-primary  my-3  mx-2" value="Always  ">
                                      
                                <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" Only this transaction   ">
                                 
                            </div> 
                        
                         
                          
                    </div> 
                    
                     </form>
                
                        <!-- paybal -->
                                            

                     
                    <div class=" col-md-12 col-12 text-center" >
                        
                        <div class="row">
                            
                            <!-- col-12 -->
                            <div class="col-md-12 col-12 text-center my-3" id="div1" style="display:none">
                                <form id="myform" class="">
                                

                                    <div class="input-group mb-3" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Bank Name * </span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    
                                 
                                    <div class="input-group mb-3" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Iban *</span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" placeholder="Enter the numbers that start with SA, Rajhi is enough 15 number" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                 
                                 
                                    <div class="input-group mb-3" >
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Retype *</span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" onpaste="return false;"  placeholder=" Enter the numbers that start with SA, Rajhi is enough 15 number" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                 
                                    <div class="d-md-flex d-inline justify-content-between w-100 mb-4">

                                        <input type="submit" class="btn btn-primary  my-3  mx-2" value="Always  ">
                                              
                                        <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" Only this transaction   ">
                                         
                                    </div> 
                                 </form>
                                    
                            </div>
                                <!--</div>-->
                             
                            <div class="col-md-12 col-12  text-center my-3" id="div2" style="display:none">
                                <form id="myform">
                                
                                <div class="input-group mb-3" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Account holder's name  *  </span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" placeholder="   Must match the  account "
                                    required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                              
                              
                                <div class="input-group mb-3" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Bank name * </span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                
                             
                                <div class="input-group mb-3" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Iban *</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" placeholder=" Enter the numbers that start with SA, Rajhi is enough 15 number" 
                                    required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             
                             
                                <div class="input-group mb-3" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Retype *</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" onpaste="return false;"  placeholder=" Enter the numbers that start with SA, Rajhi is enough 15 number" 
                                    required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             

                             
                                <div class="input-group mb-3" >
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Account relationship with you  </span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                
                            
                                <div class="d-md-flex d-inline justify-content-between w-100 mb-4">

                                    <input type="submit" class="btn btn-primary  my-3  mx-2" value="Always  ">
                                          
                                    <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" Only this transaction   ">
                                     
                                </div> 

                             </form>
                            </div>
                                      
                               
                        </div>
                        <!--/ ROW-->
    
                        
                    </div>

            </div>
                
        </div>
        <!--End container -->
            

         <!--/ row -->
            <div class="row">
                <div class="col-md-3 col-12 text-center mx-auto">
                    
                        <div>
                            <a class="details btn btn-primary my-3 px-5 next pull-right" data-toggle="collapse" href="#pakage"  role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Next</a>
                        </div>
                
                        
                </div>
            </div>
           <!--/ row -->
        </div>
        <!--/ collapse -->


    </section>
    <!--/ section-3 -->
    
    
    
<!--/ section-4 -->
<section class="section-4 " >
    <div class="collapse" id="pakage">
        <!-- container -->
        <div class="container ">
            
            <div class="row ">
                
                <div class="col-md-12 col-12 text-center text-primary">
                   <h3>Delivery Details </h3> 
                </div>
                
                
                 <!-- col-12-->
            <div class="col-md-12 col-12  font-weight-bolder mt-2" >            
                <form>
                    <label><h5>Are the details on the site regarding this order correct and sufficient? *</h5></label>
                        <label class="radio-inline px-5">
                        <input type="radio"  name='test' value="1">  Yes </label>
                    
                        <label class="radio-inline pl-5">
                        <input  type="radio" id='watch-me' name='test' value="2" >  No </label>
                </form>
                
                <div class="col-md-12 col-12  text-center my-3" id="show-me1" style="display:none">  
                    <div class="input-group " >
                       <div class="input-group-prepend">
                         <span class="input-group-text">Message *</span>
                       </div>
                       <textarea class="form-control" id="textview-area" placeholder="Write additional details, or those not explained by the site, noting their problems, if any" aria-label="With textarea"></textarea>
                    </div>   
                       
                </div>
                
            </div>
            <!--/ col-12-->
            
             <!-- col-12-->
            <div class="col-md-12 col-12  font-weight-bolder mt-5" >            
                <form>
                    <label><h5>Are the products in the order new? *</h5></label>
                    
                        <label class="radio-inline px-5">
                        <input type="radio"  name='test' value="a">  Yes </label>
                    
                        <label class="radio-inline pl-5">
                        <input  type="radio" id='watch-me' name='test' value="b" >  No </label>
                   
                </form>
            
            </div>

                <div class="col-md-12 col-12  text-center my-3" id="show-me2" style="display:none">  
                    <div class="input-group " >
                       <div class="input-group-prepend">
                         <span class="input-group-text">Message *</span>
                       </div>
                       <textarea class="form-control" id="textview-area" placeholder=" Write down the name of the product (s) used" aria-label="With textarea"></textarea>
                    </div>   
                       
                </div>
            </div>
            <!--/ col-12-->
                
            </div>
        
            <div class="row">
                <div class="col-md-3 col-12 text-center mx-auto">
                    
                    <div>
                        <a class="pakage btn btn-primary my-3 px-5 next pull-right" data-toggle="collapse" href="#priceneeded"  role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Next</a>
                    </div>
                
                        
                </div>
            </div>
        
        
    </div>
        
            
    
</section>
        
            
            

<!--/ section-5 -->
    <section class="section-5 "  style="margin-top: 160px;">
        <div class="collapse" id="priceneeded">
        <!-- container -->
            <div class="container">
                <!-- Row -->
                <div class="row" >
                   
                    <!-- col-4 -->
                    <div class=" col-md-12 col-12 text-center">
                        <h3 class="text-primary">Delivery Cost </h3>
                    </div>
                    
                  <div class=" col-lg-12 col-12 text-center">
                    <div class="input-group mb-3" >
                        <div class="input-group-prepend">
                            <span class="input-group-text w-auto" id="basic-addon1">Amount requested from the buyer *</span>
                        </div>
                        <input  oninvalid="InvalidMsg(this);"
                        required="required"  oninput="InvalidMsg(this);"  type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class=" col-lg-12 text-center">
                    <div class="input-group mb-3" >
                        <div class="input-group-prepend">
                            <span class="input-group-text w-auto" id="basic-addon1">Retype *</span>
                        </div>
                        <input oninvalid="InvalidMsg(this);" 
                        required="required"  oninput="InvalidMsg(this);" type="number" onpaste="return false;" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-12 text-center mx-auto">
                    
                    <div>
                        <a class="priceneeded btn btn-primary my-3 px-5 next pull-right " 
                        data-toggle="collapse" href="#last-Stp"  role="button" aria-expanded="false" aria-controls="collapseExample" onclick="myFunction()">
                                    Next</a>
                    </div>    
                </div>
                
                    
                </div>
                <!--/ Row -->
            </div>
            <!--/ Container -->
        </div>
        <!--/ collapse -->
    </section>
    <!--/ section-5 -->



<!--/ section-6 -->

<section class="section-6">
 <!-- collapse -->
<div class="collapse" id="last-Stp" >
      <!-- container -->
    <div class="container">
        <!-- row -->
        <form id="idform" class="w-100">
        <div class="row">
               <!-- col-md-6  -->
               <div class=" col-md-6 col-12 text-center mx-auto">
                   <div class="input-group my-3" >
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">Delivery cost *</label>
                                </div>
                                <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div3', this)" >
                                  <option selected>select ...</option>
                                  <option value="1">FedEx 14 SAR  </option>
                                  <option value="2">Aramex 18 SAR  </option>
                                  <option value="3">Zajal 12 SAR  </option>
                                </select>
                </div>
            </div>
                    <!-- col-md-6  -->


                    <!-- col-md-6  -->
               <div class=" col-md-6 col-12 text-center mx-auto">
                   <div class="input-group my-3" >
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">Will pay for delivery  </label>
                                </div>
                                <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div3', this)" >
                                  <option selected>select ...</option>
                                  <option value="1"> I (Pay Now) </option>
                                  <option value="2">Buyer</option>

                                </select>
                </div>
            </div>
            <!-- col-md-6  -->

                   
                    <!-- col-md-12  -->
               <div class=" col-md-12 col-12 text-center mx-auto">
                <div class="input-group mb-3" >
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Enter the purchasing suite number * </span>
                    </div>
                    <input  placeholder="You must choose a buyer"oninvalid="InvalidMsg(this);"
                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <!-- col-md-12  -->
            
            
             <!-- col-md-12  -->
                <div class=" col-md-12 col-12 text-center mx-auto">
                
                    <h3>Please confirm buyer details</h3>
                
                </div>
                <!-- col-md-12  -->
                 
                    
                <div class="col-md-3 col-12  text-center mx-auto">
                <input type="submit"class="btn btn-primary my-3 px-5 next pull-right"  value=" Pay Now  ">

                </div>
     

        </div> <!-- row -->
          </form> 
    </div> 
    <!-- container -->
</div> 
<!-- collapse -->
</section>
<!--/ section-6 -->












         
    <script src="js/jquery-3.2.1.slim.min.js" ></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>



    <script>
        
        function showMe (box)
        {
            var chboxs = document.getElementsByName("c1");
      
            var vis = "none";
            for(var i=0;i<chboxs.length;i++)
            { 
                if(chboxs[i].checked)
                {
                 vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }
        
    </script>
     <!-- Checkbox show & hide div -->
            
             
             
             <script>
                function showDiv(divId, element)
                    {
                        document.getElementById(divId).style.display = element.value == 1 ? 'block' : 'none';
                    }  
             </script>
             
             
             <script>
                
                     $('.entertoservice').click(function(){
                    $('#entertoservice' ).toggle();
            });
                 
                 
                    
                     $('.details').click(function(){
                    $('#details' ).toggle();
            });
                    
                    
                    
                     $('.pakage').click(function(){
                    $('#pakage' ).toggle();
            });
                    
                    $('.priceneeded').click(function(){
                    $('#priceneeded' ).toggle();
            });
                
                
             </script>
             

      <script type="text/javascript">
  

            function readURL(input) {
        
        if (input.files && input.files[0]) {
          var reader = new FileReader();
        
          reader.onload = function(e) {
            $('#blah').attr('src', e.target.result);
          };
        
          reader.readAsDataURL(input.files[0]);
        }
        }
        
      </script>   
      
      
     <!-- Radio Button show & hide div --> 
    <script>
        
        $("input[name='test']").click(function () {
        $('#show-me1').css('display', ($(this).val() === '2') ? 'block':'none');
        });
        
    </script>
  
    <script>
        
        $("input[name='test']").click(function () {
        $('#show-me2').css('display', ($(this).val() === 'b') ? 'block':'none');
        });
        
    </script>
     <!-- Radio Button show & hide div -->
       
    
    <script>
        
        function showDiv(select) {
            document.getElementById('paybal_acc').style.display = "none";
            document.getElementById('another_way').style.display = "none";
            document.getElementById('bank_acc').style.display = "none";
            if (select.value == 'paybal') {
            
                document.getElementById('paybal_acc').style.display = "block";
               document.getElementById('another_way').style.display = "none";
            document.getElementById('bank_acc').style.display = "none";  
            
            } else if (select.value == 'another') {
              
                document.getElementById('another_way').style.display = "block";
                document.getElementById('bank_acc').style.display = "none";
                document.getElementById('paybal_acc').style.display = "none";
            
            } else if (select.value == 'bank') {
             
                document.getElementById('bank_acc').style.display = "block";
                document.getElementById('paybal_acc').style.display = "none";
            document.getElementById('another_way').style.display = "none";
             
            }
          }
        
    </script>
    
 

     <script type="text/javascript">

            // $('.first-step').click(function(){
            // $('#first-hider' ).show();
            // });

            $('.then-step').click(function(){
            $('#then-hider' ).show();
            });

            $('.majorpoints').click(function(){
            $('.section-2' ).find('.hider').show();
            });
            
            $('.first-hider').click(function(){
            $('#first-hider' ).hide();
            });
            
            $('.then-hider').click(function(){
            $('#then-hider' ).hide();
            });

            $('.majorpoints2').click(function(){
            $('.section-3' ).find('.hider').toggle();
            });
        
            function readURL(input) {
        
        if (input.files && input.files[0]) {
          var reader = new FileReader();
        
          reader.onload = function(e) {
            $('#blah').attr('src', e.target.result);
          };
        
          reader.readAsDataURL(input.files[0]);
        }
        }
        
        $("#imgInp").change(function() {
        readURL(this);
        });
        
        
    </script>


    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- End JS FILE -->
</body>
</html>  
