<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title> Import basket </title>
    
        <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company ">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
        <!-- END SEO SECTION -->


    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

    <style>
        p{padding-top: 0.5rem ;
            margin-bottom: .2rem ;
        }
    </style>
</head>
<body>

   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.اhtml">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Import-basket-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Import-basket.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.اhtml">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Import-basket-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Import-basket.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    




    
    <section  class="other_nav_link" style="position: relative; top: 130px;"> 
        <nav class="other_nav">
           <div class="container-shop">
            
             <!-- <div class="input-group mb-3 navbar-left w-75 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text "  id="basic-addon1"><i class=" ml-2 fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div> -->
             <ul class="navbar-right">
                <li><a href="#" id="favo">
                    <i class="fa  fa-2x fa-heart"></i>
                    <span class="badge bg-danger">5</span></a></li>

               <li><a href="#" id="cart">
                   <i class="fa  fa-2x fa-shopping-cart"></i>
                   <span class="badge">3</span></a></li>
               
             </ul> <!--end navbar-right -->
           </div> <!--end container -->
         </nav>
         
         
         <div class=" container-shop ">
           <div class="shopping-cart ">
             <div class="shopping-cart-header">
               <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
               <div class="shopping-cart-total">
                 <span class="lighter-text">Total:</span>
                 <span class="main-color-text">$2,229.97</span>
               </div>
             </div> <!--end shopping-cart-header -->
         
             <ul class="shopping-cart-items">
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
                 <span class="item-name">Sony DSC-RX100M III</span>
                 <span class="item-price">$849.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
         
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
                 <span class="item-name">KS Automatic Mechanic...</span>
                 <span class="item-price">$1,249.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
         
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
                 <span class="item-name">Kindle, 6" Glare-Free To...</span>
                 <span class="item-price">$129.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
             </ul>
         
             <a href="#" class="button">Checkout</a>
           </div> <!--end shopping-cart -->
         </div> <!--end container -->
   
   
   </section>
   
   




                
    <!--other_nav_link -->
        <section class="section-2" style="margin-top: 160px;">
            <!-- container -->
            <div class="container">
                    
                     <!-- row -->
                    <div class="row ">
                         
                    <!-- المنتجات -->   
                        <div class="col-md-8 col-12 "  >

                            <div class=" bg-basket  p-md-3 mb-3  font-weight-bolder">
                                <form >
                                    <input id="selectAll"  type="checkbox"  name="selectAll" value="Bike">
                                    <label for="selectAll"> Buy all products </label><br>
                                </form>
                            </div>
                            
                            
                            <!-- ROW -->
                            <div class=" bg-basket p-3 mb-4 ">
                                
                                <div class="row">
                                    
                                    <div class="col-md-3 col-12  text-sm-center ">
                                        <input id="selectAll"  type="checkbox"  name="selectAll" value="Bike">
                                        <label for="selectAll"> Buy this only </label>
                                  
                                    </div>
                                    <div class="col-md-6 col-12 text-sm-center ">
                                            <a  href="#myModal_11" class="btn btn-secondary  text-decoration-none text-light mb-2 mx-3 px-2 "  data-toggle="modal">  See offers  </a>
                                            <a  href="#" class="  btn btn-blue text-decoration-none text-light  mb-2 mx-3 px-2 " > Sure the link  </a>
                                    </div>
                                   
                                    
                                    <div class="col-md-3 col-12  text-sm-center ">
                                        <p class=" btn btn-blue px-3 mb-2 font-weight-bolder "> 10000 SAR   </p>
                                    </div>
                                    
                            
                                    
                                    <div class="col-md-3 col-12 mt-3  border-bottom">
                                        <img class="img-fluid" src="images/png-transport.png">
                                    </div>
                                    


                                    <div class="col-md-3 col-12 mt-3 font-weight-bolder border-bottom">
                                        <ul>
                                            <li>Name:</li>
                                            <li>wieght:</li>
                                            <li>Color:</li>
                                            <li>Size:</li>
                                            <li>Description:</li>
                                                                                        
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-3 col-12 mt-3 font-weight-bolder border-bottom">
                                        <ul>
                                            <li>Quality:</li>
                                            <li>Number of Offers:</li>
                                            <li>Approximate Shipping Cost per Piece x 1</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-3 col-12 mt-3 border-bottom">
                                        <div class="input-group w-100"  >
                                            <div class="input-group-prepend w-100">
                                            <label class="input-group-text d-block" for="inputGroupSelect01">Quantity</label>
                                            <input class="w-100 d-inline " type="text"  id="inputGroupSelect01" name="inputGroupSelect01"><br>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="input-group mb-3"  >
                                            <div class="input-group-prepend mr-0 w-100 text-center mx-auto " >
                                                <label class="input-group-text w-100 pr-4 " id="chang-kg" for="inputGroupSelect02">Quantity Change</label>
                                           
                                            </div>
                                            <div class=" chang-kg" style="display: none;" >
                                                <input class="w-100 d-inline " type="number"  id="inputGroupSelect01" name="inputGroupSelect01"><br>
                                                
                                                <label class="input-group-text w-100 pr-4 "  for="inputGroupSelect02"> Update</label>
                                            </div>
                                            
                                        </div>
                                            
                                             
                                    </div>
                                     
                                <hr>
                                
                                   
                                <div class="col-md-8 col-12 text-md-left text-center mt-2 pb-2">   
                                    <a class="btn btn-primary  mb-2 " data-toggle="collapse" href="#more_images1" role="button" aria-expanded="false" aria-controls="more_images">
                                        additional photo </a>
            
                                        <div class="collapse" id="more_images1">
                    
                                            <a><img class=" motor" src="images/motor1.jpg"  data-toggle="modal" data-target="#modal1"></a>
                                            <a><img class=" motor" src="images/motor2.jpg"  data-toggle="modal" data-target="#modal2"></a>
                                            <a><img class=" motor" src="images/motor3.jpg"  data-toggle="modal" data-target="#modal3"></a>
                                            <a><img class=" motor" src="images/motor4.jpg"  data-toggle="modal" data-target="#modal4"></a>
                                            <a><img class=" motor" src="images/motor5.jpg"  data-toggle="modal" data-target="#modal5"></a>
                                   
                                         </div>
                                </div>

                                
                                <div class="col-md-4 col-12 text-md-right text-center  mt-2  pb-2">

                                    <button class="btn btn-secondary mb-2" Onclick="return ConfirmDelete();"
                                        type="reset" name="actiondelete" value="1"><i class="fa fa-1x fa-trash-alt px-3"></i></button>

                                </div>
                                
                                
                            </div>    <!--/ row -->
                            </div>
                        

  
                    </div>
                    <!--/المنتجات -->

                    <!-- ملخص الطلبية -->
                        
                    <div class="col-md-4 col-12 mb-4" >
                        <div class="w-100 bg-basket  p-3">
                             <div class="w-100">
                                 <h3 class="text-primary text-center">Order summary</h3>
                             </div>

                          <div class="row border-info">
                            <div class=" col-md-6 col-6 ">
                                <ol class=" font-weight-bolder list-unstyled">
                                <li>Item quantity :</li>
                                <li>Request from:‌</li>
                                <li>Shipping to:</li>
                                <li>Delivery time:</li>
                            </ol>
                         </div>
                               <div class=" col-md-6 col-6 text-right">
                                    <ol class=" font-weight-bolder list-unstyled">
                                    <li>10</li>
                                    <li>Iraq</li>
                                    <li>Shopper</li>
                                    <li>7 days</li>
                                </ol>
                             </div>

                          </div>   
                            
                          <div class="row border-info">
                            <div class=" col-md-6 col-8  ">
                                <ol class=" font-weight-bolder list-unstyled  mt-3">
                                    <li>‌ Order amount:</li>
                                    <li>Commission:‌</li>
                                    <li>Insurance <input type="radio"  name="select" ></li>
                                    <li>Other fees:</li>
                                    <li>Name:</li>
                                    <li>Total amount:</li>
                                </ol>
                         </div>
                               <div class=" col-md-6 col-4  text-right">
                                    <ol class=" font-weight-bolder list-unstyled mt-3">
                                    <li>10</li>
                                    <li>Iraq</li>
                                    <li>Shopper</li>
                                    <li>7 days</li>
                                </ol>
                             </div>

                          </div>   
                               
               
                            <div class="w-100 text-center">
                                <div class="btn btn-primary mx-5 my-3 text-center px-2 py-2 ">
                                    <a class=" text-decoration-none text-light  font-weight-bold" href="#">Pay full payment</a>
                                </div>
                            </div>
                             
                            <div class="w-100 text-center">   
                                <a class="btn btn-primary mx-5 my-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Pay part of amount </a>
        
                                    <div class="collapse" id="collapseExample">
                
                                        <label class="w-100"  for="fname">I want to pay: </label>
                                        <input class="w-100 form-control" type="number" id="fname" name="fname"><br><br>
                                        <label  class="w-100"for="lname"> Will increase on the invoice: </label>
                                        <input class="w-100 form-control"type="number" id="lname" name="lname"><br><br>
                              
                                    </div>
                            </div>
                            
                             <div class="w-100 text-center">
                                <div class="btn-danger rounded-1 px-4 py-2">
                                    <a class=" text-decoration-none text-light  font-weight-bold" href="#">Pay now</a>    
                                </div>
                            </div>

                            <div class="text-ecnter font-weight-bolder ">
                                <p>Note1 : The cost of shipping is paid after the order arrives, for the client suite. </p>
                                <p>Note2 : If the purchase amount exceeds the required amount here, the excess amount is added to the user's negative balance, and if the purchase amount is less than the required amount, 
                                    the amount is added to the user's balance and this balance can be used for any other payments. </p>
                            </div>
                            
               
                            
                        </div>
                        
                       
                    </div>
                    <!--/ ملخص الطلبية -->

                       
                    </div>           
                    <!--/ row -->
            </div>
            <!--/ container -->
        </section>
    <!--/ other_nav_link -->            
                
                
                
                
                
     <!-- myModal_11 راية العروض  -->            
                
     <div id="myModal_11" class="modal fade text-center">
        <div class="modal-dialog">
            <div class="col-lg-10 col-sm-10 col-12 main-section">
                <div class="modal-content">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"   >
                              
                              
                                <div class="d-flex justify-content-between">
                                   <a href="#bose1"class="btn btn-primary  px-2  mx-2 mt-2" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample">Offer  1</a>
                                   <a href="#bose2"class="btn btn-danger  px-2 mx-2 mt-2" data-toggle="collapse"  role="button" aria-expanded="true" aria-controls="collapseExample">Offer  2</a>
                                   <a href="#bose3"class="btn btn-primary  px-2  mx-2 mt-2" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="collapseExample">Offer  3</a>
                                 </div>


                                 <!-- عرض  1 -->
                                   <div class="my-3 collapse" id="bose1">
                               
                                   <img class="my-2 " src="images/watch2.jpg" >
                                   <div class="row border-top pt-3"> 
                                    <div class="col-md-6 col-12 text-center  "><h5 class="text-light btn btn-blue"> 1000 SAR  </h5> </div>                         
                                    <div class="col-md-6 col-12 text-center  "><h5 class="text-light btn btn-blue"> Link</h5> </div>                         
                                    
                                    
                                    <div class="col-md-6 col-12 mt-3 font-weight-bolder border-bottom text-left">
                                        <ul>
                                           
                                            <li>Name:</li>
                                            <li>Weight:</li>
                                            <li>Color:</li>
                                            <li>Size:</li>
                                            <li>Size:</li>
                                            <li>Type:</li>
                                            <li>Description:</li>
                                                                                        
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-6 col-12 mt-3 font-weight-bolder border-bottom text-left">
                                        <ul>
                                            <li>Item number:</li>
                                            <li>Quality::</li>
                                            <li>Number of offers:</li>
                                            <li>Request from:</li>
                                            <li>Item destination:</li>
                                            <li>Shipping Cost per Piece x 1</li>
                                        </ul>
                                    </div> 
                                </div>
                                   
                                   </div>
                                 <!-- عرض  1 -->
                                 <!-- عرض  2 -->
                                   <div class="my-3 " id="bose2">
                               
                                   <img class="my-2 " src="images/watch2.jpg" >
                                   <div class="row border-top pt-3"> 
                                    <div class="col-md-6 col-12 text-center  "><h5 class="text-light btn btn-blue"> 1000 SAR </h5> </div>                         
                                    <div class="col-md-6 col-12 text-center  "><h5 class="text-light btn btn-blue"> Link</h5> </div>                         
                                    
                                    
                                    <div class="col-md-6 col-12 mt-3 font-weight-bolder border-bottom text-left">
                                        <ul>
                                           
                                            <li>Name:</li>
                                            <li>Weight:</li>
                                            <li>Color:</li>
                                            <li>Size:</li>
                                            <li>Size:</li>
                                            <li>Type:</li>
                                            <li>Description:</li>
                                                                                        
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-6 col-12 mt-3 font-weight-bolder border-bottom text-left">
                                        <ul>
                                            <li>Item number:</li>
                                            <li>Quality::</li>
                                            <li>Number of offers:</li>
                                            <li>Request from:</li>
                                            <li>Item destination:</li>
                                            <li>Shipping Cost per Piece x 1</li>
                                        </ul>
                                    </div> 
                                </div>
                                   
                                   </div>
                                 <!-- عرض  2 -->
                                 <!-- عرض  3 -->
                                   <div class="my-3 collapse" id="bose3">
                               
                                   <img class="my-2 " src="images/watch2.jpg" >
                                   <div class="row border-top pt-3"> 
                                    <div class="col-md-6 col-12 text-center  "><h5 class="text-light btn btn-blue"> 1000 SAR</h5> </div>                         
                                    <div class="col-md-6 col-12 text-center  "><h5 class="text-light btn btn-blue"> Link</h5> </div>                         
                                    
                                    
                                    <div class="col-md-6 col-12 mt-3 font-weight-bolder border-bottom text-left">
                                        <ul>
                                           
                                            <li>Name:</li>
                                            <li>Weight:</li>
                                            <li>Color:</li>
                                            <li>Size:</li>
                                            <li>Size:</li>
                                            <li>Type:</li>
                                            <li>Description:</li>
                                                                                        
                                        </ul>
                                    </div>
                                    
                                    <div class="col-md-6 col-12 mt-3 font-weight-bolder border-bottom ">
                                        <ul>
                                            <li>Item number:</li>
                                            <li>Quality::</li>
                                            <li>Number of offers:</li>
                                            <li>Request from:</li>
                                            <li>Item destination:</li>
                                            <li>Shipping Cost per Piece x 1</li>
                                        </ul>
                                    </div> 
                                </div>
                                   
                                   </div>
                                 <!-- عرض  3 -->

                            </div>
                        
                                  <div class="d-flex justify-content-between mb-3">
                                 <a href="#"class="btn btn-primary  px-2  mx-2 mt-2"  data-dismiss="modal">Cancel </a>
                                   <a href="#"class="btn btn-primary  px-2 mx-2 mt-2" data-dismiss="modal"> Select offer </a>
                                </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
                
    <!-- End myModal -->            
           
                
    <!-- myModal_11 -->            
                
    <div class="modal fade " id="modal1">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"   >
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor1.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>          
    
    
    <div class="modal fade " id="modal2">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"   >
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor2.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
    <div class="modal fade " id="modal3">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"   >
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor3.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
    <div class="modal fade " id="modal4">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"   >
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor4.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
                
    <div class="modal fade " id="modal5">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"   >
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor5.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
                
    <!-- End myModal -->            
     


    


  
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>Get the latest News </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="Name"  >
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="email"  >
              </div>
              <button type="submit" class="btn btn-primary">Share</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
    <!-- Start container-->
    <div class="bg-blue w-100 h-100"> 
    <div class="container">
    
        <div class="row pt-5">
    
    
    
    
        <!--col-md-3 -->
        <div class="col-md-3 col-12 text-left">
            <div class="pages">
                <ul>
                    <li><a href="Disputes.html">Disputes</a></li>
                    <li><a href="Forbiddens.html">Forbiddens </a></li>
                    <li><a href="Website-Development.html">Website Development</a></li>
                    <li><a href="Proof-of-money-transfer.html">Proof of money transfer</a></li>
                </ul>
            </div>
        </div>
      <!--col-md-3 -->
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                       <li><a href="Contact-Us.html">Contact Us</a></li>
                       <li><a href="#">FAQs</a></li>
                       <li><a href="Terms-Conditions.html">Terms and Conditions</a></li>
                       <li><a href="Privacy-Policy.html">Privacy Policy</a></li>
                       
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
    
    
    
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                        <li><a href="#">Rights</a></li>
                        <li><a href="About-us.html">About us</a></li>
                        <li><a href="#">Payment methods</a></li>
                        <li><a href="Charging-system.html">Shipping and Delivery</a></li>
              
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
        <!--col-md-3 -->
        <div class="col-md-3 col-12">
    
            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn w-auto"  data-toggle="modal">  latest News  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->
    
    
    
    
    
          
        </div>
    
        <div class="row">
             <div class="mx-auto col-md-5  col-12">
                <div class="paymentWrap">
                    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                        <label class=" paymentMethod ">
                            <div class="method visa"></div>
                            <input type="radio" name="options" checked> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method master-card"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method amex"></div>
                            <input type="radio" name="options">
                        </label>
                         <label class=" paymentMethod">
                             <div class="method vishwa"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cash"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cashh"></div>
                            <input type="radio" name="options"> 
                        </label>
                     
                    </div>        
                </div>
             </div>
        </div>
    
    
    </div>
    <!-- End container-->
    <div class="border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-light mt-1">All rights are reserved for the Guaranteed Access To Trade Corporation   </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- End Footer -->






    

        <!-- START JS FILE -->
         
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
                <!-- Checkbox show & hide div -->
         <script>
            
        function showMe (box)
        {
            var chboxs = document.getElementsByName("c1");
            var vis = "none";
            for(var i=0;i<chboxs.length;i++)
            { 
                if(chboxs[i].checked)
                {
                 vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }
            
        </script>
         <!--/ Checkbox show & hide div -->
        
        
        
        
        <script type="text/javascript">

        $('#chang-kg').click(function(){
            $('.chang-kg' ).toggle();
        });
                    // (function(){
                    // $("#cart").on("click", function() {
                    // $(".shopping-cart").fadeToggle( "fast");
                    // }); })();


                $("#selectAll").click(function() {
                    $("input[type=checkbox]").prop("checked", $(this).prop("checked"));
                });
                
                $("input[type=checkbox]").click(function() {
                    if (!$(this).prop("checked")) {
                        $("#selectAll").prop("checked", false);
                    }
                });
                
                jackHarnerSig();

               
        </script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>