<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title> Insurance solution </title>
    
        <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company ">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
        <!-- END SEO SECTION -->


    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

    <style>
        p{padding-top: 0.5rem ;
            margin-bottom: .2rem ;
        }
    </style>
</head>
<body>

   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Insurance-solution-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Insurance-solution.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator.html">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Insurance-solution-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Insurance-solution.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->


        <div class="other_nav_link " style=" position: relative; top: 127px;">
                <!-- container -->
       
                    <div class="container">
                        <div class="row  py-3 my-3">
                         
                            
                            <div class="col-md-6 my-auto col-12 ">
                                <div class="mt-4">
                                    <h2 class="mt-5">When insurance is applicable?</h2>
                                    <p class="my-md-3"><i class="fas fa-check-circle text-primary"></i>  Insurance on orders from the KSA, USA and PRC.</p>
                                    <p class="my-md-3"><i class="fas fa-check-circle text-primary"></i> When shipping orders from the USA and PRC to the KSA.</p>
                                    <p class="my-md-3"><i class="fas fa-check-circle text-primary"></i> When shipment is delivered locally or shipped globally from KSA.</p>
                                </div>
                            </div>
                            <div class="col-md-6  col-12 text-right" >
                                <img class="figure-img img-fluid" src="images/Order Insurance-01.png">  
                           </div>

                        </div>
                    </div>
               
               <!-- End container-->
         </div>



    <!--section-1 -->
        <section class="other_nav_link " style=" position: relative; top: 100px;" >
               <div id="section-advantages">
                <!-- container -->
                 <div class="container">
                <div class="text-center my-4">
                    <h3>How important is order insurance?</h3>
                </div>

                    <!-- row -->
                <div class="row">
                    
                    <!-- col-md-4 -->
                    <div class="col-md-4 col-12 text-center">
                        <div class="order text-primary rounded p-2 h-auto">
                            <a href="#"><img class="figure-img img-fluid w-25"  src="images/order-tracking.svg" alt=""></a>
                        <div  > <h4>1. When ordering products: </h4>
                        <p>When ordering products from shops and markets in the KSA, USA and PRC, insurance for the order is 70% important (3% of order price).</p><br/> 
                        <p>When ordering  products from global e-shops (brokerage), insurance for the order is 25% important (2% of order price).</p>                   
                    </div>
                    </div>
                    </div>
                    <!-- col-md-4 -->


                    <!-- col-md-4 -->

                    <div class="col-md-4 col-12 text-center ">
                        <div class="order text-primary shadow-lg  p-2 rounded h-auto"> 
                             <a href="#">
                            <img class="figure-img img-fluid w-25" src="images/box-01.svg" alt="">
                            </a>
                            <div> 
                            <h4 class="text-primary">2. When shipping products globally:</h4>
                            <p class="text-primary">When globally shipping an order from the KSA, you need compulsory insurance (5% of shipment value) .</p>
                            <p class="text-primary">When shipping an order from the USA and PRC to the KSA, you are free to make insurance (3% of shipment value) .</p>
                            <div class="btn-danger rounded-1 px-2 py-1  w-100 my-2">
                                <a class="nav-link py-1 text-decoration-none text-light" href="Subscription-plans.html">Join Us  </a>
                            </div>
                       
                            </div>
                        </div>
                      
                    </div>
                    <!-- col-md-4 -->


                    <!-- col-md-4 -->
                    <div class="col-md-4 col-12 text-center">
                       <div class="order text-primary rounded  p-2 " style="height: 25.9rem;">
                            <a href="#"><img class="figure-img img-fluid w-25"  src="images/order2.svg" alt=""></a>
                        <div  > <h4>3. When orders are delivered locally: </h4>
                            <p>When an order is delivered locally from Riyadh to other Saudi regions, insurance for the order is 80% important (2% of order price).</p>
                        </div>
                    </div>
                    </div>
                    <!-- col-md-4 -->


                </div>
                  <!-- row -->

                <div class="col-12 text-center my-5" > 
                        <h4>How to calculate order total cost?</h4>
                        <p>If the order value is 2000 SAR, the tax is 100 SAR, and the shipping fee is 250 SAR, then the total amount will be 2350 SAR.
                           And since the cost of insurance is calculated from the value of orders only (5% of order value, to say), you will have to pay only 100 SAR.</p>
                </div>

            </div>  
           <!-- container --> 
        </div>
      
        </section>
    <!--section-1 -->
  
  
  
        <!--section-2 -->
            <section class="other_nav_link " style=" position: relative; top: 80px;">
                <!-- container -->
                        <div class="container">
                            <div class="row py-3 my-3">
                            
                            <!-- col-md-6 -->   
                                <div class="col-md-6 my-auto col-12  "  >
                                    <div class="mt-4">
                                        <h2 class="mt-5">When should you make insurance for an order?</h2>
                                        <p><i class="fas fa-check-circle text-primary"></i> If it's difficult to verify the credibility of a seller or a website.</p>
                                        <p><i class="fas fa-check-circle text-primary"></i> If the order is perishable foods or medicaments that need special care.</p>
                                        <p><i class="fas fa-check-circle text-primary"></i> If the order is too expensive, large, or fragile.</p>
                                        <p><i class="fas fa-check-circle text-primary"></i> In the case of bulk and/or several separated shipments.</p>
                                        <p><i class="fas fa-check-circle text-primary"></i> If there are concerns of a certain shipping courier or of order delivery.</p>
                                         
                                    </div>
                                </div>
                                <!--/ col-md-6 -->

                                <!-- col-md-6 -->
                                    <div class="col-md-6  col-12 text-left" >
                                        <img class="figure-img img-fluid" src="images/Order insurance 02-01.png">  
                                    </div>
                                <!--/ col-md-6 -->

                            </div>
                        </div>
                
                <!-- End container-->
            </section>
         <!--section-2 -->

  
        <!--section-3 -->
            <section class="other_nav_link " style=" position: relative; top: 50px;">
                <!-- container -->
                        <div class="container">

                            <div class="row py-3 my-3">
                            <h2 class="col-12 text-center"> Remuneration you get from order </h2>
                            

                                <!-- col-md-7 -->
                               <div class="col-md-7 my-auto col-12  "  >
                                    <div class="d-flex">    
                                        <div class="mt-3 pr-2">
                                            <img class="w-100 " src="images/Full-01-01.png" alt="">
                                        </div>
                                        <div class="full-text">
                                            <h2 class="mt-5">Full remuneration</h2>
                                            <p>In the case that an order is insured, our site is responsible for it until it is delivered to the customer</p>
                                            <p>Full remuneration is paid upon the loss of an order, whether during shipping by the seller, at the seller's territory, at the warehouse or during local delivery </p>
                                            <p>Full remuneration is paid when the delivery of an order is delayed for more than 30 days, starting from the date of completion of an order by customer. However, mass and delayed orders because of the customer or because of force majeure are excluded .</p>
                                        </div>
                                    </div>

                                    <div class="d-flex ">    
                                        <div class="mt-3 pr-2">
                                            <img class="w-100 " src="images/Full-02-02.png" alt="">
                                        </div>
                                        <div class="full-text">
                                            <h2 class="mt-5">Partial remuneration</h2>
                                            <p>When insurance is not made, we contact the seller, the courier or third parties, and file a claim, if necessary, trying to refund the amount only </p>
                                        </div>
                                    </div>
                                </div>
                                  <!-- col-md-7 -->

                                <div class="col-md-5 col-12 my-auto pt-5" >
                                    <img class="figure-img img-fluid " src="images/Remuneration .svg">  
                                </div>

                            </div>




                         <div class="col-12 text-center my-5" > 
                                <h4 class=""> How can you pay for the insurance?</h4>
                                <p>Insurance is paid in advance for any order or shipment, a notification will pop up upon completion of the payment.</p>
                                <p>Insurance is subject to the terms and conditions of the site agreement, kindly read it carefully.</p>
                                <div class="btn-danger rounded-1 px-2 py-1  col-md-4 col-12 my-2">
                                    <a class="nav-link py-1 text-decoration-none text-light" href="Subscription-plans.html"> Subscrip </a>
                                </div>
                            </div>

                        </div>
                
                <!-- End container-->
            </section>
         <!--section-3 -->




    
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>Get the latest News </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="Name"  >
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="email"  >
              </div>
              <button type="submit" class="btn btn-primary">Share</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
    <!-- Start container-->
    <div class="bg-blue w-100 h-100"> 
    <div class="container">
    
        <div class="row pt-5">
    
    
    
    
        <!--col-md-3 -->
        <div class="col-md-3 col-12 text-left">
            <div class="pages">
                <ul>
                    <li><a href="Disputes.html">Disputes</a></li>
                    <li><a href="Forbiddens.html">Forbiddens </a></li>
                    <li><a href="Website-Development.html">Website Development</a></li>
                    <li><a href="Proof-of-money-transfer.html">Proof of money transfer</a></li>
                </ul>
            </div>
        </div>
      <!--col-md-3 -->
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                       <li><a href="Contact-Us.html">Contact Us</a></li>
                       <li><a href="#">FAQs</a></li>
                       <li><a href="Terms-Conditions.html">Terms and Conditions</a></li>
                       <li><a href="Privacy-Policy.html">Privacy Policy</a></li>
                       
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
    
    
    
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                        <li><a href="#">Rights</a></li>
                        <li><a href="About-us.html">About us</a></li>
                        <li><a href="#">Payment methods</a></li>
                        <li><a href="Charging-system.html">Shipping and Delivery</a></li>
              
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
        <!--col-md-3 -->
        <div class="col-md-3 col-12">
    
            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn w-auto"  data-toggle="modal">  latest News  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->
    
    
    
    
    
          
        </div>
    
        <div class="row">
             <div class="mx-auto col-md-5  col-12">
                <div class="paymentWrap">
                    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                        <label class=" paymentMethod ">
                            <div class="method visa"></div>
                            <input type="radio" name="options" checked> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method master-card"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method amex"></div>
                            <input type="radio" name="options">
                        </label>
                         <label class=" paymentMethod">
                             <div class="method vishwa"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cash"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cashh"></div>
                            <input type="radio" name="options"> 
                        </label>
                     
                    </div>        
                </div>
             </div>
        </div>
    
    
    </div>
    <!-- End container-->
    <div class="border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-light mt-1">All rights are reserved for the Guaranteed Access To Trade Corporation   </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- End Footer -->





    

        <!-- START JS FILE -->
            
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>