<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title> Privacy Policy </title>
    
        <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company ">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
        <!-- END SEO SECTION -->


        <!-- START CSS FILE -->
            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link rel="stylesheet" type="text/css" href="css/style-en.css">
            <link rel="stylesheet" type="text/css" href="css/media.css">
        <!-- END CSS FILE -->


    <style>
        p{padding-top: 0.5rem ;
            margin-bottom: .2rem ;
        }
    </style>
</head>
<body>

   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Privacy-Policy-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Privacy-Policy.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Privacy-Policy-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Privacy-Policy.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->

    
    
    
    
    <div  class="other_nav_link" style="position: relative; top: 160px;">
        
        <div class="container">
        
            <div class="row ">
                
                <!-- col-12 -->
                <div class=" col-md-12 text-primary text-center mt-3">
                    <h1>Privacy Policy</h1>
                </div>
                <!--/ col-12 -->
                
                <!-- Grid column -->
                <div class="ex2 col-md-12 col-12 mb-md-5 my-3 pl-4 ">
                    <h3 class="text-primary pt-3">Introduction</h3>
                    <br/>
                    <p>
                        The Guaranteed Access Website through The Guaranteed Access To Trade Corporation in Saudi Arabia seeks to preserve the privacy of your personal data and we comply with the provisions of the Saudi E-Commerce System and its Executive Regulations on The Protection of Personal Data, and we have drafted this "Privacy Policy" policy to show you what data is collected about you, and for the purposes for which such data is used, so please read this policy carefully.
                    </p><br/>
                    <p>
                        The Privacy Policy is a complementary and indivisible agreement with the terms and conditions of guaranteed access, and your consent to the terms and conditions or your use of the site is expressly approved by you to all of this policy.
                    </p>
                    <p>
                        The term data refers to all data relating to users of the guaranteed access site, including their name, address, contact details and any other data that may identify the user as well as other data related to the user's activities through the site and data related to the devices used in the process of accessing the site.
                    </p>
                   
                    <h5 class="text-primary">(1) Data collected</h5>
                    <p>
                        We collect the data provided by the customer to register his account on the site which includes (name, contact number, email, password, approval of terms and conditions).
                    </p>
                    <p>
                        We collect the data provided to us by the user while communicating with us to inquire about any of our services or to address the problems facing its use of the secure access site.
                    </p>
                    <p>
                        We collect the data you provide to us to report content or products that violate the terms and policies of the guaranteed access site.
                    </p>
                    <br/>
                    
                    <h5 class="text-primary">(2) The data we collect automatically</h5>
                    
                    <p>
                        We automatically collect data such as IP address, device type, browser type, country, city, visit times, visit duration, visit location, most browsed pages by users and other data we automatically collect, which does not include personal user data.
                    </p>
                    
                    <h5 class="text-primary">(3) Shipping orders</h5>
                    <p>
                        We collect the data provided by the customer to submit a shipping order through the site, including the store from which you are purchased and the product data and description.
                    </p>
                    <p>
                        Order data appears in the customer's account as soon as they arrive at its suite, the order data is shown to the customer and this data can be verified electronically through his account.
                    </p>
                    <p>
                        The site examines the order to be shipped for the purposes of verifying its legality and that it is in its case and does not have damage or break.
                    </p>
                    
                    <p>
                        The customer provides us with internal shipping data, which includes a detailed address, and we provide communication applications within Riyadh or shipping companies within the Kingdom with customer data to deliver the shipment to him.
                    </p>
                    <h5 class="text-primary">(4) Payment data processing</h5>
                   <br/>
                   <p>
                    Guaranteed access processes payment data provided to us by customers for delivery of orders through the site in accordance with the terms and conditions of the guaranteed access site and in accordance with the rates advertised through the site, and the payment data processed may include visa or MasterCard data, extent, bank transfer or payment data upon receipt.
                   </p>
                    <p>
                        The guaranteed access site checks customer payments for orders shipped through the site.
                    </p>
                    <h5 class="text-primary">(5) Receipt notices</h5>
                    <br/>
                    <p>
                        The guaranteed access site will notify the customer that the shipment will arrive at its wing in the site warehouses as soon as the order arrives.
                    </p>
                    <p>
                        We collect the data provided to us by the customer in case of reporting a shipment issue within 30 minutes of the time of receipt.
                    </p>
                    
                    <h5 class="text-primary">(6) Content</h5>
                    <p>
                        Customers provide us with shipment data including, for example (product type, quantity, item, weight, color and other product metadata).
                    </p><br/>
                    <p>
                        The user provides us with the content of the messages he sends to the site to inquire, track, deliver, or a problem with the site. 
                    </p>
                    <h5 class="text-primary">(7) Contact details</h5>
                   
                   <p>
                    We collect quick communication data with users through the site which includes (full name, email) 
                   </p>
                   <p>
                    Customers provide us with their contact number and contact details, and this data is made available through the customer's account through the website
                   </p>
                    <br/>
                    
                    <h5 class="text-primary">(8) Cookies (Cookie Policy)</h5>
                    <br/>
                    <p>
                        The guaranteed access site adopts cookie technology, which are small files stored within the hard drive of your computer. When you visit specific web pages from our website, cookies identify your browser through a unique and random number without disclosing any personal information about you. Cookies help us improve your experience of using the site and find out which sections you have the most visited from our site.
                    </p>
                    <h5 class="text-primary">(9) Data collection purposes</h5>
                    <br/>
                    <p>
                        We collect data to register your account on the site, so you can use our services and the various benefits we offer.
                    </p>
                    <p>
                        We collect data to enable the customer to submit orders to ship products through the site and document the shipment data through the user's page and receive and check the site in accordance with the terms and conditions.
                    </p>
                    <p>
                        We collect data to enable the customer to view orders in his account on the site as soon as the shipment arrives at the warehouse.
                    </p>
                    <p>
                        We collect data to enable the customer to communicate with the site management and track special orders either during shipping from abroad or during internal shipping and even delivery of the order to the customer.
                    </p>
                    <p>
                        We collect your data for the purposes of documenting the contact details you have provided us with and verifying your possession of them.
                    </p>
                    <p>
                        We collect your data to enable you to pay electronicly through the website or pay on receipt as well as to follow up on product payments in accordance with agreed payments.
                    </p>
                    <p>
                        We collect your data to communicate with you about any obstacles to electronic payments or payment on receipt.
                    </p>
                    <p>
                        We collect your data to enable you to evaluate the services you receive through the website.
                    </p>
                    <p>
                        We collect your data to enable you to contact us and provide responses to inquiries you have provided to us through the website.
                    </p>
                    <p>
                        We collect your data to personalize content and advertising for you through the site.
                    </p>
                    <p>
                        We collect your data to filter ads that we believe are of interest to you.
                    </p>
                    <p>
                        We collect your data for statistical and internal work purposes on the site.
                    </p>
                    <p>
                        We collect your data for law enforcement purposes or public authority decisions.
                    </p>

                    <h5 class="text-primary">(10) Disclosure limits</h5>
                    <br/>
                    <p>
                        We disclose your data to site owners, employees, employees and service providers for the purposes of implementing secure access site services.
                    </p>
                    <p>
                        We disclose some of your data to e-payment service providers to verify payments made through the site.
                    </p>
                    <p>
                        Disclose your data to customs authorities to prove shipments, quantity, weight, payment of customs duties and VAT.
                    </p>
                    <p>
                        Disclose your address and contact details to shipping companies within Saudi Arabia or delivery applications within Riyadh for product delivery purposes.
                    </p>
                    <p>
                        We disclose your data to comply with the provisions of the law and in accordance with the judicial rulings and the decisions of the competent authorities in the Kingdom.
                    </p>
                    <p>
                        We disclose your data to enforce our terms, conditions and any other agreement between the site and you.
                    </p>
                    <h5 class="text-primary">(11) Data storage</h5>
                   <p>
                    We store all your data on fully protected and secure servers to protect your data from any breach or piracy, and the storage of your data may require its transfer outside Saudi Arabia if the site has an external hosting service provider, so you authorize us to deal with others about your data and authorize it to transfer and store it on the servers we deal with.
                   </p>
   
                   
                    <br/>
                    
                    <h5 class="text-primary">(12) Data integrity</h5>
                    <br/>
                    <p>You know that the Internet is not a 100% secure and secure means, so there may be a breach of our databases despite taking proper measures to protect the data, and in compliance with the Saudi E-Commerce System and its executive regulations we will notify the user of the breach of their data and notify the competent authorities within three days of the date we learned of the breach.</p>
                    
                    
                    <h5 class="text-primary">(13) Amendment of privacy policy</h5>
                    <br/>
                    <p>
                        We have the right to amend this privacy policy at any time, and we will publish the amendments within this document and we will update the date of the last issuance of this document, and your continued use of the site after the modifications of this policy is expressly approved by you, so please review this policy continuously.
                    </p>
                    
                    <h5 class="text-primary">(14) Contact us</h5>
                    <p>
                        You can contact us at any time to inquire about our privacy policy by:
                    </p>
                    <p>
                        E-mail ................................... 
                    </p>
                    <p>
                        Contact us at .......................
                    </p>
                    <br/>
                  
                  
                  
                </div>
            </div>
        </div>
    </div>
                
                
                
                
                
                
                   
                
                
                
                
                
                
                
        
     
<!-- My_model  Footer-->
<div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>Get the latest News </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="Name"  >
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="email"  >
              </div>
              <button type="submit" class="btn btn-primary">Share</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
    <!-- Start container-->
    <div class="bg-blue w-100 h-100"> 
    <div class="container">
    
        <div class="row pt-5">
    
    
    
    
        <!--col-md-3 -->
        <div class="col-md-3 col-12 text-left">
            <div class="pages">
                <ul>
                    <li><a href="Disputes.html">Disputes</a></li>
                    <li><a href="Forbiddens.html">Forbiddens </a></li>
                    <li><a href="Website-Development.html">Website Development</a></li>
                    <li><a href="Proof-of-money-transfer.html">Proof of money transfer</a></li>
                </ul>
            </div>
        </div>
      <!--col-md-3 -->
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                       <li><a href="Contact-Us.html">Contact Us</a></li>
                       <li><a href="#">FAQs</a></li>
                       <li><a href="Terms-Conditions.html">Terms and Conditions</a></li>
                       <li><a href="Privacy-Policy.html">Privacy Policy</a></li>
                       
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
    
    
    
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                        <li><a href="#">Rights</a></li>
                        <li><a href="About-us.html">About us</a></li>
                        <li><a href="#">Payment methods</a></li>
                        <li><a href="Charging-system.html">Shipping and Delivery</a></li>
              
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
        <!--col-md-3 -->
        <div class="col-md-3 col-12">
    
            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn w-auto"  data-toggle="modal">  latest News  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->
    
    
    
    
    
          
        </div>
    
        <div class="row">
             <div class="mx-auto col-md-5  col-12">
                <div class="paymentWrap">
                    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                        <label class=" paymentMethod ">
                            <div class="method visa"></div>
                            <input type="radio" name="options" checked> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method master-card"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method amex"></div>
                            <input type="radio" name="options">
                        </label>
                         <label class=" paymentMethod">
                             <div class="method vishwa"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cash"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cashh"></div>
                            <input type="radio" name="options"> 
                        </label>
                     
                    </div>        
                </div>
             </div>
        </div>
    
    
    </div>
    <!-- End container-->
    <div class="border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-light mt-1">All rights are reserved for the Guaranteed Access To Trade Corporation   </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- End Footer -->







    

        <!-- START JS FILE -->
            
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>  
    