<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title> Store product description </title>
    
        <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Join our website 
        And enjoy shopping from various Saudi e-stores,
        Your orders will reach your door at any location in the world.
            You can shop through Amazon Saudi Arabia, Haraj, Jarir and other Saudi stores,
            and ship your purchases to our warehouse in Saudi Arabia to be forwarded to you,
            This is because most Saudi e-stores do not ship internationally.">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company ">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
        <!-- END SEO SECTION -->


    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

    <style>
        p{padding-top: 0.5rem ;
            margin-bottom: .2rem ;
        }
    </style>
</head>
<body>

   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Store-product-description-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Store-product-description.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        


                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Store-product-description-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Store-product-description.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
   
    

 
    
    <section  class="other_nav_link" style="position: relative; top: 130px;"> 
        <nav class="other_nav">
           <div class="container-shop">
            
             <div class="input-group mb-3 navbar-left w-75 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text "  id="basic-addon1"><i class=" ml-2 fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
             
             
             <ul class="navbar-right">
                
                <li>
                    <select class="cat">
                        <option value="">Catalog</option>
                        <option value=""><a class="#">Clothes</a> </option>
                        <option value=""><a class="#">Accessories</a> </option>
                        <option value=""><a class="#">Shoes</a> </option>
                    </select>
                </li>
                
                <li><a href="#" id="favo">
                    <i class="fa  fa-2x fa-heart"></i>
                    <span class="badge bg-danger">5</span></a></li>

               <li><a href="#" id="cart">
                   <i class="fa  fa-2x fa-shopping-cart"></i>
                   <span class="badge">3</span></a></li>
               
             </ul> <!--end navbar-right -->
           </div> <!--end container -->
         </nav>
         
         
         <div class=" container-shop ">
           <div class="shopping-cart ">
             <div class="shopping-cart-header">
               <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
               <div class="shopping-cart-total">
                 <span class="lighter-text">Total:</span>
                 <span class="main-color-text">$2,229.97</span>
               </div>
             </div> <!--end shopping-cart-header -->
         
             <ul class="shopping-cart-items">
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
                 <span class="item-name">Sony DSC-RX100M III</span>
                 <span class="item-price">$849.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
         
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
                 <span class="item-name">KS Automatic Mechanic...</span>
                 <span class="item-price">$1,249.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
         
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
                 <span class="item-name">Kindle, 6" Glare-Free To...</span>
                 <span class="item-price">$129.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
             </ul>
         
             <a href="#" class="button">Checkout</a>
           </div> <!--end shopping-cart -->
         </div> <!--end container -->
   
   
   </section>
    
    
    <!-- Start other link  -->
    <div class="other_nav_link" style="position: relative; top: 130px;">
            <div class="border-bottom mb-3">
                <div class="container py-2 ">
               
                    <div class="row w-100 mx-auto font-weight-bold">
                        
                        <div class=" col-md col-4  px-1  text-center">
                                <a class="  pl-0 pr-0 text-primary " href="#">Customer ratings</a>
                        </div>
                        
                        <div class=" col-md col-4  px-1  text-center">
                                <a class="  pl-0 pr-0 text-primary  " href="#">Last news</a>
                        </div>
                        
                        <div class=" col-md col-4 px-1  text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">Blog</a>
                        </div>
                        
                        <div class=" col-md col-4  px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">Tracking</a>
                        </div>
                        
                        <div class=" col-md col-4  px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">Calculator </a>
                        </div>
                        
                        <div class=" col-md col-4 px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">List of E-shops </a>
                        </div>
                        
                        <div class=" col-md col-4 px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">Insurance </a>
                        </div>
                       

                    </div>
                </div>
            </div>
        <!-- border-bottom -->       
        
        </div>
        
    </div>
    <!-- End other link  -->
    
    
    
     <!-- Start Section-1  -->
    <section class="products section-2" style="margin-top: 130px;">
        <div class="container">
            
            <div class="row flex-column-reverse flex-lg-row">

                <!-- col-md-6 -->
                <div class="col-md-6 col-12 my-3 text-primary ">
                    <h5 >Electronic products</h5>
                    <div class="row rounded   py-3 mx-3 pro-all">
                            <div class="my-2">
                                <img class="img-fluid width-img " src="images/opop-05.jpg">
                            </div>
                                <div class="col-md-12 col-12  mt-2 pb-2">   
                                        <div id="more-img">
                                            <a><img class="motor" src="images/motor1.jpg"  data-toggle="modal" data-target="#modal1"></a>
                                            <a><img class="motor" src="images/motor2.jpg"  data-toggle="modal" data-target="#modal2"></a>
                                            <a><img class="motor" src="images/motor3.jpg"  data-toggle="modal" data-target="#modal3"></a>
                                            <a><img class="motor" src="images/motor4.jpg"  data-toggle="modal" data-target="#modal4"></a>
                                            <a><img class="motor" src="images/motor5.jpg"  data-toggle="modal" data-target="#modal5"></a>
                                        </div>
                                </div>
                                
                    </div>

                </div>
                <!-- col-md-6 -->

                
                <div class="col-md-6 col-12 my-md-5 font-weight-bolder" >
                    
                            <h3 class="text-md-left text-center text-blue"> product Name</h3>
                            <div class="row   py-3 my-md-5  ">       
                                <div class="col-md-6 col-12" >
                                 

                                    <ul class="list-unstyled text-blue">
                                        <li class=" btn btn-primary px-2 py-1"> Price  </li>
                                       <li> <div class="input-group mb-3" >
                                            <div class="input-group-prepend mr-0 w-100  mx-auto mt-2 " >
                                                <label class="input-group-text w-50 pr-4 btn-primary " id="chang-kg" for="inputGroupSelect02"> Quantity</label>
                                                <div class=" chang-kg  w-50 " >
                                                    <select class="custom-select " id="test" name="form_select" >
                                                        <option selected>1</option>
                                                        <option value="1">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                      </select>
                                                    <!-- <input class="w-100 d-inline " type="number"  id="inputGroupSelect01" name="inputGroupSelect01"><br> -->
                                                    
                                                    <!-- <label class="input-group-text w-100 pr-4 " id="chang-kg" for="inputGroupSelect02"> تحديث</label> -->
                                                </div>
                                          
                                            </div>

                                            
                                        </div>
                                            </li>


                                        <li> <div class="w-75 text-center my-2">
                                            <div class="rounded btn-danger  px-4 py-2">
                                                <a class=" text-decoration-none text-light  font-weight-bold" href="#">Make order</a>    
                                            </div>
                                        </div></li>
                                        <li> The link for the products must be available from the online stores required to request the service</li>
                                    </ul>  
                                </div>
                                
                                <div class="col-md-6 col-12  ">
                                    
                                    <ul class="list-inline list-unstyled  text-primary">
                                        <li > Ships from: </li>
                                        <li > Ship to: </li>
                                       <li > Shipping cost: </li>
                                       <li > Delivery time: </li>
                                    </ul>                  
                                </div>


                                <div class="col-md-6 col-12 text-center mt-4">
                                 <div class="w-100 text-center ">
                                         <div class="btn-danger rounded-1 px-4 py-2">
                                             <a class=" text-decoration-none text-light  font-weight-bold" href="سلة المتجر.html">Buy Now</a>    
                                         </div>
                                     </div>
                                </div>
                                
                                <div class="col-md-6 col-12 text-center mt-4">
                                    <div class="w-100 text-center ">
                                         <div class="btn-danger w-100 rounded-1 px-2 py-2">
                                             <a class=" w-100 text-decoration-none text-light  font-weight-bold " href="#addbask"  data-toggle="modal">Add to cart</a>    
                                         </div>
                                     </div>
                                </div>


                            </div>
                                
                   
                          
                </div>
                
   
            </div>


            <div class="row">
                <div class="col-md-12 col-12 mb-3 text-primary" >

                    <div class="col-md-12  col-12  "> 
                        <h5 >
                            A link must be provided for the products from the electronic stores required to request the service when there is no link for the requested products, the import form, there is a nominal amount submitted to complete the order.
                            For customers from inside Saudi Arabia, you can order from any local or international store.
                            For customers from outside Saudi Arabia, ordering from stores inside Saudi Arabia only.
                            For importing or ordering the purchase of auto parts, auto parts form.
                            For the advantages and service fees, please review the Personal Shopper service.
                        </h5>
                    </div>
                    <div class="d-md-flex justify-content-between  my-3">
                        <h5 class="text-right text-blue">Electronic products</h5>  
                    </div>
                            
                            <div class="row bg-basket rounded text-center  py-3 px-4">
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item"> <img class="pro_image px-4" src="images/custm (1).png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>Electronic clock</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item"> <img class="pro_image px-4" src="images/custm (1).png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>Electronic clock</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item"> <img class="pro_image px-4" src="images/custm (1).png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>Electronic clock</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item"> <img class="pro_image px-4" src="images/custm (1).png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>Electronic clock</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item"> <img class="pro_image px-4" src="images/custm (1).png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>Electronic clock</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item"> <img class="pro_image px-4" src="images/custm (1).png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>Electronic clock</h6></li>
                                </ul>
                                    
                            
                                
                            </div>

                            <div class="text-right mt-3">
                                <a  class="text-right btn-blue p-2  px-4 rounded" href="منتجات قسم المتجر.html">More</a>
                            </div>
                    
                </div>
                
      
            </div>


            <!--End ROW -->
        </div>
        <!--End container -->
    </section>
    <!-- End Section-1  -->
    
    
    
    

    
   <!-- myModal_11 -->            
    <!-- myModal_11 -->            
                
    <div class="modal fade " id="modal1">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"  dir="rtl">
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor1.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>          
    
    
    <div class="modal fade " id="modal2">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"  dir="rtl">
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor2.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Colse</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
    <div class="modal fade " id="modal3">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"  dir="rtl">
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor3.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
    <div class="modal fade " id="modal4">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"  dir="rtl">
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor4.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
                
    <div class="modal fade " id="modal5">
        <div class="modal-dialog " >
            <div class="col-lg-10 col-sm-10 col-12 main-section ">
                <div class="modal-content text-center bg-basket">
                    
                    <div class="col-lg-12 col-sm-12 col-12 user-name">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                      
                    <div class="col-lg-12 col-sm-12 col-12 form-input">
                        <form>
                            <div class="col-md-12 col-12  mb-3" id="demo"  dir="rtl">
                                <div class="text-center  my-3">
                                    <img class="motors" src="images/motor5.jpg" ><br/>
                                    <button type="button" class=" btn btn-primary my-3 w-auto" data-dismiss="modal">Close</button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>               
                
    <!-- End myModal -->            
          
   
<!-- End myModal -->            
      

    
    
    
    
    
    
    
    
       
<!-- myModal  -->

<div id="addbask" class="modal fade text-center " style="margin-top: 180px;">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content p-3">
          <div class="col-lg-12 col-sm-12 col-12 user-name">
          <h1 >The product has been added to the basket.  </h1>
            <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
              
               <a href="#" data-dismiss="modal" class="btn btn-secondary mx-3  " type="menu">Continue shopping </a>

            
                <a href="Store basket.html"  class="btn btn-primary mx-3">Going to the basket</a>

              

          </div>

        </div>
      </div>
    </div>
  </div>
<!-- End myModal -->    
    
 
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>Get the latest News </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="Name" dir="rtl">
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="email" dir="rtl">
              </div>
              <button type="submit" class="btn btn-primary">Share</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
    <!-- Start container-->
    <div class="bg-blue w-100 h-100"> 
    <div class="container">
    
        <div class="row pt-5">
    
    
    
    
        <!--col-md-3 -->
        <div class="col-md-3 col-12 text-left">
            <div class="pages">
                <ul>
                    <li><a href="Disputes.html">Disputes</a></li>
                    <li><a href="Forbiddens.html">Forbiddens </a></li>
                    <li><a href="Website Development.html">Website Development</a></li>
                    <li><a href="Proof of money transfer.html">Proof of money transfer</a></li>
                </ul>
            </div>
        </div>
      <!--col-md-3 -->
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                       <li><a href="Contact Us.html">Contact Us</a></li>
                       <li><a href="#">FAQs</a></li>
                       <li><a href="Terms and Conditions.html">Terms and Conditions</a></li>
                       <li><a href="Privacy Policy.html">Privacy Policy</a></li>
                       
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
    
    
    
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                        <li><a href="#">Rights</a></li>
                        <li><a href="About us.html">About us</a></li>
                        <li><a href="#">Payment methods</a></li>
                        <li><a href="Charging system.html">Shipping and Delivery</a></li>
              
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
        <!--col-md-3 -->
        <div class="col-md-3 col-12">
    
            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn w-auto"  data-toggle="modal">  latest News  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->
    
    
    
    
    
          
        </div>
    
        <div class="row">
             <div class="mx-auto col-md-5  col-12">
                <div class="paymentWrap">
                    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                        <label class=" paymentMethod ">
                            <div class="method visa"></div>
                            <input type="radio" name="options" checked> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method master-card"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method amex"></div>
                            <input type="radio" name="options">
                        </label>
                         <label class=" paymentMethod">
                             <div class="method vishwa"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cash"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cashh"></div>
                            <input type="radio" name="options"> 
                        </label>
                     
                    </div>        
                </div>
             </div>
        </div>
    
    
    </div>
    <!-- End container-->
    <div class="border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-light mt-1">All rights are reserved for the Guaranteed Access To Trade Corporation   </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- End Footer -->






    

        <!-- START JS FILE -->
         
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
            $('#chang-kg').click(function(){
            $('.chang-kg' ).toggle();
            });
        </script>
        <script type="text/javascript">

                   

               
        </script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>