<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title> Subscription plans </title>
    
        <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Broker to order from international sites, provide an American and Chinese address, provide a Saudi address, import from Saudi Arabia, America and China, buy broker from America, buy broker from China, facilitate purchase from global sites, order from Amazon, order from eBay, order from Ali Express, order from Ali baba, order from walmart, low shipping cost from China, low shipping cost from China, low international shipping cost, provision of U.S. address, buyer protection, re-shipping from America, re-shipping from Us, China, Special Suite, China, China, China, Special U.S. Mail, Chinese Mail, Low Shipping Fees, Recharging Site, Purchase from America and China, Comparison between shopandship and MyUS, Cheaper Shipping Company, Cheaper Shipping Cost from Us and china, Import Without Tax, Customs Clearance, Purchase from Riyadh, Auto Parts Broker, Auto Parts Purchase, Cheaper Auto Parts, Purchase from Riyadh, Very Low Internal Shipping Cost">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company ">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
        <!-- END SEO SECTION -->


    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

    <style>
        p{padding-top: 0.5rem ;
            margin-bottom: .2rem ;
        }
    </style>
</head>
<body>

   


    <a id="button-up"></a>
    <!-- Start Nav bar md -->

    <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                            <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Subscription-plans-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Subscription-plans.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                    
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                    </div>
    
    
                <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </div>
                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
                </div>
                    <div class=" col-md col-4  px-1  text-center">
                            <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </div>
                    
                        
                    
                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
  <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none "  >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Our service 
                            </button>
                            <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                                <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                                <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                                <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                                </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                        <ul class="dropdown-menu text-left">
                            <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                            <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                            <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                    </li>
 
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                    </li>
                 
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                        </li>
                    
                    
                        <li class=" nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                           </li>
                        
                    <li class="nav-item">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                    </li>
                        

                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Subscription-plans-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Subscription-plans.html"><img class="language" src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2 mx-3">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    

    



    <!--Start section  -->

    <section  class="other_nav_link mt-5  " style="position: relative; top: 160px; " >
    <div id="section-packages" class="packages">
        <!-- Start container-->
        <div class="container">
            
            <div class="row">
                <!-- col-md-4 -->
                <div class="col-md-4 col-12 " data-animation="fadeInLeft">
                    <div class="item ez-animate ">
                    <div class="label bgsolidscheme">Merchant</div>
                    <div class="title"   >
                        <p>104 $ after discount / 190 days</p>
                        <p> (for a limited time) </p>
                        <p>150 dollar</p>
                    </div>
                    <ul>
                        <li class="fa-2x">All premium advantages</li>
                        <li> Shipping of official documents </li>
                        <li> Order processing upon ordering  </li>
                        <li> 5% Off on local delivery </li>
                        <li> 15% Off on global delivery </li>
                        <li> 2 photos of order upon registered </li>
                        <li> Technical Support 24/7 + A private account manager  </li>
                        <li> Free-of-charge storage up to 30 days  </li>                       
                    </ul>
                  <a href="Sign-Up.html" class="btn btn-primary  ">Subscription</a>

                </div>  <!-- /.Item -->
                </div>
               <!-- col-md-4 -->



               <!-- col-md-4 -->
                <div class=" col-md-4 col-12 " data-animation="fadeInUp">
                    <div class="item ez-animate active selected">
                    <div class="label bgsolidscheme">Premium Recommended</div>
                    <div class="title"  >
                        <p> 49 $ after discount / 190 days </p>
                        <p> (for a limited time)  </p>
                        <p> 99 dollar  </p>
                    </div>
                    <ul>
                        <li>A private shipping address in the KSA, USA & PRC</li>     
                        <li>Free-of-charge shipping</li>
                        <li>Order processing within 24 hours </li>
                        <li>Shipment real weight calculation</li>
                        <li>Consolidation of shipments</li>
                        <li>Technical support throughout business hours</li>
                        <li>Free-of-charge storage up to 14 days</li>
                        <li></li>
                    </ul>
                    <a href="Sign-Up.html" class="btn btn-primary ">Subscription</a>
                </div>

                <!-- /.Item -->
            </div>
                 <!-- col-md-4 -->


                 <!-- col-md-4 -->
                <div class=" col-md-4 col-12 " data-animation="fadeInRight">
                    <div class="item ez-animate ">
                    <div class="label bgsolidscheme">BASIC</div>
                    <div class="title">
                        <p>Free for a limited time</p>
                        <p>Limited quantity</p>
                        <p>&nbsp;</p>
                    </div>
                    <ul>
                        <li>A private shipping address in the KSA, USA & PRC</li>
                        <li>Order processing within 48 hours</li>
                        <li>Shipment volumetric weight calculation</li>
                        <li>Shared shelf + limited space</li>
                        <li>Chat support on Work time</li>
                        <li></li>
                    </ul>
                    <a href="Sign-Up.html" class="btn btn-primary ">Subscription</a>
                </div>

                <!-- /.Item -->
            </div>
             <!-- col-md-4 -->
             <div class="col-md-4 col-12 w-100 btn-danger my-md-5 mx-auto    rounded-1 px-4 py-2 ">
                <a class="w-100 text-decoration-none text-light  font-weight-bold" data-toggle="collapse"
                 aria-controls="table-wrapper"  href="#table-wrapper"> Compare Plans </a>

            </div>
            </div>

               <!--End row-->
        </div>
        <!--End Container-->
    </div>
    <!--Start section  -->
    

</section>

    <!--Start section  -->

    <section  class="collapse " id="table-wrapper" style="position: relative; top: 180px;">


        <div class="table-wrapper" >
            <table class="fl-table">
                <thead>
                <tr >
                    <th class="bg-blue  text-light">Service  </th>
                    <th class=" text-light">Basic</th>
                    <th class=" text-light">Premium</th>
                    <th class=" text-light">Business</th>
                
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>Private suite address  <br> in 3 countries</td>
                    
                    <td  class=" border"><i class="fas fa-3x fa-check-square text-blue "></i></td>
                    <td  class=" border"><i class="fas fa-3x fa-check-square text-blue "></i></td>
                    <td  class=" border"><i class="fas fa-3x fa-check-square text-blue "></i></td>
                </tr>
                <tr>
                    <td>Order registration</td>
                    <td > In 48 hours </td>
                    
                   
                    <td> In 24 hours</td>
                    <td>On receipt</td>
                  
                
                </tr>
                <tr>
                    <td> Site Marketing Commission</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td>30 SR  per customer </td>
                    <td>50 SR  per customer</td>
               
     
                    
                </tr>
                <tr>
                    <td>Shipping cost</td>
                    <td>By size</td>
                    <td>By weight  </td>
                    <td>By weight  </td>
               
                </tr>
                <tr>
                    <td> Suite space</td>
                    <td> Shared rack 30 cm* 30 cm </td>
                    <td> Independent rack</td>
                    <td> Unlimited space</td>
              
                </tr>

                <tr>
                    <td> Free shipping </td>
                     <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                     <td> 200 g and less</td>
                     <td> 300 g and less</td>
                </tr>

                <tr>
                    <td> Free shipping</td>
                    <td>7 days</td>
                    <td>14 days</td>
                    <td>30 days</td>
                </tr>

                <tr>
                    <td>shipment image <br> upon registration</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td> Just two pictures</td>
                </tr>

                <tr>
                    <td>Additional high-quality photos</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td>5 photos for 15 SR  </td>
                    <td>10 photos for 15 SR </td>
                   
                
                </tr>

                <tr>

                    <td>Video of the content <br>  of the shipment</td>

                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>          
                              
                    <td>3 minutes for 25 SR </td>
                    <td>5 minutes for 30 SR  </td>

                </tr>

                <tr>
                    <td>Inspect package </td>
                    <td>25 SR </td>
                    <td>20 SR </td>
                    <td>15 SR </td>
                </tr>

                <tr>
                    <td>Running electronics</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td>45 SR </td>
                    <td>30 SR </td>
                </tr>

                <tr>
                    <td>Repackaging</td>
                    <td>25 SR </td>
                    <td>20 SR </td>
                    <td>15 SR </td>
                  
                </tr>
                <tr>
                    <td> Receiving address</td>
                    <td>It can't be changed</td>
                    <td>2 addresses</td>
                    <td>Unlimited addresses</td>
                  
                  
                </tr>
                <tr>
                    <td> Collecting requests</td>
                    <td>20 SR </td>
                    <td>15 SR </td>
                    <td>10 SR </td>
                  
                </tr>
                <tr>

                    <td> Shipping cost discounts</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td>5% internal shipping</td>
                    <td>5% internal charging 10% <br> external charging </td>

                </tr>
                <tr>
                    <td>Technical support</td>
                    <td>Official opening hours </td>
                    <td>Official working days </td>
                    <td>All times + Private account manager </td>
                  
                </tr>


                <tr>

                    <td>Smart Packaging</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>

                    <td>25 SR </td>
                    <td>Free </td>

                  
                </tr>

                <tr>

                    <td>Emergency processing  <br> and shipping (same day)</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td>40 SR </td>
                    <td>30 SR </td>
           

                  
                </tr>


                <tr>
                    <td>Return to the seller</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                  
                    <td>20 SR</td>
                </tr>
                
                <tr>
                    <td>Send documents</td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td>Available</td>
                </tr>

                <tr>
                    <td>Seller and buyer <br>  protection service</td>

                    <td>40 SR </td>
                    <td>25 SR </td>
                    <td>20 SR</td>
                </tr>

                <tr>
                    <td>Delivery with receipt of the amount</td>

                    <td>20 SR  </td>
                    <td>15 SR </td>
                    <td>Free</td>
                </tr>

                <tr>
                    <td>Insurance </td>
                    <td class=" border"><i class="fas fa-3x fa-check-square text-blue "></i></td>
                    <td class=" border"><i class="fas fa-3x fa-check-square text-blue "></i></td>
                    <td>5% off insurance </td>
                </tr>

                <tr>
                    <td class="rounded-bottom"> Points</td>
                    <td class="rounded-bottom"><i class="fas  fa-2x fa-window-close text-secondary"></i></td>
                    <td class="rounded-bottom"> For every 15 riyals a point</td>
                    <td class="rounded-bottom"> For every 10 riyals a point</td>
                </tr>


                <tbody>
            </table>
        </div>
                  

    </section>
    <!--End section  -->








    
  
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>Get the latest News </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="Name"  >
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="email"  >
              </div>
              <button type="submit" class="btn btn-primary">Share</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 200px;">
    <!-- Start container-->
    <div class="bg-blue w-100 h-100"> 
    <div class="container">
    
        <div class="row pt-5">
    
    
    
    
        <!--col-md-3 -->
        <div class="col-md-3 col-12 text-left">
            <div class="pages">
                <ul>
                    <li><a href="Disputes.html">Disputes</a></li>
                    <li><a href="Forbiddens.html">Forbiddens </a></li>
                    <li><a href="Website-Development.html">Website Development</a></li>
                    <li><a href="Proof-of-money-transfer.html">Proof of money transfer</a></li>
                </ul>
            </div>
        </div>
      <!--col-md-3 -->
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                       <li><a href="Contact-Us.html">Contact Us</a></li>
                       <li><a href="#">FAQs</a></li>
                       <li><a href="Terms-Conditions.html">Terms and Conditions</a></li>
                       <li><a href="Privacy-Policy.html">Privacy Policy</a></li>
                       
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
    
    
    
    
        <!--col-md-3 -->
            <div class="col-md-3 col-12 text-left">
                <div class="pages">
                    <ul>
                      
                        <li><a href="#">Rights</a></li>
                        <li><a href="About-us.html">About us</a></li>
                        <li><a href="#">Payment methods</a></li>
                        <li><a href="Charging-system.html">Shipping and Delivery</a></li>
              
                    </ul>
                </div>
            </div>
        <!--col-md-3 -->
        <!--col-md-3 -->
        <div class="col-md-3 col-12">
    
            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn w-auto"  data-toggle="modal">  latest News  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->
    
    
    
    
    
          
        </div>
    
        <div class="row">
             <div class="mx-auto col-md-5  col-12">
                <div class="paymentWrap">
                    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                        <label class=" paymentMethod ">
                            <div class="method visa"></div>
                            <input type="radio" name="options" checked> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method master-card"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method amex"></div>
                            <input type="radio" name="options">
                        </label>
                         <label class=" paymentMethod">
                             <div class="method vishwa"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cash"></div>
                            <input type="radio" name="options"> 
                        </label>
                        <label class=" paymentMethod">
                            <div class="method ez-cashh"></div>
                            <input type="radio" name="options"> 
                        </label>
                     
                    </div>        
                </div>
             </div>
        </div>
    
    
    </div>
    <!-- End container-->
    <div class="border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-light mt-1">All rights are reserved for the Guaranteed Access To Trade Corporation   </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- End Footer -->




    

        <!-- START JS FILE -->
            
        <script SRc="js/jquery-3.2.1.slim.min.js" ></script>
        <script SRc="js/popper.min.js"></script>
        <script SRc="js/bootstrap.min.js"></script>
        <script type="text/javascript" SRc="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script type="text/javascript" SRc="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" SRc="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>