<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>Terms and Conditions</title>
    
      <!-- START SEO SECTION AND META TAG -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Join our website 
      And enjoy shopping from various Saudi e-stores,
      Your orders will reach your door at any location in the world.
          You can shop through Amazon Saudi Arabia, Haraj, Jarir and other Saudi stores,
          and ship your purchases to our warehouse in Saudi Arabia to be forwarded to you,
          This is because most Saudi e-stores do not ship internationally.">
      <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
      ,Deliver products,Saudi Company ">
      <meta name="copmany" content="Saudi Pavilion">
      <meta name="url" content="">
      <!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-en.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

</head>
<body>

   


  <a id="button-up"></a>
  <!-- Start Nav bar md -->

  <div class="top-nav position-fixed w-100 d-s-none "  style="top: 0px;">
      <div class="navbar navbar-expand-lg navbar-dark ">
      <div class="container">
          <a class="navbar-brand  text-left " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse " id="navbarSite">
              <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                  
                  <li class="nav-item active">
                      <a class="nav-link text-decoration-none"  href="Home.html">Home </a>
                  </li>
                  
                  
                  <li class="nav-item list-unstyled  ">
                      <div class="dropdown">
                          <button class="nav-link mx-auto dropdown-toggle"
                              type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Our service 
                          </button>
                          <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                          <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                          <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                          <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                          </div>
                      </div>
                  </li>
  
                  <li class="nav-item list-unstyled  ">
                      <div class="dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                      <ul class="dropdown-menu text-left">
                          <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                          <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                          <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                          </ul>
                      </div>
                  </li>
  
                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="Global-services.html">Global services  </a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                  </li>
  
  
                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="Terms-Conditions-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="Terms-Conditions.html"><img class="language" src="images/USA2.png"/> </a>
                  </li>
                  
  
                  <li class="btn-danger rounded-1 px-4 py-2 ">
                      <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                  </li>
  
  
              </ul>
              
          </div>
      </div>
      </div>
  
      <div class="other_nav_link">
      <div class="border-top ">
          <div class="container py-2">
          
              <div class="row w-100 mx-auto font-weight-bolder">
                  
                  <div class=" col-md col-4 px-1 text-center">
                          <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                  </div>
                  <div class=" col-md col-4 px-1 text-center">
                          <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance </a>
                  </div>
  
  
              <div class=" col-md col-4  px-1  text-center">
                      <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
              </div>
                  
                  <div class=" col-md col-4  px-1 text-center">
                          <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                  </div>
                  <div class=" col-md col-4 px-1  text-center">
                      <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a>
              </div>
                  <div class=" col-md col-4  px-1  text-center">
                          <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                  </div>
                  
                      
                  
                  <div class="btn-danger rounded-1 px-2 py-1 ">
                      <a class="nav-link py-1 text-decoration-none text-light" href="Login.html">Login</a>
                  </div>
  
              </div>
          </div>
      </div>
      <!-- border-top -->       
  
      </div>
  
   </div>
<!--  End Nav bar md -->


 <!-- Start Nav bar sm -->
  <div class="top-nav w-100  d-md-none "  >
      <div class="navbar navbar-expand-lg navbar-dark ">
      <div class="container">
          <a class="navbar-brand  text-right " href="Home.html"><img class="w-75 text-right" src="images/logo w b.png" alt=""> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse  " id="navbarSite-Sm">
              <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                  
                  <li class="nav-item active">
                      <a class="nav-link text-decoration-none" href="Home.html">Home </a>
                  </li>
                  
                  
                  <li class="nav-item list-unstyled  ">
                      <div class="dropdown">
                          <button class="nav-link mx-auto dropdown-toggle"
                              type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Our service 
                          </button>
                          <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="Personal-Shopper.html">Personal Shopper</a>
                              <a class="dropdown-item" href="Import-solutions.html">Import solutions </a>
                              <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts.html">Order to auto parts </a>
                              <a class="dropdown-item" href="Buyer&seller-protection-service.html">Buyer & seller protection</a>
                              </div>
                      </div>
                  </li>
  
                  <li class="nav-item list-unstyled  ">
                      <div class="dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Special addresses</a>
                      <ul class="dropdown-menu text-left">
                          <li><a class="dropdown-item" href="Subscription-plans.html">Subscription plans</a></li>
                          <li><a class="dropdown-item" href="Addresses-in-the-USA&china.html">Addresses in the USA & china</a></li>
                          <li><a class="dropdown-item" href="Address-in-the-KSA-International.html">Address in the KSA - Global</a></li>
                          </ul>
                      </div>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="Global-services.html">Global services </a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="#">Calculator </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features.html">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution.html">Insurance</a>
                  </li>
               
                  <li class="nav-item">
                      <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Affiliate.html">Affiliate </a>
                      </li>
                  
                  
                      <li class=" nav-item">
                          <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-of-stores.html">Browse stores</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking.html">Tracking</a> 
                         </li>
                      
                  <li class="nav-item">
                      <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Clint ratings.html">Ratings</a>
                  </li>
                      

                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="Terms-Conditions-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link text-decoration-none  " href="Terms-Conditions.html"><img class="language" src="images/USA2.png"/> </a>
                  </li>
              </ul>
              
          </div>
      </div>
      </div>
  
      <div class="other_nav_link">
      <div class="border-top ">
          <div class="container">
          
              <div class="row   w-100 py-2 mx-3">
                  <div class="col-6">
                    <div class=" btn-danger rounded-1  w-75">
                      <a class="nav-link  text-decoration-none text-light" href="Login.html">  Login </a>
                  </div>  
                  </div>
                  
                  <div class="col-6">
                  <div class="btn-danger rounded-1  pt-2 w-75">             
                  <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans.html">Sign Up </a>
                </div></div>
                  
  
              </div>
          </div>
      </div>
      <!-- border-top -->       
  
      </div>
  
   </div>
  <!-- End Nav bar sm  -->
 
    
    
    
    <div  class="other_nav_link" style="position: relative; top: 160px;">
        
        <div class="container">
        
            <div class="row ">
                
                <!-- col-12 -->
                <div class=" col-md-12 col-12 text-primary text-center mt-3">
                    <h1>Terms and conditions</h1>
                </div>
                <!--/ col-12 -->
                
                <!-- Grid column -->
              <div class="ex1 col-md-12  col-12 mb-md-5 my-3 pl-4 text-left" >
                <h3 class="pt-3">Introduction</h3>
                <h5>We are proud to visit the guaranteed access site.</h5>
                <p> We provide guaranteed access site services as an electronic shipping platform that acts as a shipping intermediary between customers in Saudi Arabia and international e-stores</p>
               <p>, and we provide these terms and conditions to govern and regulate the regular relationships between the guaranteed access site and all its users, partners and customers, so please read these terms with due care before using the site or when requesting services in order to ensure the rights of all parties. Your use of the site is an express consent to these terms as a legal document binding on all parties.</p>
                <br/>
                <h5>(1)	Tariffs</h5>
                <p>
                  "Secure access" or "site" or "we" or "addressed and proprietary consciences"refers to the guaranteed access site, its managers, operators and all our services available through the site, It also refers to the owner of the site, the Guaranteed Access To Trade Corporation
                </p>
                <p>"User" or "You" or "Addressed Consciences"refers to the person who uses the guaranteed access site, visits it or requests shipping through it, Whether it is a business represented in its legal representative, or an ordinary person must be at least 18 years of age.</p>
                <p>"Customer" refers to anyone who registers an account at the guaranteed arrival site, whether it is a seller or a buyer.</p>
              <p>"Suite" or "warehouse" or "address" refers to the warehouse of the guaranteed access site in Saudi Arabia, America and China.</p>
              <p>
                "Shipment," or "Package," or "Order" or "Product"refers to the products that the customer requests to ship through the guaranteed access site, when the customer orders a product it becomes an order, and after packaging it becomes a package, and when it is shipped it becomes a shipment.
              </p>
              <p>
                The "online store" refers to the global store from which the customer purchases the products.
              </p>
              <p>"Order" refers to a shipping order provided by the customer through the guaranteed access site, which includes the transfer and shipment of the order from one place to another.</p>
              <p>
                The "Agreement" refers to these terms, terms, privacy policy and any legal contract signed between the site and any other party.
              </p>
              <p>"Third parties" refers to all entities and persons contracted with the guaranteed access site for the purposes of implementing site-specific services, This includes but is not limited to e-payment service providers, hosting service providers, Internet service providers, delivery applications, shipping companies, etc.</p>
              <br/>

               
                <h5>(2)	Location services</h5>
                
                <p>•	Guaranteed Access is a site that specializes in providing shipping services, the site acts as a shipping intermediary between customers and international stores, benefiting from our services customers who want to buy their products from abroad, and we can receive these products in our warehouses in America and China and ship them to Saudi Arabia. </p><br/>
                <p>•	The secure access site provides an advantage to customers in Saudi Arabia, as when shipping arrives at the site warehouses in Riyadh, the site delivers the order via delivery applications within Riyadh or through shipping companies for all cities in Saudi Arabia</p>
                <p>•	The website is provided in accordance with the regulations in force in Saudi Arabia, and the website applies the provisions of the new e-commerce system in force in the Kingdom and its executive regulations.</p>
                
                <h5>(3)	Account registration</h5>
              <p>•	The customer can register his account on the site, which gives him many different benefits and services that may not be available to the average visitor.</p>
                <br/>
                <p>•	To register the account on the site, the user must provide us with the following data (name, contact number, email, password, approval of terms and conditions).</p>
                <p>•	The user must register the account at the secure arrival site with their mobile number and email, so that they can receive any notifications sent to them from the guaranteed access site.</p>
               <p>•	Any user is prohibited from registering with our scoring on more than one account and we will delete all accounts if we find out, and we will block the user's access to the site again.</p>
               <p>•	The user must maintain his username and password, and not disclose them to others, and in any case the client is committed to all transactions made through his account on the site.</p>
               <p>•	All shipments of the customer appear in their account at the guaranteed arrival site, and the content available in the customer's account for shipments is a reliable legal guide in the event of a dispute.</p> 
             <p>•	The membership on the site is provided with a user permit system, so we have the right to withdraw this license and terminate the membership at any time without giving any reasons.</p>
               <h5>(4)	Direct Contracting Policy</h5>
              <p>•	In case the customer wishes to purchase any products displayed in international stores, he should communicate directly with these stores and pay the value of the products without any interference or mediation by the guaranteed access site, and therefore the contracting of the product is direct between the customer and the online store and applies to this relationship the agreements or terms of these stores.</p>
              <br/>
                <p>•	When the customer wishes to ship the products, the guaranteed arrival site will receive these products in their warehouses and then deliver them to the customer's address in accordance with the terms and conditions of this agreement.</p>
               <p>•	The customer clears our legal responsibility for the direct contracting process between him and the online store, and acknowledges that the site is not a party to this contract and its role is limited to shipping the product only.</p>
                
               <p>•	The secure access site does not guarantee that the terms and conditions of online stores are legal or compliant with applicable regulations either in the store country or in Saudi Arabia.</p>
             
             <p>•	The site does not guarantee the accuracy or legality of the data and information about the products it purchases through the stores, which is the responsibility of the online store.</p> 
              <p>•	In the event that the customer requests to perform any contractual terms such as refund, warranty or refund, he should contact the online store directly without any interference or mediation from the website.</p>
            <p>•	The customer acknowledges that the guaranteed access site has no direct or indirect relationship with the online store from which the customer purchased and our role is limited to receiving and shipping the order to the customer only.</p>
            
              <h5>(5)	Customs duties</h5>
                <p>
                  •	The customer must pay the tax set in the customs system, which is 5% of the order value in case the order exceeds SR 1000, either by prepayment or after the final cost.
                </p>
                <p>
                  •	The customer must pay any customs duties currently in force or will apply in the future.
                </p>
                <p>•	The customer knows and agrees that customs duties may change from time to time as approved by the executives, and therefore changes may occur after the customer's request for shipment and before the shipment reaches the customer, and the customer will bear all applicable fees and expenses in all cases.</p>
                <br/>
                
                <h5>(6)	VAT</h5>
                <p>
                  •	The customer must pay VAT on the products of 15% of the value of the product or any other value applied under the applicable regulations.
                </p>
                <p>
                  •	The guaranteed access site collects VAT and then pays it to the competent tax authorities in the Kingdom.
                </p>
                <br/>
                
                <h5>(7)	Registration of the order in the customer's account</h5>
                <p>•	When you order the customer's shipment to its own suite in Riyadh, the site is not responsible for it until it reaches the suite, and then we register it into the customer's account.</p>
                
              <p>
                •	The client's failure to object to the order displayed in his account means that he or she agrees to it and has no right to claim that it is incomplete, broken or contrary to the description on the site.
              </p>
              <p>•	The site has the right at any time to modify the order data recorded in the customer's account if we discover any material or technical errors in the information added.</p><br/>
                
                <h5>(8)	Order check</h5>
               <p>
                •	The site does not have the right to open, test or photograph the customer's shipment except at his request, except for a quick check to make sure that it is free of contraband and to enter the details of the shipment in the customer's suite.
               </p>
               <p>•	When requesting delivery of any prohibited products to the special customer's suite, he is responsible for it and is not entitled to claim them in any way. We have the right to take regular action against him and to destroy the shipment.</p>
               <br/>
               <p>•	The site has the right to reserve and destroy the customer's order when delivering prohibited products to its suite, verify the customer's payments, the source of the order and the seller and take legal action against it as needed.</p>
                
                <h5>(9)	Domestic shipping</h5>
                <p>•	When the shipment arrives at the warehouses of the guaranteed access site in Riyadh, the site delivers the order to the address provided by the customer within Riyadh city through the delivery applications that provide its services in Riyadh.</p><br/>
                <p>
                  •	If the customer's address is outside Riyadh, the guaranteed arrival site ships the customer's order through shipping companies that ship products to all cities in Saudi Arabia.                  
                </p>
                <p>
                  •	The customer must pay a small fee to deliver the order within Riyadh or to ship to all parts of the Kingdom if he or she wishes to ship the order to another area.
                </p>
                <p>
                  •	Our website tries in various ways to deliver the customer's order to his door either inside or outside Riyadh or any location around the world, without having to go to the shipping office or the delegate or the like, but this may not be possible in some areas depending on the carrier's policy.
                </p>
                <p>
                  •	The responsibility of the site ends as soon as the customer is notified of the delivery and the delivery of the connector data, unless there is insurance on the order or shipment, the site is responsible for it until it is delivered to the customer.
                </p>
                <p>•	The customer may be required to provide some official proof to confirm that he or she is the applicant, such as requesting to be presented with an ID. If the customer refuses to do so, the site has the right not to deliver the shipment.</p>
                <p>•	The site is not responsible for the customer's particular dealings with delegates, or the customer's agreement with the delegate to change the delivery date or otherwise.</p>
               
               <p>
                •	The site is not responsible for delayed delivery of the shipment due to force majeure, or any errors due to delivery applications or internal shipping companies.
               </p>
               <p>•	The client must take all precautionary measures related to the prevention of MERS-CoV or other epidemics.</p>
              <p>•	The site is not responsible if the customer has entered the wrong data related to it, such as name, name, contact number, or shipping address.</p>
             
              <h5>(10) Payment policy</h5>
               <p>•	The currencies approved for payment through the guaranteed access site are the Saudi Riyal, the official currency of The Kingdom of Saudi Arabia, and any other currencies that we make available to pay through the site.</p>
              <br/>
              <p>•	The total cost of ordering products is usually paid in two batches, the first payment is a down payment to confirm the customer's seriousness in purchasing, and then supplement the rest with the second payment.</p>
                <p>•	The secure access site provides customers with a variety of payment services, payment can be made online and can choose to pay upon receipt. The site may charge a payment on-receipt service who will be valued by order.</p>
            <p>•	If you choose the payment property upon receipt, the amount must be delivered to the delegate before receiving the order. </p>
              <p>•	The customer must enter correct and accurate payment data, have the authority to use the payment account electronically and be authorized to provide advertising and payment through us.</p>
           <p>•	The site does not accept any errors in the electronic payment process made through our approved payment methods, nor is the site liable for any legal liability in the event that the customer uses unsafe, illegal, stolen or private payment methods or conducts any money laundering through the site.</p>
           <p>•	When a customer uses stolen credit cards, any suspicious payment methods or any attempt to circumvent the site, we have the right to take legal action and reserve the amount and order.</p>
              <p>•	The client shall be charged the bank charges for the transfer or recovery of funds through the website, and the customer knows that these charges may vary from bank to bank.</p>
               <p>
                •	One means of payment may stop from time to time, so the customer must pay through the available and valid means of payment at the time of order.
               </p>
               <p>•	The customer must pay the final amount within 7 days of issuing the shipping cost bill, and after the expiry of the period sR 3 is charged for each additional day, plus the final amount.</p>
              <p>•	There is a storage fee on the order depending on the quality of the customer's package.</p>
               <p>
                •	The site has the right to reserve the customer's order until he pays all the required amounts from him, and he is not entitled to claim the order before him.
               </p>
               <p>•	Once the customer has paid for the shipping of the order, the shipment is ready for delivery whether the customer is notified or not.</p>
              <p>•	The site has the right to modify the payment policy at any time without requiring the consent of any of the site's users.</p>
            
              <h5>(11) Receipt notice</h5>
           <p>
            •	Once the order reaches its suite in our warehouse, the customer is notified, and the order's responsibility is transferred to the customer.
           </p>
           <p>
            •	The site is not responsible if the customer does not respond to the communications and messages of the site regarding the delivery and receipt of the shipment, but the site has the right to return and book the shipment and impose a storage fee on it for each day when the customer does not receive the shipment.
           </p>
           <p>•	The customer must notify the site within half an hour of receipt of the order, when any issue with the shipment is detected.</p>
                
           <p>
            •	If the customer does not notify the site within the specified time, this is proof that there are no issues with the order, and no subsequent complaints will be accepted on the specified time.
           </p>

                <h5>(12) Product Disclaimer</h5>
              <p>
                •	The guaranteed access site acts as a intermediary between the customer and international e-stores, and the site is not a seller, dealer or direct selling platform, so the site is not responsible for the specifications of the customer's order, whether it is used, imitated, damaged or exceeded the expected delivery time.
              </p>
              <p>
                •	The guaranteed access site assumes no legal liability in the event that the customer suffers any damage resulting from the use, intake or exploitation of the products in any way.                
              </p>
              <p>
                •	The guaranteed access site assumes no legal liability in the event that the products purchased by the customer are illegal or violate the customs regulations or regulations, nor does the site assume any liability in the event that these products are seized or returned back to their country.
              </p>
              <p>
                •	Refund requests are submitted directly to the stores from which the customer has purchased, and the guaranteed access site does not interfere with the recovery, return, refund or otherwise of the customer's policies for the store from which he or she has purchased without any guarantees from us.
              </p>
              <p>
                •	If the product is covered by warranty, the customer should communicate directly with the manufacturer or store from which the product was purchased, without any interference or mediation by the guaranteed access site.
              </p>

              <br/>
                <h5>(13) Insurance</h5>
                <p>
                  •	When there is an order lock, the site is responsible for all financial transactions with the store, seller and carrier and the site is responsible for delivering it to the address specified by the customer.
                </p>
                <p>
                  •	The customer will be compensated in full if he does not receive the order or shipment paid within two months of the time of the order.
                </p>
                <p>
                  •	The value of the insurance is determined by the site management and the site will clarify the value of the insurance either through the shipping request from the customer through a list of the value of the insurance through the pages of the site.
                </p>

                <br/>
                <h5>(14) Use policy</h5>
                <p>
                  •	The customer must be eligible to enter into this agreement with us, and must be 18 years of age or older at the time of using our site if an individual or have a valid business record if established.
                </p>
                <p>
                  •	These conditions are formulated in accordance with the Saudi e-commerce system issued in 2019 AD-1440 Hijri, and therefore the client complies with all the provisions of this system.
                </p>
                <p>
                  •	Shipping services are provided through the website in accordance with the regulations in force in Saudi Arabia, and therefore you adhere to these regulations regardless of the country to which you belong.
                </p>
                <p>
                  •	Any information required on the site must be entered correctly and responsible for it, its accuracy, quality, modernity and legality, and are obliged to update it whenever any change occurs.
                </p>
                <p>
                  •	The site must be used legally and in accordance with the stated objectives and purposes of us, and that such use should be taken seriously and that users should refrain from using the site for the purposes of fraud, fraud, illegal communication, fictitious communication or harm to any party.
                </p>
                <p>
                  •	The user must notify us if any illegal practices or activities are detected through the site.
                </p>
                <p>
                  •	The user must maintain the reputation of the site and not harm the site directly or indirectly, do not cause direct or indirect damage to us, and not cause us any legal claims.
                </p>
                <p>
                  •	The reviews and comments provided by the customer through the website must be sincere and legal and do not include any infringement on the site, companies or third parties.
                </p>
                <p>
                  •	The content provided by the user through the site must be legal and does not include any violation of the rights of others.
                </p>
                <p>
                  •	The secure access site reserves the right to make any modifications or changes to its site and to the policies and agreements associated with the guaranteed access site, including terms and conditions.
                </p>
                <p>
                  •	The site has the right to cancel the customer's account at any time, cancel the site, change these terms, do not register the shipment, or clear all the data available on the site without any liability on the site, after the delivery of the customer's dues.
                </p>
                <p>
                  •	The customer's violation of the terms or his attempt to circumvent the site or earn damages illegally gives the customer an ultimatum the first time, the reservation of the amount and order and the suspension of the account for 60 days for the second time, and when the repetition the account is permanently prohibited and is taken against him by regular and judicial procedures.
                </p>
                <p>
                  •	The customer is deemed to agree to these terms when registering on the site or using one of his services.
                </p>

                <br/>
                
                <h5>(15) Usage limits</h5>
                <p>
                  •	The site must be used within the purposes declared through these terms or those described through the pages of the site, and our services should be used in good faith and not to manipulate the site or its customers in any way.
                </p>
                <p>
                  •	The site must be used legally and legitimately and prohibits any actions that would expose the site to legal accountability.
                </p>
                <p>
                  •	It is prohibited to resell or commercially exploit any part of the site except for activities authorized by us.
                </p>
                <p>
                  •	The Site reserves all its statutory rights in the event that any user of the site violates our statutory and legitimate rights or our rights under this Agreement.
                </p>
                <p>
                  •	Texts, drawings, photographs, logos, illustrations, explanations, data and other materials provided by us on or through the services of the guaranteed access site, as well as their selection, aggregation and arrangement, are likely to contain errors, omissions, typographical errors or be out dated, and the site may alter, delete or occur any content at any time without prior notice.
                </p>
                <p>
                  •	Content is provided through the guaranteed access site for information purposes only, and the site does not provide any guarantees about .
                </p>
                <br/>
                
                <h5>(16) Third parties</h5>
             <p>
              •	We may be assisted in the provision of our services by third parties, and the site discharges legal liability for any direct or indirect, intentional or unintentional errors by third parties providing services through the site.
             </p>
             <p>
              •	The user may apply third-party terms and conditions and these are not under our control and therefore the user must review and approve these policies before taking advantage of the services provided by third parties through us.
             </p>
                <h5>(17) Intellectual property rights</h5>
                 <p>•	The site and all its material and moral elements are privately owned by us and may not be imitated, copied or re-exploited in any way. All content of the site (content, lists, texts, images, video, symbols, numbers, letters, icons, buttons, music, data, information) is subject to legal protection under the laws of Saudi Arabia and international conventions, and we have the right to take legal action in the event of an attack.</p>
               <p>
                Secure Access" is a trademark and is used by us and may not be infringed, imitated, copied, traded illegally or used on non-us marks or services, and in the event of an infringement of that trademark we have the right to take all legal action that preserves all our commercial rights.
               </p> 
                <h5>(18) Disclaimer</h5>
                <p>
                  •	The site may stop from time to time and may cease permanently, whether for voluntary or involuntary reasons, and therefore you exempt us from any legal liability in the event of a permanent or temporary suspension of the site or any of its services.
                </p>
                <p>
                  •	Some delays in accessing the site may result from any technical failure, maintenance or internet corruption, so the site will not be liable for any legal liability arising from this.
                </p>
                <p>
                  •	The website is an electronic service that depends mainly on the availability of the Internet, and you know that the internet is not a completely safe environment, sometimes hackers target websites and credit cards so you must use protection software for your device used to access the site, the easy access site does not bear any legal responsibility arising from the penetration of the site or credit cards.
                </p>
                <p>
                  •	The user disclaims our responsibility for all illegal activities that may occur through the site, the site cannot control all the actions through which it is csarried out and the victim must inform us to take the necessary action towards stopping the source of the damage.
                </p>
                <p>•	The site does not provide any kind of insurance or compensation to any of its users, partners or customers, and anyone who uses the site and its services at its own risk, and the site will not be liable to any users for any reason resulting from the use of the site or its services or the application of our terms and policies.</p>
                
                
                <h5>(19) Legal liability</h5>
              <p>
                •	The user is personally responsible if he or she does not comply with the obligations imposed on him under these applicable terms or policies.
              </p>
                <p>
                  •	The user is personally responsible for all actions and activities carried out through the site, and the site will not be held in solidarity or by extension for any of the users.
                </p>
                <p>
                  •	The user is personally responsible in the event of a breach of the laws of Saudi Arabia, and the site will not be held in solidarity or dependent on any users.
                </p>
                <p>
                  •	The user shall be liable to liability in the event that he violates any of our rights under these terms and conditions or attacks any of our rights, ownership of the site or any of its elements.
                </p>
                <p>
                  •	The liability provisions of this policy do not prejudice any other liability provisions provided for in other agreements or contracts or provided for in applicable regulations.
                </p>

                <h5>(20) Complaints Policy</h5>
               <p>
                •	A customer's complaint on the site does not always mean that he or she is right, but the site may consider or dismiss that complaint.
               </p>
               <p>
                •	The site has the right to take any action it deems appropriate to adjudicate the customer's complaint, and we strive to provide the largest support service to the customers of the guaranteed access site.
               </p>
               <p>
                •	In the event of a medical problem of damage, breakor or theft by the seller or shipping company, we try up to 3 attempts to solve the problem, and no compensation is provided from us to the customer except if there is insurance on the order or shipment.
               </p>

                <h5>(21) Communications and notifications</h5>
            <p>
              •	The website communicates with you from time to time through the contact details you have provided to us, and under this agreement you authorize us to communicate with you electronically or by telephone, and in case you do not wish to receive communications from us you must notify you and we will immediately stop communicating with you, but this means that our services may cease permanently for you.
            </p>
            <p>
              •	Any notifications the site wants to notify users are made through their contact details, and the user is presumed to have notified the notice as soon as the site sends it to him. If the user wishes to send us notifications, this must be done through our means of communication available through the website pages.
            </p>
                
                <h5>(22) Modifications and additions</h5>
                <p>
                  You know and agree that our services may be continuously amended or updated, and our terms and conditions and privacy policy may be amended, updated or added from time to time, and the site will not be obliged to notify any of its users, so you must review this agreement periodically and prior to any process you make through the site, and we will update the date of the last issuance of this document, and accordingly you acknowledge the right of the guaranteed access site at any time and without prior notice and upon You are responsible for periodically reviewing these terms and conditions to review any modification to those terms and conditions, and any use or access to the products or services of the guaranteed access site constitutes your consent to such reviews or additions.
                </p>
                
                <h5>(23) Cancellation</h5>
               <p>
                The site has the right to cancel any of the services available through it, modify the site completely, change or change its activity. We may also cancel or replace the terms and conditions and privacy policy at any time without requiring your consent.
               </p>
                
                <h5>(24) Law</h5>
                <p>
                  The interpretation and implementation of the terms of this document is subject to the regulations in force in Saudi Arabia, and these terms are not limited to the terms contained in them but extend to all legal provisions governing civil and commercial relations in force in Saudi Arabia as long as they are complementary rules and do not directly or indirectly conflict with the terms of this document.
                </p>
                
                <h5>(25) Jurisdiction</h5>
                <p>
                  The Saudi judiciary shall decide any dispute arising on the interpretation or implementation of any clause of this document, and if any clause is excluded by a court order, this does not prejudice the validity of the other clauses and remains valid and productive for their legal effects unless the site cancels the agreement.
                </p>

                <h5>(26) Arabic</h5>
               <p>
                This document is drafted in Arabic, and if it is translated into any other language, the Arabic text is applicable to all official and unofficial bodies if the foreign translation conflicts with it.
               </p>
                
                <h5>(27) Contact us</h5>
                <p>
                  You can contact us via email .....................  Or by contacting us at .................
                </p>
                
                <h5>(28) Annulment of the Agreement</h5>
                <p>
                  This agreement is self-authorized in the event that you violate any clause, clause or clause of this Agreement, in which case the guaranteed access site retains all its legal rights to you, including your civil and criminal liability and damages.
                </p>
                
              </div>
            </div>
        </div>
    </div>
                
                
                
                
                          
                          
                
    






    
 
  
    <!-- My_model  Footer-->
    <div id="myModal" class="modal fade text-center">
      <div class="modal-dialog">
        <div class="col-lg-10 col-sm-10 col-12 main-section">
          <div class="modal-content">
            <div class="col-lg-12 col-sm-12 col-12 user-img">
              <img src="images/man01.png">
            </div>
            <div class="col-lg-12 col-sm-12 col-12 user-name">
              <h1>Get the latest News </h1>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="col-lg-12 col-sm-12 col-12 form-input">
              <form>
                <div class="form-group">
                  <input oninvalid="InvalidMsg(this);" 
                  oninput="InvalidMsg(this);"
                  required="required"  type="text" class="form-control" placeholder="Name"  >
                </div>
                <div class="form-group">
                  <input oninvalid="InvalidMsg(this);" 
                  oninput="InvalidMsg(this);"
                  required="required"type="email" class="form-control" placeholder="email"  >
                </div>
                <button type="submit" class="btn btn-primary">Share</button>
              </form>
            </div>
  
          </div>
        </div>
      </div>
    </div>
      <!--/ My_model -->
  
  
      <!-- Start Footer -->
  <div class="footer " style=" margin-top: 160px;">
      <!-- Start container-->
      <div class="bg-blue w-100 h-100"> 
      <div class="container">
      
          <div class="row pt-5">
      
      
      
      
          <!--col-md-3 -->
          <div class="col-md-3 col-12 text-left">
              <div class="pages">
                  <ul>
                      <li><a href="Disputes.html">Disputes</a></li>
                      <li><a href="Forbiddens.html">Forbiddens </a></li>
                      <li><a href="Website-Development.html">Website Development</a></li>
                      <li><a href="Proof-of-money-transfer.html">Proof of money transfer</a></li>
                  </ul>
              </div>
          </div>
        <!--col-md-3 -->
      
          <!--col-md-3 -->
              <div class="col-md-3 col-12 text-left">
                  <div class="pages">
                      <ul>
                        
                         <li><a href="Contact-Us.html">Contact Us</a></li>
                         <li><a href="#">FAQs</a></li>
                         <li><a href="Terms-Conditions.html">Terms and Conditions</a></li>
                         <li><a href="Privacy-Policy.html">Privacy Policy</a></li>
                         
                      </ul>
                  </div>
              </div>
          <!--col-md-3 -->
      
      
      
      
          <!--col-md-3 -->
              <div class="col-md-3 col-12 text-left">
                  <div class="pages">
                      <ul>
                        
                          <li><a href="#">Rights</a></li>
                          <li><a href="About-us.html">About us</a></li>
                          <li><a href="#">Payment methods</a></li>
                          <li><a href="Charging-system.html">Shipping and Delivery</a></li>
                
                      </ul>
                  </div>
              </div>
          <!--col-md-3 -->
          <!--col-md-3 -->
          <div class="col-md-3 col-12">
      
              <div class="social-link text-center">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </div>
          <div class="text-center my-3">
             
              <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                  <a  href="#myModal" class="btn btn-danger trigger-btn w-auto"  data-toggle="modal">  latest News  </a>
              </div>
          
          </div>
          </div>
      <!--col-md-3 -->
      
      
      
      
      
            
          </div>
      
          <div class="row">
               <div class="mx-auto col-md-5  col-12">
                  <div class="paymentWrap">
                      <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                          <label class=" paymentMethod ">
                              <div class="method visa"></div>
                              <input type="radio" name="options" checked> 
                          </label>
                          <label class=" paymentMethod">
                              <div class="method master-card"></div>
                              <input type="radio" name="options"> 
                          </label>
                          <label class=" paymentMethod">
                              <div class="method amex"></div>
                              <input type="radio" name="options">
                          </label>
                           <label class=" paymentMethod">
                               <div class="method vishwa"></div>
                              <input type="radio" name="options"> 
                          </label>
                          <label class=" paymentMethod">
                              <div class="method ez-cash"></div>
                              <input type="radio" name="options"> 
                          </label>
                          <label class=" paymentMethod">
                              <div class="method ez-cashh"></div>
                              <input type="radio" name="options"> 
                          </label>
                       
                      </div>        
                  </div>
               </div>
          </div>
      
      
      </div>
      <!-- End container-->
      <div class="border-top">
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center">
                      <p class="text-light mt-1">All rights are reserved for the Guaranteed Access To Trade Corporation   </p>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </div>
      <!-- End Footer -->
      
      


    

        <!-- START JS FILE -->
            
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>


        <script type="text/javascript">

          function cleanall(){
            document.getElementById("textview").value = "أختار ...";
            document.getElementById("textview1").value = "";
            document.getElementById("textview2").value = "";
            document.getElementById("textview3").value = "";
            document.getElementById("textview-area").value = "";
            

          }  
        </script>
        
        <script type="text/javascript">

    $('.majorpoints').click(function(){
    $('.section-2' ).find('.hider').toggle();
    });
    $('.majorpoints2').click(function(){
    $('.section-3' ).find('.hider').toggle();
    });

    function readURL(input) {

if (input.files && input.files[0]) {
  var reader = new FileReader();

  reader.onload = function(e) {
    $('#blah').attr('src', e.target.result);
  }

  reader.readAsDataURL(input.files[0]);
}
}

$("#imgInp").change(function() {
readURL(this);
});


  </script>


        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>  
    