<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>خدمة-توصيل-الطلبية للمشتري مع استلام المبلغ </title>
    
    <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="وسيط للطلب من المواقع العالمية، توفير عنوان امريكي وصيني، توفير عنوان سعودي، استيراد من السعودية وامريكا والصين، وسيط شراء من امريكا، وسيط شراء من الصين، ، تسهيل الشراء من المواقع العالمية، الطلب من امازون، الطلب من ايباي، طلب شراء من علي اكسبريس ، طلب شراء من علي بابا، تكلفة شحن منخفض من امريكا، تكلفة شحن منخفض من الصين، شحن دولي منخفض، توفير عنوان أمريكي، حماية البائع والمشتري، إعادة توجيه الشحنة من امريكا، إعادة الشحن، من الصين، جناح خاص امريكي وصين، بريد امريكي ، بريد صيني، رسوم شحن منخفض، موقع اعادة شحن، شراء من امريكا والصين، مقارنة بين شواب اند شيب و ماي يو اس، ارخص شركة شحن، ارخص تكلفة شحن من أمريكا والصين، استيراد بدون ضريبة، التخليص الجمركي، شراء من الرياض ، وسيط شراء قطع غيار السيارات، شراء قطع غيار السيارات، ارخص قطع غيار السيارات، شراء من الرياض، تكلفة شحن داخلي منخفض جدا،">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company
        التسوق , الشراء ,التجارة,توصيل المنتجات">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
    <!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-ar.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->
    

</head>
<body>
   

    

    <a id="button-up"></a>
    <!-- Start Nav bar md -->
  
    <div class="top-nav position-fixed w-100 d-s-none " dir="rtl" style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator-AR.html">الحاسبة </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-order-buyer-receipt-amount-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-of-an-order-to-the-buyer-with-receipt-of-the-amount.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                
                 <!--  <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Blog-AR.html">مدونة</a>
                </div> -->
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </div>

                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Affiliate-AR.html">افليت </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر </a>
                    </div>
                        <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking-AR.html">تتبع الطلبات</a>
                </div>
    
                    <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>        
                </div>

                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login-AR.html">دخول</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
   <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none " dir="rtl" >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>

    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator-AR">الحاسبة </a>
                    </li>
    
    

                  
                    
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </li>
                
                        
                        <li class="nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Affiliate-AR.html">افليت </a>
                           </li>
                      
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر  </a>
                    </li>
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Tracking-AR.html">تتبع الطلبات  </a>
                    </li>
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-order-buyer-receipt-amount-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Delivery-of-an-order-to-the-buyer-with-receipt-of-the-amount.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login-AR.html">  دخول </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    




    <!--Start section-1  -->
    <section class="other_nav_link" style="position: relative; top: 160px;">
        <!-- Start container-->
        <div class="container" id="first-step">
            <div class="wrapper">	
                <div class="arrow-steps clearfix">
                          <div class="step current"> <span> تعريف الخدمة</span> </div>
                          <div class="step"> <span> معلومات المشتري</span> </div>
                          <div class="step"> <span> استلام المبيعات</span> </div>
                          <div class="step"> <span>تكلفة التوصيل</span> </div>
                        </div>
                        <!-- <div class="nav clearfix">
                        <a href="#" class="prev">Previous</a>
                        <a href="#" class="next pull-right">Next</a>
                        </div> -->
                </div>
                <!-- row -->
            <div class="row"  >
            
            
                <div class=" col-md-12  font-weight-bolder text-primary text-center my-3">
                    <h3 class="text-blue">توصيل الطلبية للمشتري مع استلام المبلغ</h3>
                   <p class="pr-md-5 font-weight-bold"> هي خدمة تمكن البائع من الحصول على تكلفة شحن منخفضة جدا لتوصيل الطلبية للمشتري واستلام قيمة المبيعات منه. </p>

                    
                </div>
                

                <!--col-md-12 -->
                

                <div class="col-md-12 bg-basket rounded   mb-2">
                    <div class=" p-3 text-right  ">
                        <h4 class="text-primary my-2">:ينصح باستخدامها في الحالات التالية </h4>
                        <p class="pr-md-5 my-2"> أ.عند عدم وجود لدى المشتري وسيلة دفع مبلغ المشتريات </p>
                        <p class="pr-md-5 my-2">ب. عند قلق البائع من استلام المشتري الطلبية وعدم دفع المبلغ</p>
                        <p class="pr-md-5 my-2"> ج. عند عدم استطاعة الذهاب لشركات الشحن للتوصيل للمشتري</p>
                    </div> 
                    </div> 
                <!--col-md-12 -->   

                <!--col-md-12 -->   
                <div class="col-md-12  bg-basket rounded   mb-2" dir="rtl">
                    <div class="   text-right  p-3" >
                        <h4 class="text-primary">ملاحظات:</h4>
                        <p  class="pr-md-5 my-2"> رسوم الخدمة </p>
                        <p class="pr-md-5 my-2 text-primary">39 إذا كان المبيعات 500 ريال وأقل .</p>
                        <p class="pr-md-5 my-2 ">6% إذا كان المبيعات أكثر من 500 ريال.</p>
                        <p class="pr-md-5 my-2 text-primary">يجب توفر معلومات المشتري الآتية لإتمام الطلب</p>
                        <p class="pr-md-5 my-2">الاسم، رقم الجوال، عنوانه كاملا</p>
                    </div>    
              
                <!--col-md-12 -->   

                <!--col-md-12 -->   
                
                  
                        
                    <div class=" text-center w-100">
                    <a class="btn btn-primary my-1 px-5  first-step" data-toggle="collapse" 
                    href="#entertoservice" role="button" aria-expanded="true" 
                    aria-controls="collapseExample">  الدخول الي الخدمة </a>
                  </div>
                    
                </div>
                <!--col-md-12 -->  
  
               
                
                
            </div>
             <!-- row -->
            </div>
            <!-- container --> 
            
        </section>
    <!--/ section-1 -->
                
                
                
    <!--/ section-2 -->
        <section class="section-2 " style="margin-top: 160px;">
            <div class="collapse" id="entertoservice">
            <!-- container -->
                <div class="container">
                    <!-- Row -->
                    <div class="row" id="then-hider">
                       
                        <!-- col-4 -->
                        <div class=" col-md-4 col-12 text-center"></div>

                        
                    <div class=" col-lg-12 text-center">
                        <div class="input-group my-4" dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">اسم المشتري الثلاثي* </span>
                            </div>
                            <input  placeholder="ادخل اسم صحيح"oninvalid="InvalidMsg(this);"
                            required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                        <!-- col-4 -->
                        <div class="col-md-12 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">عنوان 1</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-4 -->
                        
                        <!-- col-4 -->
                        <div class=" col-md-12 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">عنوان 2</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-4 -->
                        
                        <!-- col-4 -->
                        <div class=" col-md-6 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">المدينة</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-4 -->
                         <!-- col-12 -->            
                    <div class=" col-md-6 col-12 text-center">
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cityname">المنطقة</label>
                            </div>
                            <input required type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1"  list="cityname">
                                <datalist id="cityname">
                                <option>الرياض</option>
                                <option>مكة</option>
                                <option>المدينة</option>
                                <option>القصيم</option>
                                <option>الشرقية</option>
                                <option>عسير</option>
                                <option>تبوك</option>
                                <option>حائل</option>
                                <option>الحدود الشمالية </option>
                                <option>جازان</option>
                                <option>الباحة</option>
                                <option>الجوف</option>
                            </datalist>
                        </div>
                    </div>
                    
                    <!--/ col-12-->
                                                
                        
                        
                        <!-- col-12 -->
                        <div class=" col-md-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">رقم الجوال</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--/ col-md-3 -->
                        
                        <div class="col-md-3 col-12  text-center mx-auto">  
                            <div>
                                <a class="btn btn-primary my-3 px-5 next pull-right then-hider"  data-toggle="collapse"
                                 href="#details"  role="button" aria-expanded="false" aria-controls="collapseExample">  التالى</a>
                            </div>
                        </div>
                        
        
                        <!--/  col-md-3 -->                               
                         


                        
                    </div>
                    <!--/ Row -->
                </div>
                <!--/ Container -->
            </div>
            <!--/ collapse -->
        </section>
        <!--/ section-2 -->
        

        
        <!--/ section-3 -->
        <section class="section-3 " >
            <div class="collapse last-hide" id="details">
            <!-- container -->
            <div class="container ">
                
                <div class="row ">
                                        
                    


                  <!--select-->
                    
                        <div class="col-md-4 col-12  text-center "></div>
                        <div class=" col-md-4 col-12 text-center  ">
                            <h3 class="text-primary text-center my-4" dir="rtl">طريقة استيلام المبلغ </h3>
                            <div class=" input-group mb-3 " dir="rtl">
                                    <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">طريقة الإستيلام*</label>
                                    </div>
                                <select class="custom-select" id="test" onchange="showDiv(this)" name="ship_level">
                                    <option value="0">--أختار--</option>
                                    <option value="bank">تحويل بنكى</option>
                                    <option value="paybal">باى بال</option>
                                    <option value="ban">بنك الراجحي </option>
                                    <option value="ban">توصيل المبلغ، الرياض فقط</option>
                                    <option value="another">طرق أخرى</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4 col-12  text-center "></div>
                        
                        
                        <div id="bank_acc" class="col-md-12 col-12  text-center" style=" display:none;">
                            
                            
                            <div class="row">
                                
                                
                                 <div class="col-md-6 col-12 text-center mb-3" id="demo"  dir="rtl">
                                    <div class="form-group form-check-inline pl-5">
                                        <input type="checkbox" name="c1" onclick="showMe('div1')">
                                        <label class="form-check-label font-weight-bold mr-3" for="exampleCheck1"> حسابي الشخصي  </label> 
                                    </div>
                                    
                                </div>
                                
                                
                                <div class="col-md-6 col-12 text-center mb-3" id="demo"  dir="rtl">
                                    
                                    <div class="form-group form-check-inline pl-5">
                                        <input type="checkbox"  name="c1" onclick="showMe('div2')" >
                                        <label class="form-check-label font-weight-bold mr-3" for="exampleCheck1"> حساب شخص آخر  </label> 
                                    </div>
                                    
                                </div>
                                
                            </div>    
                            
                            
                        </div>
                        
                        
           
                        <div id="another_way" class="data col-lg-12 col-sm-12 col-12" style=" display:none;">
                         <form id="myform">
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">اسم الطريقة *</span>
                                    </div>
                                    <input type="text" oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                              
                              
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">اسم المستلم*</span>
                                    </div>
                                    <input type="text"oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">الايميل *</span>
                                    </div>
                                    <input type="email"oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>


                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">التفاصيل  *</span>
                                    </div>
                                    <input type="text"oninvalid="InvalidMsg(this);" placeholder="أدخل الرقم ان وجد"
                                    required="required"  oninput="InvalidMsg(this);"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                                
                                <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                    <input type="submit" class="btn btn-secondary  my-3  mx-2" value="حفظ  ">
                                          
                                    <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" هذه المعاملة  ">
                                     
                                </div> 
                            
                            </form>
                          
                        </div>
                        
                        
                        <form id="myform" class="w-100">
                        <div id="paybal_acc" class="data col-md-12 col-12 col-12" style=" display:none;">
    
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend ">
                                        <span class="input-group-text " id="basic-addon1">حساب باي بال   *</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" 
                                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                              
                              
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">إعادة الحساب *</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);" onpaste="return false;" id="onpaste"
                                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">الاسم المرتبط بالحساب</span>
                                    </div>
                                    <input placeholder="اختياري" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                             
                                
                                
                                
                                <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                    <input type="submit" class="btn btn-secondary  my-3  mx-2" value="حفظ  ">
                                          
                                    <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" هذه المعاملة  ">
                                     
                                </div> 
                            
                             
                              
                        </div> 
                        
                         </form>
                    
                        <div class=" col-md-12 col-12 text-center" >
                            
                            <div class="row">
                                
                                <!-- col-12 -->
                                <div class="col-md-12 col-12 text-center my-3" id="div1" style="display:none">
                                    <form id="myform" class="">
                                    

                                        <div class="input-group mb-3" dir="rtl">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">اسم البنك* </span>
                                            </div>
                                            <input oninvalid="InvalidMsg(this);" 
                                            required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                        
                                     
                                        <div class="input-group mb-3" dir="rtl">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">الآيبان</span>
                                            </div>
                                            <input oninvalid="InvalidMsg(this);" placeholder="أدخل الأرقام الذي يبدأ ب SA  ، الراجحي يكفي 15 رقم" 
                                            required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                     
                                     
                                        <div class="input-group mb-3" dir="rtl">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">إعادة</span>
                                            </div>
                                            <input oninvalid="InvalidMsg(this);" onpaste="return false;"  placeholder="أدخل الأرقام الذي يبدأ ب SA  ، الراجحي يكفي 15 رقم" 
                                            required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                     
    
                                        <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                            <input type="submit" class="btn btn-secondary  my-3  mx-2" value="حفظ  ">
                                                  
                                            <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" هذه المعاملة  ">
                                             
                                        </div> 
                                     </form>
                                        
                                </div>
                                    <!--</div>-->
                                
                                
                                   
                                <div class="col-md-12 col-12  text-center my-3" id="div2" style="display:none">
                                    <form id="myform">
                                    
                                    <div class="input-group mb-3" dir="rtl">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">اسم صاحب الحساب*  </span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" placeholder="يجب التطابق مع الحساب "
                                        required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                  
                                  
                                    <div class="input-group mb-3" dir="rtl">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">اسم البنك* </span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    
                                 
                                    <div class="input-group mb-3" dir="rtl">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">الآيبان</span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" placeholder="أدخل الأرقام الذي يبدأ ب SA  ، الراجحي يكفي 15 رقم" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                 
                                 
                                    <div class="input-group mb-3" dir="rtl">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">إعادة</span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" onpaste="return false;"  placeholder="أدخل الأرقام الذي يبدأ ب SA  ، الراجحي يكفي 15 رقم" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                 

                                 
                                    <div class="input-group mb-3" dir="rtl">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">علاقة الحساب بك</span>
                                        </div>
                                        <input oninvalid="InvalidMsg(this);" 
                                        required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    
                                
                                    <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                        <input type="submit" class="btn btn-secondary  my-3  mx-2" value="حفظ  ">
                                              
                                        <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" هذه المعاملة  ">
                                         
                                    </div> 
                                 </form>
                                </div>
                                       
                                    
                                   
                            </div>
                            <!--/ ROW-->
        
                            
                        </div>
                        
                </div>
                    
            </div>
            <!--End container -->
                

             <!--/ row -->
                <div class="row">
                    <div class="col-md-3 col-12 text-center mx-auto">
                        
                            <div>
                                <a class="btn btn-primary my-3 px-5 next pull-right " data-toggle="collapse" href="#last-Stp"  id="last-hide" role="button" 
                                aria-expanded="false" aria-controls="collapseExample">     التالى</a>
                            </div>
                    
                            
                    </div>
                </div>
               <!--/ row -->
            </div>
            <!--/ collapse -->


        </section>
        <!--/ section-3 -->
                
                



 <!--/ section-4 -->

<section class="section-4">
     <!-- collapse -->
    <div class="collapse" id="last-Stp" >
          <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
               <!-- col-md-6  -->
               <div class=" col-md-6 col-12 text-center mx-auto">
                   <div class="input-group my-4" dir="rtl">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">تكلفة التوصيل</label>
                                </div>
                                <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div3', this)" >
                                  <option selected>أختار ...</option>
                                  <option value="1"> فيديكس 14 ريال </option>
                                  <option value="2">ارامكس 18 ريال</option>
                                  <option value="3">زاجل 12 ريال </option>
                                </select>
                </div>
            </div>
                    <!-- col-md-6  -->


                    <!-- col-md-6  -->
               <div class=" col-md-6 col-12 text-center mx-auto">
                   <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">سيدفع تكلفة التوصيل</label>
                                </div>
                                <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div3', this)" >
                                  <option selected>أختار ...</option>
                                  <option value="1">أنا (الدفع الآن) </option>
                                  <option value="2">المشتري</option>

                                </select>
                </div>
            </div>
            <!-- col-md-6  -->

                    <form id="idform" class="w-100">
                    <!-- col-md-12  -->
               <div class=" col-md-12 col-12 text-center mx-auto">
                <div class="input-group mb-3" dir="rtl">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">أدخل تفاصيل المبيعات * </span>
                    </div>
                    <input  placeholder=""oninvalid="InvalidMsg(this);"
                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <!-- col-md-12  -->
                    <!-- col-md-12  -->
               <div class=" col-md-12 col-12 text-center mx-auto">
                <div class="input-group mb-3" dir="rtl">
                    <div class="input-group-prepend">
                        <span class="input-group-text w-auto" id="basic-addon1">المبلغ المطلوب من المشتري: * </span>
                    </div>
                    <input  placeholder=""oninvalid="InvalidMsg(this);"
                    required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <!-- col-md-12  -->
                <!-- col-md-12  -->
                    <div class=" col-md-12 col-12 text-center mx-auto">
                    <div class="input-group mb-3" dir="rtl">
                        <div class="input-group-prepend">
                            <span class="input-group-text w-auto" id="basic-addon1">اعادة: * </span>
                        </div>
                        <input  placeholder=""oninvalid="InvalidMsg(this);" onpaste="return false;"  id="onpaste"
                        required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <!-- col-md-12  -->
                    <div class="col-md-3 col-12 text-center mx-auto">
                  <input type="submit"class="btn btn-primary my-3 px-5 next pull-right"  value=" ادفع الأن ">

                    </div>
            </form>

        </div>
           <!-- row -->
    </div> 
    <!-- container -->
    </div> 
    <!-- collapse -->
</section>
 <!--/ section-4 -->

    
    


    

        <!-- START JS FILE -->
        
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
       
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>



               <script>


       








                function showMe (box)
                {
                    var chboxs = document.getElementsByName("c1");
                    var vis = "none";
                    for(var i=0;i<chboxs.length;i++)
                    { 
                        if(chboxs[i].checked)
                        {
                         vis = "block";
                            break;
                        }
                    }
                    document.getElementById(box).style.display = vis;
                }
                    
                </script>
                 <!-- Checkbox show & hide div -->
                
                 
                 
                 <script>
                    function showDiv(divId, element)
                        {
                            document.getElementById(divId).style.display = element.value == 1 ? 'block' : 'none';
                        }
                 </script>
                 

          <script type="text/javascript">
      
      $(document).ready(function(){

            $('#last-hide').click(function(){
            $('.last-hide' ).hide();
            });


            $('.first-hider').click(function(){
            $('#first-hider' ).hide();
            });
             $('.first-step').click(function(){
            $('#first-step' ).hide();
            });

            $('.then-hider').click(function(){
            $('#then-hider' ).hide();
            });
            
        });

           



                function readURL(input) {
            
            if (input.files && input.files[0]) {
              var reader = new FileReader();
            
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
            
              reader.readAsDataURL(input.files[0]);
            }
            }
            
           
            
            
        </script>
      <script>
            
        function showMe (box)
        {
            var chboxs = document.getElementsByName("c1");
      
            var vis = "none";
            for(var i=0;i<chboxs.length;i++)
            { 
                if(chboxs[i].checked)
                {
                 vis = "block";
                    break;
                }
            }
            document.getElementById(box).style.display = vis;
        }
            
        </script>
         <!-- Checkbox show & hide div -->
           
        
        <script>
            
            function showDiv(select) {
                document.getElementById('paybal_acc').style.display = "none";
                document.getElementById('another_way').style.display = "none";
                document.getElementById('bank_acc').style.display = "none";
                if (select.value == 'paybal') {
                
                    document.getElementById('paybal_acc').style.display = "block";
                   document.getElementById('another_way').style.display = "none";
                document.getElementById('bank_acc').style.display = "none";  
                
                } else if (select.value == 'another') {
                  
                    document.getElementById('another_way').style.display = "block";
                    document.getElementById('bank_acc').style.display = "none";
                    document.getElementById('paybal_acc').style.display = "none";
                
                } else if (select.value == 'bank') {
                 
                    document.getElementById('bank_acc').style.display = "block";
                    document.getElementById('paybal_acc').style.display = "none";
                document.getElementById('another_way').style.display = "none";
                 
                }
              }
            
        </script>
        
     
         <script type="text/javascript">

                $('.majorpoints').click(function(){
                $('.section-2' ).find('.hider').toggle();
                });
                $('.majorpoints2').click(function(){
                $('.section-3' ).find('.hider').toggle();
                });
            
                function readURL(input) {
            
            if (input.files && input.files[0]) {
              var reader = new FileReader();
            
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
            
              reader.readAsDataURL(input.files[0]);
            }
            }
            
            $("#imgInp").change(function() {
            readURL(this);
            });
            
            
        </script>



  
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>  
    