<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>نموذج الوسيط</title>
    
    <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="وسيط للطلب من المواقع العالمية، توفير عنوان امريكي وصيني، توفير عنوان سعودي، استيراد من السعودية وامريكا والصين، وسيط شراء من امريكا، وسيط شراء من الصين، ، تسهيل الشراء من المواقع العالمية، الطلب من امازون، الطلب من ايباي، طلب شراء من علي اكسبريس ، طلب شراء من علي بابا، تكلفة شحن منخفض من امريكا، تكلفة شحن منخفض من الصين، شحن دولي منخفض، توفير عنوان أمريكي، حماية البائع والمشتري، إعادة توجيه الشحنة من امريكا، إعادة الشحن، من الصين، جناح خاص امريكي وصين، بريد امريكي ، بريد صيني، رسوم شحن منخفض، موقع اعادة شحن، شراء من امريكا والصين، مقارنة بين شواب اند شيب و ماي يو اس، ارخص شركة شحن، ارخص تكلفة شحن من أمريكا والصين، استيراد بدون ضريبة، التخليص الجمركي، شراء من الرياض ، وسيط شراء قطع غيار السيارات، شراء قطع غيار السيارات، ارخص قطع غيار السيارات، شراء من الرياض، تكلفة شحن داخلي منخفض جدا،">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company
        التسوق , الشراء ,التجارة,توصيل المنتجات">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
    <!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-ar.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

</head>
<body>

   
   



    <a id="button-up"></a>
    <!-- Start Nav bar md -->
  
    <div class="top-nav position-fixed w-100 d-s-none " dir="rtl" style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator-AR.html">الحاسبة </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-Broker-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-Broker.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                
                 <!--  <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Blog-AR.html">مدونة</a>
                </div> -->
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </div>

                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Affiliate-AR.html">افليت </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر </a>
                    </div>
                        <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking-AR.html">تتبع الطلبات</a>
                </div>
    
                    <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>        
                </div>

                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login-AR.html">دخول</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
   <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none " dir="rtl" >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>

    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator-AR.html">الحاسبة </a>
                    </li>
    
    

                  
                    
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </li>
                
                        
                        <li class="nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Affiliate-AR.html">افليت </a>
                           </li>
                      
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر  </a>
                    </li>
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Tracking-AR.html">تتبع الطلبات  </a>
                    </li>
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-Broker-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Form-Broker.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login-AR.html">  دخول </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    





    <!--Start product -->
    <section class="other_nav_link" style="position: relative; top: 160px;">
        <!-- Start container-->
        <div class="container">
            
            <div class="row " id="first-styp">
                <div class=" col-md-12 col-12  text-center my-3">
                    <h3 class="">نموذج الوسيط</h3>
                </div>
                <!--</div>-->


                <!--</div>-->
                <div class="col-md-12 col-12 text-right" dir="rtl">
                    <div class="row bg-basket rounded font-weight-bold text-right py-3 my-3">
                        <ol class=" col-12 d-block pr-5 text-blue list-unstyled">ملاحظات هامة :
                            <li class="my-2">‌أ. يجب توفر رابط للمنتجات من المتاجر الالكترونية المطلوبة لطلب الخدمة	</li>
                            <li class="my-2">‌ب.	 عند عدم وجود رابط للمنتجات المطلوبة،  <a href="#"class="text-primary"> نموذج الاستيراد</a> </li>
                            <li class="my-2">‌ج.  يوجد مبلغ مقدم رمزي لإتمام الطلب. </li>
                            <li class="my-2">‌د.    للعملاء من داخل السعودية يمكن الطلب من أي متجر محلي او عالمي. </li>
                            <li class="my-2">‌‌هـ. للعملاء من خارج السعودية الطلب من المتاجر داخل السعودية فقط.</li>
                            <li class="my-2"> و.   لاستيراد او طلب شراء قطع غيار السيارات، <a href="# " class="text-primary">نموذج قطع غيار السيارات</a> </li>
                            <li class="my-2"> ز. لمعرفة المميزات ورسوم الخدمة يرجى مراجعة،  <a href="#" class="text-primary"> خدمة المتسوق الشخصي</a></li>
                        </ol>

                        <div class="col-md-3 col-12  text-center mx-auto">  
                                 
                        <a class="btn btn-primary my-1 px-5 first-styp" href="#first-one"  data-toggle="collapse"
                        data-target="#first-one" aria-controls="first-one">  الدخول للخدمة</a>
                
                    </div>
                    </div>
                    
                </div>
                <!--</div>-->


            </div>
        </div>
        <!--End container-->
    </section>
    
    <script type="text/javascript">
        $(document).ready(function() {

            var checked = 0;

            $('input[type="checkbox"]').click(function() {
                var $b = $('input[type=checkbox]');
                checked = $b.filter(':checked').length;
                //alert('There are [' + checked + '] checked checkboxes');

                /***  SEE NOTES AT TOP: USE PROP() INSTEAD OF ATTR()  ***/                  
                if (checked > 2) {
                    $("input:checkbox:not(:checked)").attr('disabled','disabled');
                }else{
                    $('input[type=checkbox]').removeAttr('disabled');
                }
            });

        }); //END $(document).ready()

    </script>







<section class="section-2 " style=" margin-top: 180px;">



    
            <div class="" >
            <!-- container -->
                <div class="container" >


                    <div class="row collapse" id="first-one">
                                
                                
                        <div class="col-md-6 col-12 text-center mb-3" id="demo"  dir="rtl">
                           <div class="form-group form-check-inline pl-5">
                               <input  type="checkbox" name="c1" onclick="showMe('div1')">
                               <label class="form-check-label font-weight-bold mr-3" for="exampleCheck1"> مشاركة معلومات المتجر الالكتروني الذي تريد الشراء منه  </label> 
                           </div>
                           
                       </div>
                       
                       
                       <div class="col-md-6 col-12 text-center mb-3" id="demo"  dir="rtl">
                           
                           <div class="form-group form-check-inline pl-5">
                               <input type="checkbox"  name="c1" onclick="showMe('div2')" >
                               <label class="form-check-label font-weight-bold mr-3" for="exampleCheck1">تعبئة النموذج بإدخال تفاصيل كل منتج  </label> 
                           </div>
                           
                       </div>

                       <div class="col-md-3 col-12  text-center mx-auto">  
                                 
                        <a class="btn btn-primary my-1 px-5 first-styp" href="#showHide"  data-toggle="collapse"
                        data-target="#showHide" aria-controls="showHide">  التالي </a>
                
                    </div>
                       
                   </div>   

                   <div class="row">
                                
                    <!-- id="div1"-->
                    <div class="col-md-12 col-12 text-center my-3" id="div1" style="display:none">
                        <div class=" d-inline text-center w-100 mb-4">
                            <h5>تأكد من إضافة المنتجات في سلة المتجر، الذي تريد الشراء منه، قبل تعبئة النموذج.
                                أدخل المعلومات الخاصة للدخول في المتجر الذي تريد الشراء منه
                                </h5>
                            <p class="text-danger"> تنبيه: أدخل معلومات متجر واحد فقط، في النموذج.</p>
                        </div> 
                     
                        <form id="myform" class="">
                        

                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">اسم الموقع </span>
                                </div>
                                <input oninvalid="InvalidMsg(this);" 
                                required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            
                         
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">الرابط*</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);" placeholder="انسخ من المتصفح والصق هنا" 
                                required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">اسم المستخدم</span>
                                </div>
                                <input  placeholder="" 
                                 type="text"  class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"> إعادة</span>
                                </div>
                                <input  placeholder="" 
                                 type="text"  class="form-control" onpaste="return false;" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                         
                         
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">الايميل</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"   placeholder=" " 
                                required="required"  oninput="InvalidMsg(this);" type="email" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                         
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">إعادة</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"   onpaste="return false;" placeholder=" " 
                                required="required"  oninput="InvalidMsg(this);" type="email" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>


                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text pl-5" id="basic-addon1">كلمة المرور  </span>
                                </div>
                                <input data-toggle-password-field class="form__input form-control" id="password" onpaste="return false;" type="password" placeholder="الباسورد"
                                    name="password" required minlength="8" aria-describedby="passwordHint" autocomplete="current-password" 
                                    data-error="يجب ان يتراوح كلمة المرور 8 الي 20 وتحتوي علي حروف كبيره وصغيره"
                                    data-empty="Please fill out this field">
                                    <button type="button" hidden aria-pressed="false" class="form__toggle-password input-group-text w-auto" data-toggle-password>
                                    <span>Show </span>
                                </button>                            </div>
                         
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">إعادة</span>
                                </div>
                                <input oninvalid="InvalidMsg(this);"   onpaste="return false;" placeholder=" " 
                                required="required"  oninput="InvalidMsg(this);" type="password" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                         
                            <div class="d-flex d-inline justify-content-between w-100 mb-4">

                                <button class=" btn-secondary  rounded-1" id="fa-trash-alt"  Onclick="return ConfirmDelete();" type="reset" name="actiondelete" value="1"><i class="fa fa-1x fa-trash-alt px-4"></i></button>
                        
                                <input type="submit" class="btn btn-blue  my-3  mx-2" value="ارسال  ">
                                  
                            </div> 
                         </form>
                            
                    </div>
                      <!--id="div1-->
                     
                     
                      <!--id="div2-->
                    <div class="col-md-12 col-12  text-center my-3" " style="display:none">

  
                        <div class=" d-inline text-center w-100 mb-4">
                            <h5>أدخل تفاصيل صحيحة للمنتج للحصول على الرد في أسرع وقت ممكن</h5>
                            <p class="text-danger"> تنبيه: أدخل تفاصيل منتج واحد فقط في النموذج.</p>
                        </div> 

                        <form id="myform">
                        
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">  الرابط*  </span>
                            </div>
                            <input oninvalid="InvalidMsg(this);" placeholder="يجب التطابق مع الحساب "
                            required="required"  oninput="InvalidMsg(this);" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      
                      
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">اسم  </span>
                            </div>
                            <input  type="text" class="form-control" placeholder="اختياري" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        
                            <div class="input-group input-group-lg  mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">الوصف</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"placeholder=" اكتب تفاصيل المنتج هنا "></textarea>
                            </div>
                    

                        
                        
                        <div class="row">


                           <div class="col-md-6 col-12 input-group mb-3 " dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">المقاس * </span>
                            </div>
                            <input oninvalid="InvalidMsg(this);" 
                            required="required"  oninput="InvalidMsg(this);" placeholder="اذا لا يوجد الا مقاس واحد اكتب: لا يوجد   " type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                           </div>
                     

                           <div class="col-md-6 col-12 input-group mb-3 " dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">اللون * </span>
                            </div>
                            <input oninvalid="InvalidMsg(this);" 
                            required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                     

                           <div class="col-md-6 col-12 input-group mb-3 " dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">الحجم</span>
                            </div>
                            <input  placeholder=" " 
                          type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                     
                        <div class="col-md-6 col-12 input-group mb-3 " dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">السعر</span>
                            </div>
                            <input placeholder=" سعر تقريبي للمنتج من الموقع" 
                             type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>


                        <div class="col-md-6 col-12 input-group mb-3 " dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">الكمية*</span>
                            </div>
                            <input oninvalid="InvalidMsg(this);" placeholder=" " 
                            required="required"  oninput="InvalidMsg(this);" type="text" required class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="col-md-6 col-12 input-group mb-3 " dir="rtl">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">عرض إضافي*</label>
                        </div>
                        <select  oninvalid="InvalidMsg(this);" 
                        oninput="InvalidMsg(this);" 
                        required="required" class="custom-select" id="inputGroupSelect01" dir="rtl" >
                            <option selected>أختار ...</option>
                            <option value="1">أريد هذا الرابط بالضبط، </option>
                            <option value="2">أريد نفس المواصفات بأقل سعر</option>
                        </select>
                        </div>

                        <div class="col-md-12 col-12 input-group mb-3 " dir="rtl">
                        <div class="input-group " dir="rtl">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">الشحن إلى*</label>
                        </div>
                        <select required class="custom-select" id="inputGroupSelect01" dir="rtl" >
                                
                    <option value="AW">آروبا</option>
                    <option value="AZ">أذربيجان</option>
                    <option value="AM">أرمينيا</option>
                    <option value="ES">أسبانيا</option>
                    <option value="AU">أستراليا</option>
                    <option value="AF">أفغانستان</option>
                    <option value="AL">ألبانيا</option>
                    <option value="DE">ألمانيا</option>
                    <option value="AG">أنتيجوا وبربودا</option>
                    <option value="AO">أنجولا</option>
                    <option value="AI">أنجويلا</option>
                    <option value="AD">أندورا</option>
                    <option value="UY">أورجواي</option>
                    <option value="UZ">أوزبكستان</option>
                    <option value="UG">أوغندا</option>
                    <option value="UA">أوكرانيا</option>
                    <option value="IE">أيرلندا</option>
                    <option value="IS">أيسلندا</option>
                    <option value="ET">اثيوبيا</option>
                    <option value="ER">اريتريا</option>
                    <option value="EE">استونيا</option>
                    <option value="IL">اسرائيل</option>
                    <option value="AR">الأرجنتين</option>
                    <option value="JO">الأردن</option>
                    <option value="EC">الاكوادور</option>
                    <option value="AE">الامارات العربية المتحدة</option>
                    <option value="BS">الباهاما</option>
                    <option value="BH">البحرين</option>
                    <option value="BR">البرازيل</option>
                    <option value="PT">البرتغال</option>
                    <option value="BA">البوسنة والهرسك</option>
                    <option value="GA">الجابون</option>
                    <option value="ME">الجبل الأسود</option>
                    <option value="DZ">الجزائر</option>
                    <option value="DK">الدانمرك</option>
                    <option value="CV">الرأس الأخضر</option>
                    <option value="SV">السلفادور</option>
                    <option value="SN">السنغال</option>
                    <option value="SD">السودان</option>
                    <option value="SE">السويد</option>
                    <option value="EH">الصحراء الغربية</option>
                    <option value="SO">الصومال</option>
                    <option value="CN">الصين</option>
                    <option value="IQ">العراق</option>
                    <option value="VA">الفاتيكان</option>
                    <option value="PH">الفيلبين</option>
                    <option value="AQ">القطب الجنوبي</option>
                    <option value="CM">الكاميرون</option>
                    <option value="CG">الكونغو - برازافيل</option>
                    <option value="KW">الكويت</option>
                    <option value="HU">المجر</option>
                    <option value="IO">المحيط الهندي البريطاني</option>
                    <option value="MA">المغرب</option>
                    <option value="TF">المقاطعات الجنوبية الفرنسية</option>
                    <option value="MX">المكسيك</option>
                    <option value="SA">المملكة العربية السعودية</option>
                    <option value="GB">المملكة المتحدة</option>
                    <option value="NO">النرويج</option>
                    <option value="AT">النمسا</option>
                    <option value="NE">النيجر</option>
                    <option value="IN">الهند</option>
                    <option value="US">الولايات المتحدة الأمريكية</option>
                    <option value="JP">اليابان</option>
                    <option value="YE">اليمن</option>
                    <option value="GR">اليونان</option>
                    <option value="ID">اندونيسيا</option>
                    <option value="IR">ايران</option>
                    <option value="IT">ايطاليا</option>
                    <option value="PG">بابوا غينيا الجديدة</option>
                    <option value="PY">باراجواي</option>
                    <option value="PK">باكستان</option>
                    <option value="PW">بالاو</option>
                    <option value="BW">بتسوانا</option>
                    <option value="PN">بتكايرن</option>
                    <option value="BB">بربادوس</option>
                    <option value="BM">برمودا</option>
                    <option value="BN">بروناي</option>
                    <option value="BE">بلجيكا</option>
                    <option value="BG">بلغاريا</option>
                    <option value="BZ">بليز</option>
                    <option value="BD">بنجلاديش</option>
                    <option value="PA">بنما</option>
                    <option value="BJ">بنين</option>
                    <option value="BT">بوتان</option>
                    <option value="PR">بورتوريكو</option>
                    <option value="BF">بوركينا فاسو</option>
                    <option value="BI">بوروندي</option>
                    <option value="PL">بولندا</option>
                    <option value="BO">بوليفيا</option>
                    <option value="PF">بولينيزيا الفرنسية</option>
                    <option value="PE">بيرو</option>
                    <option value="TZ">تانزانيا</option>
                    <option value="TH">تايلند</option>
                    <option value="TW">تايوان</option>
                    <option value="TM">تركمانستان</option>
                    <option value="TR">تركيا</option>
                    <option value="TT">ترينيداد وتوباغو</option>
                    <option value="TD">تشاد</option>
                    <option value="TG">توجو</option>
                    <option value="TV">توفالو</option>
                    <option value="TK">توكيلو</option>
                    <option value="TO">تونجا</option>
                    <option value="TN">تونس</option>
                    <option value="TL">تيمور الشرقية</option>
                    <option value="JM">جامايكا</option>
                    <option value="GI">جبل طارق</option>
                    <option value="GD">جرينادا</option>
                    <option value="GL">جرينلاند</option>
                    <option value="AX">جزر أولان</option>
                    <option value="AN">جزر الأنتيل الهولندية</option>
                    <option value="TC">جزر الترك وجايكوس</option>
                    <option value="KM">جزر القمر</option>
                    <option value="KY">جزر الكايمن</option>
                    <option value="MH">جزر المارشال</option>
                    <option value="MV">جزر الملديف</option>
                    <option value="UM">جزر الولايات المتحدة البعيدة الصغيرة</option>
                    <option value="SB">جزر سليمان</option>
                    <option value="FO">جزر فارو</option>
                    <option value="VI">جزر فرجين الأمريكية</option>
                    <option value="VG">جزر فرجين البريطانية</option>
                    <option value="FK">جزر فوكلاند</option>
                    <option value="CK">جزر كوك</option>
                    <option value="CC">جزر كوكوس</option>
                    <option value="MP">جزر ماريانا الشمالية</option>
                    <option value="WF">جزر والس وفوتونا</option>
                    <option value="CX">جزيرة الكريسماس</option>
                    <option value="BV">جزيرة بوفيه</option>
                    <option value="IM">جزيرة مان</option>
                    <option value="NF">جزيرة نورفوك</option>
                    <option value="HM">جزيرة هيرد وماكدونالد</option>
                    <option value="CF">جمهورية افريقيا الوسطى</option>
                    <option value="CZ">جمهورية التشيك</option>
                    <option value="DO">جمهورية الدومينيك</option>
                    <option value="CD">جمهورية الكونغو الديمقراطية</option>
                    <option value="ZA">جمهورية جنوب افريقيا</option>
                    <option value="GT">جواتيمالا</option>
                    <option value="GP">جوادلوب</option>
                    <option value="GU">جوام</option>
                    <option value="GE">جورجيا</option>
                    <option value="GS">جورجيا الجنوبية وجزر ساندويتش الجنوبية</option>
                    <option value="DJ">جيبوتي</option>
                    <option value="JE">جيرسي</option>
                    <option value="DM">دومينيكا</option>
                    <option value="RW">رواندا</option>
                    <option value="RU">روسيا</option>
                    <option value="BY">روسيا البيضاء</option>
                    <option value="RO">رومانيا</option>
                    <option value="RE">روينيون</option>
                    <option value="ZM">زامبيا</option>
                    <option value="ZW">زيمبابوي</option>
                    <option value="CI">ساحل العاج</option>
                    <option value="WS">ساموا</option>
                    <option value="AS">ساموا الأمريكية</option>
                    <option value="SM">سان مارينو</option>
                    <option value="PM">سانت بيير وميكولون</option>
                    <option value="VC">سانت فنسنت وغرنادين</option>
                    <option value="KN">سانت كيتس ونيفيس</option>
                    <option value="LC">سانت لوسيا</option>
                    <option value="MF">سانت مارتين</option>
                    <option value="SH">سانت هيلنا</option>
                    <option value="ST">ساو تومي وبرينسيبي</option>
                    <option value="LK">سريلانكا</option>
                    <option value="SJ">سفالبارد وجان مايان</option>
                    <option value="SK">سلوفاكيا</option>
                    <option value="SI">سلوفينيا</option>
                    <option value="SG">سنغافورة</option>
                    <option value="SZ">سوازيلاند</option>
                    <option value="SY">سوريا</option>
                    <option value="SR">سورينام</option>
                    <option value="CH">سويسرا</option>
                    <option value="SL">سيراليون</option>
                    <option value="SC">سيشل</option>
                    <option value="CL">شيلي</option>
                    <option value="RS">صربيا</option>
                    <option value="CS">صربيا والجبل الأسود</option>
                    <option value="TJ">طاجكستان</option>
                    <option value="OM">عمان</option>
                    <option value="GM">غامبيا</option>
                    <option value="GH">غانا</option>
                    <option value="GF">غويانا</option>
                    <option value="GY">غيانا</option>
                    <option value="GN">غينيا</option>
                    <option value="GQ">غينيا الاستوائية</option>
                    <option value="GW">غينيا بيساو</option>
                    <option value="VU">فانواتو</option>
                    <option value="FR">فرنسا</option>
                    <option value="PS">فلسطين</option>
                    <option value="VE">فنزويلا</option>
                    <option value="FI">فنلندا</option>
                    <option value="VN">فيتنام</option>
                    <option value="FJ">فيجي</option>
                    <option value="CY">قبرص</option>
                    <option value="KG">قرغيزستان</option>
                    <option value="QA">قطر</option>
                    <option value="KZ">كازاخستان</option>
                    <option value="NC">كاليدونيا الجديدة</option>
                    <option value="HR">كرواتيا</option>
                    <option value="KH">كمبوديا</option>
                    <option value="CA">كندا</option>
                    <option value="CU">كوبا</option>
                    <option value="KR">كوريا الجنوبية</option>
                    <option value="KP">كوريا الشمالية</option>
                    <option value="CR">كوستاريكا</option>
                    <option value="CO">كولومبيا</option>
                    <option value="KI">كيريباتي</option>
                    <option value="KE">كينيا</option>
                    <option value="LV">لاتفيا</option>
                    <option value="LA">لاوس</option>
                    <option value="LB">لبنان</option>
                    <option value="LU">لوكسمبورج</option>
                    <option value="LY">ليبيا</option>
                    <option value="LR">ليبيريا</option>
                    <option value="LT">ليتوانيا</option>
                    <option value="LI">ليختنشتاين</option>
                    <option value="LS">ليسوتو</option>
                    <option value="MQ">مارتينيك</option>
                    <option value="MO">ماكاو الصينية</option>
                    <option value="MT">مالطا</option>
                    <option value="ML">مالي</option>
                    <option value="MY">ماليزيا</option>
                    <option value="YT">مايوت</option>
                    <option value="MG">مدغشقر</option>
                    <option value="EG">مصر</option>
                    <option value="MK">مقدونيا</option>
                    <option value="MW">ملاوي</option>
                    <option value="ZZ">منطقة غير معرفة</option>
                    <option value="MN">منغوليا</option>
                    <option value="MR">موريتانيا</option>
                    <option value="MU">موريشيوس</option>
                    <option value="MZ">موزمبيق</option>
                    <option value="MD">مولدافيا</option>
                    <option value="MC">موناكو</option>
                    <option value="MS">مونتسرات</option>
                    <option value="MM">ميانمار</option>
                    <option value="FM">ميكرونيزيا</option>
                    <option value="NA">ناميبيا</option>
                    <option value="NR">نورو</option>
                    <option value="NP">نيبال</option>
                    <option value="NG">نيجيريا</option>
                    <option value="NI">نيكاراجوا</option>
                    <option value="NZ">نيوزيلاندا</option>
                    <option value="NU">نيوي</option>
                    <option value="HT">هايتي</option>
                    <option value="HN">هندوراس</option>
                    <option value="NL">هولندا</option>
                    <option value="HK">هونج كونج الصينية</option>
                        </select>
                       </div>
                        </div>

                        </div>

               
                        <div class="d-md-flex d-inline justify-content-between w-100 mb-4">

                            
                            <button class="btn btn-secondary rounded-1" Onclick="return ConfirmDelete();" type="reset" name="actiondelete" value="1"><i class="fa fa-1x fa-trash-alt px-3"></i></button>
                        
                            <input type="submit" class="btn btn-blue  my-3  mx-2" value="ارسال  ">
                                  
                            <input type="submit" class="btn btn-secondary  my-3  mx-2" value=" إضافة منتج  ">
                             
                        </div> 

                     </form>
                    </div>
                    <!--id="div2-->
                              
                       
                </div>



                    <div class="collapse"id="showHide">
                    <div class="row " >
                        
                        <div class="col-md-12 col-12 text-center font-weight-bolder my-2">
                            
                            <h6> أدخل تفاصيل صحيحة للمنتج للحصول على الرد في أسرع وقت ممكن </h6>
                            <h6 class="text-danger"> تنبيه : ادخل تفاصيل منتج وxاحد فقط فى النموذج</h6>
                            
                        </div>
                        <div class="col-md-12 col-12  my-2  text-center"> 
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">الرابط</span>
                                </div>
                                <input  oninvalid="InvalidMsg(this);" 
                                    oninput="InvalidMsg(this);" 
                                    required="required" id="textview" type="text" class="form-control" placeholder="الصق الرابط هنا" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--</div>-->
                        <div class=" col-md-12 col-12  my-2  text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">الأسم</span>
                                </div>
                                <input  id="textview1" type="text" class="form-control" placeholder="اختيارى" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="col-md-12 col-12  my-2  text-center mb-3"> 
                            <div class="input-group input-group-lg" dir="rtl">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">الوصف</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="col-md-4 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">الوزن</span>
                                </div>
                                <input   id="textview2"type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--</div>-->
                        <div class=" col-md-4 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">اللون*</span>
                                </div>
                                <input  oninvalid="InvalidMsg(this);" 
                                oninput="InvalidMsg(this);" 
                                required="required" id="textview3" type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--</div>-->
                        <div class=" col-md-4 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">المقاس*</span>
                                </div>
                                <input  oninvalid="InvalidMsg(this);" 
                                oninput="InvalidMsg(this);" 
                                required="required"  id="textview4" type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="col-md-4 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">الشحن إلى*</label>
                                </div>
                                <select  oninvalid="InvalidMsg(this);" 
                                oninput="InvalidMsg(this);" 
                                required="required" class="custom-select" id="inputGroupSelect01" dir="rtl" >
                                  <option selected>أختار ...</option>
                                  <option value="1">الامارات</option>
                                  <option value="2">الكويت</option>
                                  <option value="2">مصر</option>
                                </select>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class=" col-md-4 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">عرض إضافى*</label>
                                </div>
                                <select oninvalid="InvalidMsg(this);" 
                                oninput="InvalidMsg(this);" 
                                required="required" class="custom-select" id="inputGroupSelect01" dir="rtl" >
                                  <option selected>أختار ...</option>
                                  <option value="1">أريد هذا الرابط بالظبط</option>
                                  <option value="2">أريد هذا المنتج بأقل سعر</option>
                                </select>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class=" col-md-4 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">المبلغ</span>
                                </div>
                                <input   id="textview5" type="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>



                


                    </div>
                    <div class="row   flex-row-reverse ">
                      

                        <div class="col-md-4 col-6 text-center">
                            <div class=" btn-secondary rounded-1 text-center px-2 py-2 my-2">
                                <a class=" text-decoration-none text-light  font-weight-bold" href="#"> ارسال  </a>
                            </div>
                        </div>
                        
                      <div class="col-md-4 col-6 text-right">
                            <div class="btn-secondary rounded-1 text-center px-2 py-2 my-2">
                                <a class=" text-decoration-none text-light  font-weight-bold" href="#"> إضافة منتج  </a>
                            </div>
                        </div>


                        <div class="col-md-4 col-12 text-center text-center my-2">
                            <button class="btn btn-danger rounded-1" Onclick="return ConfirmDelete();" type="reset" name="actiondelete" value="1"><i class="fa fa-1x fa-trash-alt px-3"></i></button>
                            </div>  
    
    
    
                        
                        </div>
                    </div>
                    

            
                </div>
            </div>
    </section>








    

        <!-- START JS FILE -->
            
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script>
            new WOW().init();
        </script>

<script>
        
    function showMe (box)
    {
        var chboxs = document.getElementsByName("c1");
  
        var vis = "none";
        for(var i=0;i<chboxs.length;i++)
        { 
            if(chboxs[i].checked)
            {
             vis = "block";
                break;
            }
        }
        document.getElementById(box).style.display = vis;
    }
    
</script>
<script type="text/javascript">

            $('.then-step').click(function(){
            $('#then-hider' ).show();
            });
            // $('.showHide').click(function(){
            // $('#showHide' ).toggle();
            // });
            $('.first-styp').click(function(){
            $('#first-styp' ).hide();
            });

           
            // $('.first-hider').click(function(){
            // $('#first-hider' ).hide();
            // });
            
    function clean(){
      document.getElementById("textview").value = "";
      document.getElementById("textview1").value = "";
      document.getElementById("textview2").value = "";
      document.getElementById("textview3").value = "";
      document.getElementById("textview4").value = "";
      document.getElementById("textview5").value = "";

    }  
  </script>

        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>