<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>تصفح المتاجر</title>
    
    <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="وسيط للطلب من المواقع العالمية، توفير عنوان امريكي وصيني، توفير عنوان سعودي، استيراد من السعودية وامريكا والصين، وسيط شراء من امريكا، وسيط شراء من الصين، ، تسهيل الشراء من المواقع العالمية، الطلب من امازون، الطلب من ايباي، طلب شراء من علي اكسبريس ، طلب شراء من علي بابا، تكلفة شحن منخفض من امريكا، تكلفة شحن منخفض من الصين، شحن دولي منخفض، توفير عنوان أمريكي، حماية البائع والمشتري، إعادة توجيه الشحنة من امريكا، إعادة الشحن، من الصين، جناح خاص امريكي وصين، بريد امريكي ، بريد صيني، رسوم شحن منخفض، موقع اعادة شحن، شراء من امريكا والصين، مقارنة بين شواب اند شيب و ماي يو اس، ارخص شركة شحن، ارخص تكلفة شحن من أمريكا والصين، استيراد بدون ضريبة، التخليص الجمركي، شراء من الرياض ، وسيط شراء قطع غيار السيارات، شراء قطع غيار السيارات، ارخص قطع غيار السيارات، شراء من الرياض، تكلفة شحن داخلي منخفض جدا،">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company
        التسوق , الشراء ,التجارة,توصيل المنتجات">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
    <!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-ar.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
        <link rel="stylesheet" type="text/css" href="css/starability-all.min.css"/>

    <!-- END CSS FILE -->

</head>
<body>

   


    <a id="button-up"></a>
    <!-- Start Nav bar md -->
  
    <div class="top-nav position-fixed w-100 d-s-none " dir="rtl" style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator-AR.html">الحاسبة </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="List-stores-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="List-of-stores.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                
                 <!--  <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Blog-AR.html">مدونة</a>
                </div> -->
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </div>

                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Affiliate-AR.html">افليت </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر </a>
                    </div>
                        <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking-AR.html">تتبع الطلبات</a>
                </div>
    
                    <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>        
                </div>

                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login-AR.html">دخول</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
   <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none " dir="rtl" >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>

    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Calculator-AR.html">الحاسبة </a>
                    </li>
    
    

                  
                    
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </li>
                
                        
                        <li class="nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Affiliate-AR.html">افليت </a>
                           </li>
                      
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر  </a>
                    </li>
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Tracking-AR.html">تتبع الطلبات  </a>
                    </li>
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="List-stores-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="List-of-stores.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login-AR.html">  دخول </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    







    
    <section  class="other_nav_link  my-5" style="position: relative; top: 130px;"> 
      
            <div class="container">
           <div class="container-shop">
            
             <div class="input-group mb-3 navbar-left w-100 ">
                <div class="input-group-prepend rounded">
                  <span class="input-group-text  rounded"  id="basic-addon1"><i class=" ml-2 fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
           </div> 
           </div> <!--end container -->
      
         

   </section>
   
   

    <!--section-2 -->
        <section class="section-2 mb-4" style="margin-top: 160px;">
            <!-- container -->
            <div class="container">
                <div class="row">
                       
                    <!-- col-5-->
                        <div class="col-md-6 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">الانواع</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" dir="rtl" >
                                  <option selected> إكسسوارات نسائية</option>
                                  <option value="1">ملابس رجالية</option>
                                  <option value="2">اكسسوارات اجهزة</option>
                
                                </select>
                            </div>
                        </div>
                    <!--/ col-5-->
                
                      
                <!-- col-5-->
                    <div class=" col-md-6 col-12 text-center">
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">الدولة</label>
                            </div>
                            <select class="custom-select"  type="text" id="selectObject" class="form-control"  >
                           
                                <option value="AW">آروبا</option>
                                <option value="AZ">أذربيجان</option>
                                <option value="AM">أرمينيا</option>
                                <option value="ES">أسبانيا</option>
                                <option value="AU">أستراليا</option>
                                <option value="AF">أفغانستان</option>
                                <option value="AL">ألبانيا</option>
                                <option value="DE">ألمانيا</option>
                                <option value="AG">أنتيجوا وبربودا</option>
                                <option value="AO">أنجولا</option>
                                <option value="AI">أنجويلا</option>
                                <option value="AD">أندورا</option>
                                <option value="UY">أورجواي</option>
                                <option value="UZ">أوزبكستان</option>
                                <option value="UG">أوغندا</option>
                                <option value="UA">أوكرانيا</option>
                                <option value="IE">أيرلندا</option>
                                <option value="IS">أيسلندا</option>
                                <option value="ET">اثيوبيا</option>
                                <option value="ER">اريتريا</option>
                                <option value="EE">استونيا</option>
                                <option value="IL">اسرائيل</option>
                                <option value="AR">الأرجنتين</option>
                                <option value="JO">الأردن</option>
                                <option value="EC">الاكوادور</option>
                                <option value="AE">الامارات العربية المتحدة</option>
                                <option value="BS">الباهاما</option>
                                <option value="BH">البحرين</option>
                                <option value="BR">البرازيل</option>
                                <option value="PT">البرتغال</option>
                                <option value="BA">البوسنة والهرسك</option>
                                <option value="GA">الجابون</option>
                                <option value="ME">الجبل الأسود</option>
                                <option value="DZ">الجزائر</option>
                                <option value="DK">الدانمرك</option>
                                <option value="CV">الرأس الأخضر</option>
                                <option value="SV">السلفادور</option>
                                <option value="SN">السنغال</option>
                                <option value="SD">السودان</option>
                                <option value="SE">السويد</option>
                                <option value="EH">الصحراء الغربية</option>
                                <option value="SO">الصومال</option>
                                <option value="CN">الصين</option>
                                <option value="IQ">العراق</option>
                                <option value="VA">الفاتيكان</option>
                                <option value="PH">الفيلبين</option>
                                <option value="AQ">القطب الجنوبي</option>
                                <option value="CM">الكاميرون</option>
                                <option value="CG">الكونغو - برازافيل</option>
                                <option value="KW">الكويت</option>
                                <option value="HU">المجر</option>
                                <option value="IO">المحيط الهندي البريطاني</option>
                                <option value="MA">المغرب</option>
                                <option value="TF">المقاطعات الجنوبية الفرنسية</option>
                                <option value="MX">المكسيك</option>
                                <option value="SA">المملكة العربية السعودية</option>
                                <option value="GB">المملكة المتحدة</option>
                                <option value="NO">النرويج</option>
                                <option value="AT">النمسا</option>
                                <option value="NE">النيجر</option>
                                <option value="IN">الهند</option>
                                <option value="US">الولايات المتحدة الأمريكية</option>
                                <option value="JP">اليابان</option>
                                <option value="YE">اليمن</option>
                                <option value="GR">اليونان</option>
                                <option value="ID">اندونيسيا</option>
                                <option value="IR">ايران</option>
                                <option value="IT">ايطاليا</option>
                                <option value="PG">بابوا غينيا الجديدة</option>
                                <option value="PY">باراجواي</option>
                                <option value="PK">باكستان</option>
                                <option value="PW">بالاو</option>
                                <option value="BW">بتسوانا</option>
                                <option value="PN">بتكايرن</option>
                                <option value="BB">بربادوس</option>
                                <option value="BM">برمودا</option>
                                <option value="BN">بروناي</option>
                                <option value="BE">بلجيكا</option>
                                <option value="BG">بلغاريا</option>
                                <option value="BZ">بليز</option>
                                <option value="BD">بنجلاديش</option>
                                <option value="PA">بنما</option>
                                <option value="BJ">بنين</option>
                                <option value="BT">بوتان</option>
                                <option value="PR">بورتوريكو</option>
                                <option value="BF">بوركينا فاسو</option>
                                <option value="BI">بوروندي</option>
                                <option value="PL">بولندا</option>
                                <option value="BO">بوليفيا</option>
                                <option value="PF">بولينيزيا الفرنسية</option>
                                <option value="PE">بيرو</option>
                                <option value="TZ">تانزانيا</option>
                                <option value="TH">تايلند</option>
                                <option value="TW">تايوان</option>
                                <option value="TM">تركمانستان</option>
                                <option value="TR">تركيا</option>
                                <option value="TT">ترينيداد وتوباغو</option>
                                <option value="TD">تشاد</option>
                                <option value="TG">توجو</option>
                                <option value="TV">توفالو</option>
                                <option value="TK">توكيلو</option>
                                <option value="TO">تونجا</option>
                                <option value="TN">تونس</option>
                                <option value="TL">تيمور الشرقية</option>
                                <option value="JM">جامايكا</option>
                                <option value="GI">جبل طارق</option>
                                <option value="GD">جرينادا</option>
                                <option value="GL">جرينلاند</option>
                                <option value="AX">جزر أولان</option>
                                <option value="AN">جزر الأنتيل الهولندية</option>
                                <option value="TC">جزر الترك وجايكوس</option>
                                <option value="KM">جزر القمر</option>
                                <option value="KY">جزر الكايمن</option>
                                <option value="MH">جزر المارشال</option>
                                <option value="MV">جزر الملديف</option>
                                <option value="UM">جزر الولايات المتحدة البعيدة الصغيرة</option>
                                <option value="SB">جزر سليمان</option>
                                <option value="FO">جزر فارو</option>
                                <option value="VI">جزر فرجين الأمريكية</option>
                                <option value="VG">جزر فرجين البريطانية</option>
                                <option value="FK">جزر فوكلاند</option>
                                <option value="CK">جزر كوك</option>
                                <option value="CC">جزر كوكوس</option>
                                <option value="MP">جزر ماريانا الشمالية</option>
                                <option value="WF">جزر والس وفوتونا</option>
                                <option value="CX">جزيرة الكريسماس</option>
                                <option value="BV">جزيرة بوفيه</option>
                                <option value="IM">جزيرة مان</option>
                                <option value="NF">جزيرة نورفوك</option>
                                <option value="HM">جزيرة هيرد وماكدونالد</option>
                                <option value="CF">جمهورية افريقيا الوسطى</option>
                                <option value="CZ">جمهورية التشيك</option>
                                <option value="DO">جمهورية الدومينيك</option>
                                <option value="CD">جمهورية الكونغو الديمقراطية</option>
                                <option value="ZA">جمهورية جنوب افريقيا</option>
                                <option value="GT">جواتيمالا</option>
                                <option value="GP">جوادلوب</option>
                                <option value="GU">جوام</option>
                                <option value="GE">جورجيا</option>
                                <option value="GS">جورجيا الجنوبية وجزر ساندويتش الجنوبية</option>
                                <option value="DJ">جيبوتي</option>
                                <option value="JE">جيرسي</option>
                                <option value="DM">دومينيكا</option>
                                <option value="RW">رواندا</option>
                                <option value="RU">روسيا</option>
                                <option value="BY">روسيا البيضاء</option>
                                <option value="RO">رومانيا</option>
                                <option value="RE">روينيون</option>
                                <option value="ZM">زامبيا</option>
                                <option value="ZW">زيمبابوي</option>
                                <option value="CI">ساحل العاج</option>
                                <option value="WS">ساموا</option>
                                <option value="AS">ساموا الأمريكية</option>
                                <option value="SM">سان مارينو</option>
                                <option value="PM">سانت بيير وميكولون</option>
                                <option value="VC">سانت فنسنت وغرنادين</option>
                                <option value="KN">سانت كيتس ونيفيس</option>
                                <option value="LC">سانت لوسيا</option>
                                <option value="MF">سانت مارتين</option>
                                <option value="SH">سانت هيلنا</option>
                                <option value="ST">ساو تومي وبرينسيبي</option>
                                <option value="LK">سريلانكا</option>
                                <option value="SJ">سفالبارد وجان مايان</option>
                                <option value="SK">سلوفاكيا</option>
                                <option value="SI">سلوفينيا</option>
                                <option value="SG">سنغافورة</option>
                                <option value="SZ">سوازيلاند</option>
                                <option value="SY">سوريا</option>
                                <option value="SR">سورينام</option>
                                <option value="CH">سويسرا</option>
                                <option value="SL">سيراليون</option>
                                <option value="SC">سيشل</option>
                                <option value="CL">شيلي</option>
                                <option value="RS">صربيا</option>
                                <option value="CS">صربيا والجبل الأسود</option>
                                <option value="TJ">طاجكستان</option>
                                <option value="OM">عمان</option>
                                <option value="GM">غامبيا</option>
                                <option value="GH">غانا</option>
                                <option value="GF">غويانا</option>
                                <option value="GY">غيانا</option>
                                <option value="GN">غينيا</option>
                                <option value="GQ">غينيا الاستوائية</option>
                                <option value="GW">غينيا بيساو</option>
                                <option value="VU">فانواتو</option>
                                <option value="FR">فرنسا</option>
                                <option value="PS">فلسطين</option>
                                <option value="VE">فنزويلا</option>
                                <option value="FI">فنلندا</option>
                                <option value="VN">فيتنام</option>
                                <option value="FJ">فيجي</option>
                                <option value="CY">قبرص</option>
                                <option value="KG">قرغيزستان</option>
                                <option value="QA">قطر</option>
                                <option value="KZ">كازاخستان</option>
                                <option value="NC">كاليدونيا الجديدة</option>
                                <option value="HR">كرواتيا</option>
                                <option value="KH">كمبوديا</option>
                                <option value="CA">كندا</option>
                                <option value="CU">كوبا</option>
                                <option value="KR">كوريا الجنوبية</option>
                                <option value="KP">كوريا الشمالية</option>
                                <option value="CR">كوستاريكا</option>
                                <option value="CO">كولومبيا</option>
                                <option value="KI">كيريباتي</option>
                                <option value="KE">كينيا</option>
                                <option value="LV">لاتفيا</option>
                                <option value="LA">لاوس</option>
                                <option value="LB">لبنان</option>
                                <option value="LU">لوكسمبورج</option>
                                <option value="LY">ليبيا</option>
                                <option value="LR">ليبيريا</option>
                                <option value="LT">ليتوانيا</option>
                                <option value="LI">ليختنشتاين</option>
                                <option value="LS">ليسوتو</option>
                                <option value="MQ">مارتينيك</option>
                                <option value="MO">ماكاو الصينية</option>
                                <option value="MT">مالطا</option>
                                <option value="ML">مالي</option>
                                <option value="MY">ماليزيا</option>
                                <option value="YT">مايوت</option>
                                <option value="MG">مدغشقر</option>
                                <option value="EG">مصر</option>
                                <option value="MK">مقدونيا</option>
                                <option value="MW">ملاوي</option>
                                <option value="ZZ">منطقة غير معرفة</option>
                                <option value="MN">منغوليا</option>
                                <option value="MR">موريتانيا</option>
                                <option value="MU">موريشيوس</option>
                                <option value="MZ">موزمبيق</option>
                                <option value="MD">مولدافيا</option>
                                <option value="MC">موناكو</option>
                                <option value="MS">مونتسرات</option>
                                <option value="MM">ميانمار</option>
                                <option value="FM">ميكرونيزيا</option>
                                <option value="NA">ناميبيا</option>
                                <option value="NR">نورو</option>
                                <option value="NP">نيبال</option>
                                <option value="NG">نيجيريا</option>
                                <option value="NI">نيكاراجوا</option>
                                <option value="NZ">نيوزيلاندا</option>
                                <option value="NU">نيوي</option>
                                <option value="HT">هايتي</option>
                                <option value="HN">هندوراس</option>
                                <option value="NL">هولندا</option>
                                <option value="HK">هونج كونج الصينية</option>
                            </select>
                        </div>
                    </div>
                <!--/ col-5-->


                <!--/ col-md-3-->

                <!-- <div class="col-md-3 col-12 text-center mx-auto d-flex">  
                   <div class="mx-auto "> 
                        <form >
    
                    <fieldset class="starability-basic">
                   
                      <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                
                      <input type="radio" id="rate1" name="rating" value="1" />
                      <label for="rate1">1 star.</label>
                
                      <input type="radio" id="rate2" name="rating" value="2" />
                      <label for="rate2">2 stars.</label>
                
                      <input type="radio" id="rate3" name="rating" value="3" />
                      <label for="rate3">3 stars.</label>
                
                      <input type="radio" id="rate4" name="rating" value="4" />
                      <label for="rate4">4 stars.</label>
                
                      <input type="radio" id="rate5" name="rating" value="5" />
                      <label for="rate5">5 stars.</label>
                
                      <span class="starability-focus-ring"></span>
                    </fieldset>
                  </form></div>
                  </div> -->
                    <!--/ col-md-3-->


                    <!--/ col-md-3-->
                    <div class="col-md-12 text-center py-3 border-bottom d-flex">
                        <div class="mr-auto  w-75">
                            <label for="selectAll">المواقع المميزة العالمية</label>
                            <input id="selectAll"  type="radio"  name="selectAll" value="Bike">
                        </div>

                        <div class="ml-auto  w-75">
                            <label for="selectAll">المواقع المميزة السعودية </label>
                            <input id="selectAll"  type="radio"  name="selectAll" value="Bike">
                        </div>
                    
                    </div>
                       <!--/ col-md-3-->

                 </div><!--/ Row -->
          
            </div>
            <!--/ container -->
        </section>
    <!--section-2 -->            
                
        
    






    <section class="section-3">
        <div class="container">
            <div class="row">

                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       
                <!-- col-md-3  -->
                <div class="col-md-3 col-12 mb-3">
                    <div class="logo-site w-100">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img class="content-image" src="images/Shop-from (1).png">
                            <div class="content-details fadeIn-bottom  mt-5 pt-4">
                                <div class="d-flex justify-content-between">
                           <a href="Blog-AR.html" class="btn bg-light text-dark mx-2">الذهاب للموقع </a>  
                            <a href="Blog-AR.html" class="btn bg-light text-dark">معلومات عن الموقع </a>  
                            </div>
                          <p class=" text-light">  دولة المتجر  السعودية </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End col-md-3  -->
       

 
            


                <!-- End col-md-3  -->
                 <div class="col-12 my-5 text-center">
                     <div> 
                         <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                      </div>
                      </div> 
                    </div>

                    

                 
            </div>
        </div>
    </section>
                
                
                
    
    
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>احصل على آخر الأخبار  </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="الأسم" dir="rtl">
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="ايميل" dir="rtl">
              </div>
              <button type="submit" class="btn btn-primary">أشتراك</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
<!-- Start container-->
<div class="bg-blue w-100 h-100"> 
<div class="container">

    <div class="row pt-5">

    <!--col-md-3 -->
        <div class="col-md-3 col-12">

            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn"  data-toggle="modal">  اشتراك آخر الاخبار  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->


    <!--col-md-3 -->
    <div class="col-md-3 col-12 text-right">
        <div class="pages">
            <ul>
                <li><a href="Tracking-AR.html">النزاعات</a></li>
                <li><a href="Forbiddens-AR.html">الممنوعات</a></li>
                <li><a href="Website-Development-AR.html">تطوير الموقع</a></li>
                <li><a href="Proof-of-money-transfer-AR.html">اثبات تحول المبلغ</a></li>
            </ul>
        </div>
    </div>
  <!--col-md-3 -->

    <!--col-md-3 -->
        <div class="col-md-3 col-12 text-right">
            <div class="pages">
                <ul>
                  
                   <li><a href="Contact-Us-AR.html">اتصل بنا</a></li>
                   <li><a href="#">الأسئلة الشائعة</a></li>
                   <li><a href="Terms-Conditions-AR.html">الشروط والأحكام</a></li>
                   <li><a href="Privacy-Policy-AR.html">سياسة الخصوصية</a></li>
                   
                </ul>
            </div>
        </div>
    <!--col-md-3 -->




    <!--col-md-3 -->
        <div class="col-md-3 col-12 text-right">
            <div class="pages">
                <ul>
                  
                    <li><a href="#">الحقوق</a></li>
                    <li><a href="About-us-AR.html">من نحن</a></li>
                    <li><a href="#">وسائل الدفع</a></li>
                    <li><a href="Charging-system-AR.html">الشحن والتوصيل</a></li>
          
                </ul>
            </div>
        </div>
    <!--col-md-3 -->






      
    </div>

    <div class="row">
         <div class="mx-auto col-md-5  col-12">
            <div class="paymentWrap">
                <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                    <label class=" paymentMethod ">
                        <div class="method visa"></div>
                        <input type="radio" name="options" checked> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method master-card"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method amex"></div>
                        <input type="radio" name="options">
                    </label>
                     <label class=" paymentMethod">
                         <div class="method vishwa"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method ez-cash"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method ez-cashh"></div>
                        <input type="radio" name="options"> 
                    </label>
                 
                </div>        
            </div>
         </div>
    </div>


</div>
<!-- End container-->
<div class="border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-light mt-1">جميع الحقوق محفوظ لمؤسسة الوصول المضمون للتجارة    </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- End Footer -->


    

        <!-- START JS FILE -->
         
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();



                    // (function(){
                    // $("#cart").on("click", function() {
                    // $(".shopping-cart").fadeToggle( "fast");
                    // }); })();



                
                jackHarnerSig();

               
        </script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>