<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>استلام الشحنة من البائع</title>
    
    <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="وسيط للطلب من المواقع العالمية، توفير عنوان امريكي وصيني، توفير عنوان سعودي، استيراد من السعودية وامريكا والصين، وسيط شراء من امريكا، وسيط شراء من الصين، ، تسهيل الشراء من المواقع العالمية، الطلب من امازون، الطلب من ايباي، طلب شراء من علي اكسبريس ، طلب شراء من علي بابا، تكلفة شحن منخفض من امريكا، تكلفة شحن منخفض من الصين، شحن دولي منخفض، توفير عنوان أمريكي، حماية البائع والمشتري، إعادة توجيه الشحنة من امريكا، إعادة الشحن، من الصين، جناح خاص امريكي وصين، بريد امريكي ، بريد صيني، رسوم شحن منخفض، موقع اعادة شحن، شراء من امريكا والصين، مقارنة بين شواب اند شيب و ماي يو اس، ارخص شركة شحن، ارخص تكلفة شحن من أمريكا والصين، استيراد بدون ضريبة، التخليص الجمركي، شراء من الرياض ، وسيط شراء قطع غيار السيارات، شراء قطع غيار السيارات، ارخص قطع غيار السيارات، شراء من الرياض، تكلفة شحن داخلي منخفض جدا،">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company
        التسوق , الشراء ,التجارة,توصيل المنتجات">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
    <!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-ar.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- END CSS FILE -->

</head>
<body>


   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->
  
    <div class="top-nav position-fixed w-100 d-s-none " dir="rtl" style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">الحاسبة </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Request-delivery-rder-suite-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Request-delivery-of-order-to-the-suite.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                
                 <!--  <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Blog-AR.html">مدونة</a>
                </div> -->
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </div>

                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="افليت.html">افليت </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر </a>
                    </div>
                        <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking-AR.html">تتبع الطلبات</a>
                </div>
    
                    <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>        
                </div>

                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login-AR.html">دخول</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
   <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none " dir="rtl" >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>

    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">الحاسبة </a>
                    </li>
    
    

                  
                    
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </li>
                
                        
                        <li class="nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="افليت.html">افليت </a>
                           </li>
                      
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر  </a>
                    </li>
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Tracking-AR.html">تتبع الطلبات  </a>
                    </li>
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Request-delivery-rder-suite-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Request-delivery-of-order-to-the-suite.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login-AR.html">  دخول </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    



 

    <!--Start section-1  -->
    <section class="other_nav_link "  style="position: relative; top: 160px;">
        <!-- Start container-->
        <div class="container">
           <!--   <div class="wrapper">	
                <div class="arrow-steps clearfix">
                          <div class="step current first-step"> <span> تعريف الخدمة</span> </div>
                          <div class="step then-step"> <span>عنوان الاستلام</span> </div>
                          <div class="step next-step"> <span> تفاصيل الشحنة</span> </div>
                          <div class="step then-step"> <span>طباعة البوليصة</span> </div>
                        </div>
                       <div class="nav clearfix">
                        <a href="#" class="prev">Previous</a>
                        <a href="#" class="next pull-right">Next</a>
                        </div> 
                </div>-->
            
            <div class="row" id="first-hider">
            
            
                <div class=" col-md-12  font-weight-bolder text-primary text-center my-3">
                    <h3>إستلام الشحنة من البائع</h3>
                    
                </div>
                
                <div class=" col-md-12  text-right my-3">
                    <h3 class="text-primary">:وصف الخدمة</h3>
                    <p class="pr-md-5  font-weight-bold">هى خدمة خاصة للبائعين من داخل السعودية فقط. تتم فيها إستلام الشحنة من عنوانه وتوصيلها لجناحة الخاص بالرياض<br>لطلب خدمة <a href="#"> حماية البائع والمشترى </a> أو طلب <a href="#">توصيل الطلبية مع استلام المبلغ من المشتري </a></p>
                </div>
                <!--</div>-->
                

                <!--</div>-->
                <div class="col-md-12 bg-basket rounded text-center p-3 mb-5">
                    <div class="col-lg-12 text-right  font-weight-bold">
                        <h3 class="text-primary">:مميزات الخدمة</h3>
                        <p>تكلفة توصيل منخفضة جدا بسبب اتفاقياتنا مع شركات الشحن السريعة </p>
                        <p class="text-primary">تكلفة ال5 كيلو تصل ل 40 ريال بدل 140 ريال عند شحنها شخصيا </p>
                        <p>عدم الحاجة لعناء التسليم لشركات الشحن للتوصيل </p>
                        <p class="text-primary">الموقع يكون مسؤول عن استلام الشحنة في الرياض </p>
                        <p>شركات سريعة تمر البائع في أي منطقة بأنحاء المملكة </p>
                    </div>     
                    
                    <div class="col-md-3 col-12  text-center mx-auto">  
                        <div>
                        <a class="btn btn-primary my-3 interSer next pull-right text-light "> الدخول للخدمة</a>
                        </div>
                        
                    </div>
  
                </div>
                
                
            </div>
            </div>
            <!-- container --> 
            
        </section>
    <!--/ section-1 -->
                
                
                
    <!--/ section-2 -->
        <section class="section-2 " style="margin-top: 160px;">
            <div  id="interSer" style="display: none;">
            <!-- container -->
                <div class="container">
                    <!-- Row -->
                    <div class="row my-3" id="then-hider">
                       
                        <!-- col-4 -->
                        <div class=" col-md-4 col-12 text-center"></div>
                        
                        <div class=" col-md-4 col-12 text-center mb-5">
                            <div class="input-group my-3" dir="rtl">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">عنوان الإستلام</label>
                                </div>
                                <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div3', this)" >
                                  <option selected>أختار ...</option>
                                  <option value="1"> خالد </option>
                                  <option value="2">.........</option>
                                  <option value="3">إضافة عنوان</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class=" col-md-4 col-12 text-center"></div>
                        
                        <!--/ col-4 -->                               
                         





                        <div class="col-12 " id="hidden_div3">
                            
                            <div class="row" >
                            
                                       <!-- col-4 -->
                        <div class=" col-md-4 col-12 text-center"></div>

                        
                        <div class=" col-lg-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">اسم  المستلم* </span>
                                </div>
                                <input  placeholder="ادخل اسم صحيح"oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                            <!-- col-4 -->
                            <div class="col-md-12 col-12 text-center">
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">عنوان 1</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);"
                                    required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <!--/ col-4 -->
                            
                            <!-- col-4 -->
                            <div class=" col-md-12 col-12 text-center">
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">عنوان 2</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <!--/ col-4 -->
                            
                            <!-- col-4 -->
                            <div class=" col-md-6 col-12 text-center">
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">المدينة</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);"
                                    required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <!--/ col-4 -->
                             <!-- col-12 -->            
                        <div class=" col-md-6 col-12 text-center">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cityname">المنطقة</label>
                                </div>
                                <input required type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1"  list="cityname">
                                    <datalist id="cityname">
                                    <option>الرياض</option>
                                    <option>مكة</option>
                                    <option>المدينة</option>
                                    <option>القصيم</option>
                                    <option>الشرقية</option>
                                    <option>عسير</option>
                                    <option>تبوك</option>
                                    <option>حائل</option>
                                    <option>الحدود الشمالية </option>
                                    <option>جازان</option>
                                    <option>الباحة</option>
                                    <option>الجوف</option>
                                </datalist>
                            </div>
                        </div>
                        
                        <!--/ col-12-->
                                                    
                            
                            
                            <!-- col-12 -->
                            <div class=" col-md-12 text-center">
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">رقم الجوال</span>
                                    </div>
                                    <input oninvalid="InvalidMsg(this);"
                                    required="required"  oninput="InvalidMsg(this);"type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <!--/ col-md-3 -->
                            
                                    
                                    <div class="col-md-3 col-12  text-center mx-auto">  
                                        <div>
                                            <a class="btn btn-primary my-3 px-5 next pull-right then-hider"  data-toggle="collapse" href="#details"  role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        التالى</a>
                                        </div>
                                    </div>
                                    
                            </div>
                            <!--/ collapse -->
                        </div>
                        
                    </div>
                    <!--/ Row -->
                </div>
                <!--/ Container -->
            </div>
            <!--/ collapse -->
        </section>
        <!--/ section-2 -->
        
        
        
        
        <!--/ section-3 -->
        <section class="section-3 " >
            <div class="collapse" id="details">
            <!-- container -->
                <div class="container">
                    <!-- Row -->
                    <div class="row" id="next-hider">

                        <div class="col-12">
                            
                            <div class="row">                              
                               
                            
                                <div class="col-md-6 col-12  text-right  " id="hidden_div2">
                                    <div class="input-group " dir="rtl" >
                                        <input  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                                        <button type="submit" class="btn btn-primary mx-3 px-5" > حفظ </button>
                                    </div>
                                </div>  
                        <!--/ col-3 -->
                        
                        <!-- col-6 -->
                                <div class="col-md-12 col-12 text-right my-4">
                                    <div class="input-group " dir="rtl">
                                        <div class="input-group-prepend">
                                          <label class="input-group-text" for="inputGroupSelect01">وزن الشحنة</label>
                                        </div>
                                        <select required class="custom-select" id="test" name="form_select" onchange="showDiv('hidden_div2', this)" >
                                          <option selected>أختار ...</option>
                                          <option value="1">500-100 جرام</option>
                                          <option value="2">1000-501 جرام</option>
                                          <option value="3">كيلو جرام</option>
                                        </select>
                                    </div>
                                </div>
 
                                <!--/ col-6 -->                       
                        
                                
                            </div>
                        </div>                                                               
                        <!-- col-3 -->
                        
                        
                        
                    <!-- col-12-->
                        <div class="col-md-6 col-12 text-right font-weight-bolder mt-5" dir="rtl">            
                            <form>
                                <label class="ml-sm-5">   <h5>لزقة ضد الكسر *</h5></label>
                                <label class="radio-inline px-2">
                                  <input required="required"   type="radio" name="optradio" id="textcheck1"> ريال ,5 نعم </label>
                                <label class="radio-inline pl-5">
                                  <input  required="required"type="radio" name="optradio" id="textcheck2">  لا</label>
                                
                            </form>
                        </div>
                        <!--/ col-12-->
                        
                        <!-- col-12-->
                        <div class="col-md-6 col-12 text-right font-weight-bolder mt-5" dir="rtl">            
                            <form>
                                <label><h5>التأمين على الشحنة *</h5></label>
                                <label class="radio-inline px-2">
                                  <input required="required" type="radio" name="optradio">  نعم 2% من سعر الطلبية </label>
                                <label class="radio-inline pl-2">
                                  <input required="required" type="radio" name="optradio">  لا</label>
                                
                            </form>
                        </div>
                        <!--/ col-12-->    
                        
                        
                        <!-- col-12-->
                        <div class="col-lg-12 text-center"> 
                            <div class="input-group input-group-lg" dir="rtl">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">محتوى الشحنة</span>
                                </div>
                                <textarea    oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"class="form-control"  placeholder="ضع تفاصيل صحيحة" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <!--/ col-12-->
                        
                        
                        <!-- col-6 -->
                        <div class="col-md-5 col-12 text-center my-3">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">اختر شركة الشحن</label>
                                </div>
                                <select  required="required"class="custom-select" id="inputGroupSelect01" dir="rtl" >
                                  <option selected>أختار ...</option>
                                  <option value="1">فيدكس، 4-5 ايام، التكلفة 25 ريال </option>
                                  <option value="2">ارامكس، 6-8 ايام، التكلفة 22 ريال </option>
                                  <option value="2">.....</option>
                                </select>
                            </div>
                        </div>
                      <!--/ col-6 -->    
                        
                        
                        <!-- col-6 -->
                        <div class=" col-md-7 col-12 text-center my-3">
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">الوقت المفضل للأستلام</span>
                                </div>
                                <input   oninvalid="InvalidMsg(this);"
                                required="required"  oninput="InvalidMsg(this);"type="password" class="form-control" placeholder=" اختر الوقت من 8 صباحا حتى 5 مساءا " aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!--</div>-->
                        
                        
                        
                        
                        <div class="col-md-3 col-12  text-center mx-auto">  
                            <div>
                                <a class="btn btn-primary my-3 px-5 next pull-right next-hider" data-toggle="collapse" href="#print"  role="button" aria-expanded="false" aria-controls="collapseExample">
                                            التالى</a>
                            </div>
                        </div>
            
                    </div>
                    <!--/ ROW -->
                </div>
                <!--/ Container -->
                
            </div>
            <!--/ collapse -->
            
        </section>
        <!--/ section-3 -->
                
                

  
  
  <!--/ section-4 -->
        <section class="section-3 " >
            <div class="collapse" id="print">
            <!-- container -->
                <div class="container">
                    <!-- Row -->
                    <div class="row">


                        <!--/ col-12-->
                        <div class=" col-md-12  font-weight-bold text-secndry text-center my-3">
                            <h3>يرجى إرفاق البوليصة أدناه مع الشحنة</h3>
                        </div>
                        <!-- col-12-->
                        
                        <div class=" col-md-12">
                            
                            <div class="row card-bg font-weight-bold" dir="rtl">
                                
                                
                                <div class="col-md-6 text-right p-3">
                                    <h5 class="text-primary ">المرسل</h5>
                                    <ul class="list-unstyled">
                                        <li>الأسم :</li>
                                        <li>العنوان :</li>
                                        <li>المنطقة و المدينة :</li>
                                        <li>رقم الجوال :</li>
                                    </ul>
                                </div>
                            
                                <div class="col-md-6 text-right p-3">
                                    <h5 class="text-primary ">المستلم</h5>
                                    <ul class="list-unstyled">
                                        <li>الأسم :</li>
                                        <li>العنوان :</li>
                                        <li>المنطقة و المدينة :</li>
                                        <li>رقم الجوال :</li>
                                    </ul>
                                </div>
                                
                                
                                
                                <h3 class="my-3 p-5">تفاصيل الشحنة :</h3>
                            
                            </div>
                            
                        </div>
                        
                        
                        <div class=" col-md-12 text-center my-5">
                            <h5>.ملاحظة: يمكن طباعة البوليصة أو كتبتها يدويا وإرفاقها مع الشحنة</h5>
                        </div>
                        
                        
                        
                        <div class="col-lg-6  col-6 text-center my-2">
                            <a href="#" class="btn btn-info " style="font-size:24px">
                            <span class="glyphicon glyphicon-print"><i class="fa fa-print" style="font-size:24px;"></i></span>  </a>
                        </div>
                        
                        
                         <!-- col-6 -->
                        <div class="col-lg-6 col-6 text-center  my-2">
                            <button class="btn btn-info  py-2" style="font-size:24px"><i class="fa fa-download"></i>  </button>
                        </div>
                        <!--/ col-6 -->
                        
                        
                        
                        
                        
                        <!--/ col-12-->
                        <div class=" col-12 col-md-3  text-center my-3 mx-auto">
                            <button type="button" class="btn btn-primary px-2 ">الدفع الآن</button>
                        </div>
                        <!--</div>-->
                        
                        

  
  
                    </div>
                    <!--/ ROW -->
                </div>
                <!--/ Container -->
                
            </div>
            <!--/ collapse -->
            
        </section>
        <!--/ section-3 -->
    
    
    




    

        <!-- START JS FILE -->
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
       
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        
        
           <script>
            function showDiv(divId, element)
                {
                    document.getElementById(divId).style.display = element.value == 3 ? 'block' : 'none';
                   
                }
                
               
         </script>


          <script type="text/javascript">
      
    //   $(".first-step").click(function() {
    //  $("#first-hider").show();
    //  });


      $(".then-step").click(function() {
     $("#then-hider").show();
     });
      $(".next-step").click(function() {
     $("#next-hider").show();
     });


      $(".interSer").click(function() {
     $("#interSer").show();
     });


      $(".interSer").click(function() {
     $("#first-hider").hide();
        });

        $(".then-hider").click(function() {
        $("#then-hider").hide();
         
        });

        // $('.first-styp').click(function(){
        //     $('#first-styp' ).hide();
        //     });

        $(".next-hider").click(function() {
        $("#next-hider").hide(); 
        });
   
//    $('#hideshow').live('click', function(event) {        
//          $('#content').toggle('show');
//     });
        
        
       

                function readURL(input) {
            
            if (input.files && input.files[0]) {
              var reader = new FileReader();
            
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
            
              reader.readAsDataURL(input.files[0]);
            }
            }
            
           
            
            
        </script>



  
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>  
    