<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>منتجات القسم</title>
    
    <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="وسيط للطلب من المواقع العالمية، توفير عنوان امريكي وصيني، توفير عنوان سعودي، استيراد من السعودية وامريكا والصين، وسيط شراء من امريكا، وسيط شراء من الصين، ، تسهيل الشراء من المواقع العالمية، الطلب من امازون، الطلب من ايباي، طلب شراء من علي اكسبريس ، طلب شراء من علي بابا، تكلفة شحن منخفض من امريكا، تكلفة شحن منخفض من الصين، شحن دولي منخفض، توفير عنوان أمريكي، حماية البائع والمشتري، إعادة توجيه الشحنة من امريكا، إعادة الشحن، من الصين، جناح خاص امريكي وصين، بريد امريكي ، بريد صيني، رسوم شحن منخفض، موقع اعادة شحن، شراء من امريكا والصين، مقارنة بين شواب اند شيب و ماي يو اس، ارخص شركة شحن، ارخص تكلفة شحن من أمريكا والصين، استيراد بدون ضريبة، التخليص الجمركي، شراء من الرياض ، وسيط شراء قطع غيار السيارات، شراء قطع غيار السيارات، ارخص قطع غيار السيارات، شراء من الرياض، تكلفة شحن داخلي منخفض جدا،">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company
        التسوق , الشراء ,التجارة,توصيل المنتجات">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
    <!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-ar.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->

</head>
<body>

   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->
  
    <div class="top-nav position-fixed w-100 d-s-none " dir="rtl" style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">الحاسبة </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="منتجات قسم store-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Store-section-products.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                
                 <!--  <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Blog-AR.html">مدونة</a>
                </div> -->
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </div>

                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="افليت.html">افليت </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر </a>
                    </div>
                        <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking-AR.html">تتبع الطلبات</a>
                </div>
    
                    <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>        
                </div>

                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login-AR.html">دخول</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
   <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none " dir="rtl" >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>

    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">الحاسبة </a>
                    </li>
    
    

                  
                    
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </li>
                
                        
                        <li class="nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="افليت.html">افليت </a>
                           </li>
                      
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر  </a>
                    </li>
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Tracking-AR.html">تتبع الطلبات  </a>
                    </li>
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="منتجات قسم store-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Store-section-products.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login-AR.html">  دخول </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    


 
    
    <section  class="other_nav_link" style="position: relative; top: 130px;"> 
        <nav class="other_nav">
           <div class="container-shop">
            
             <div class="input-group mb-3 navbar-left w-75 ">
                <div class="input-group-prepend ">
                  <span class="input-group-text "  id="basic-addon1"><i class=" ml-2 fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
             
             
             <ul class="navbar-right">
                
                <li>
                    <select class="cat">
                        <option value="">الكتالوج</option>
                        <option value=""><a class="#">ملابس</a> </option>
                        <option value=""><a class="#">اكسسوارات</a> </option>
                        <option value=""><a class="#">أحذية</a> </option>
                    </select>
                </li>
                
                <li><a href="#" id="favo">
                    <i class="fa  fa-2x fa-heart"></i>
                    <span class="badge bg-danger">5</span></a></li>

               <li><a href="#" id="cart">
                   <i class="fa  fa-2x fa-shopping-cart"></i>
                   <span class="badge">3</span></a></li>
               
             </ul> <!--end navbar-right -->
           </div> <!--end container -->
         </nav>
         
         
         <div class=" container-shop ">
           <div class="shopping-cart ">
             <div class="shopping-cart-header">
               <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
               <div class="shopping-cart-total">
                 <span class="lighter-text">Total:</span>
                 <span class="main-color-text">$2,229.97</span>
               </div>
             </div> <!--end shopping-cart-header -->
         
             <ul class="shopping-cart-items">
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
                 <span class="item-name">Sony DSC-RX100M III</span>
                 <span class="item-price">$849.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
         
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
                 <span class="item-name">KS Automatic Mechanic...</span>
                 <span class="item-price">$1,249.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
         
               <li class="clearfix">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
                 <span class="item-name">Kindle, 6" Glare-Free To...</span>
                 <span class="item-price">$129.99</span>
                 <span class="item-quantity">Quantity: 01</span>
               </li>
             </ul>
         
             <a href="#" class="button">Checkout</a>
           </div> <!--end shopping-cart -->
         </div> <!--end container -->
   
   
   </section>
    
    
    <!-- Start other link  -->
    <div class="other_nav_link" style="position: relative; top: 130px;">
            <div class="border-bottom mb-3">
                <div class="container py-2 ">
               
                    <div class="row w-100 mx-auto font-weight-bold">
                        
                        <div class=" col-md col-4  px-1  text-center">
                                <a class="  pl-0 pr-0 text-primary " href="#">تقييمات العملاء</a>
                        </div>
                        
                        <div class=" col-md col-4  px-1  text-center">
                                <a class="  pl-0 pr-0 text-primary  " href="#">آخر الأخبار</a>
                        </div>
                        
                        <div class=" col-md col-4 px-1  text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">المدونة</a>
                        </div>
                        
                        <div class=" col-md col-4  px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">تتبع الطلبات</a>
                        </div>
                        
                        <div class=" col-md col-4  px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">حاسبة التكليف</a>
                        </div>
                        
                        <div class=" col-md col-4 px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">المواقع الإلكترونية</a>
                        </div>
                        
                        <div class=" col-md col-4 px-1 text-center">
                                <a class=" pl-0 pr-0 text-primary  " href="#">نظام التأمين</a>
                        </div>
                       

                    </div>
                </div>
            </div>
        <!-- border-bottom -->       
        
        </div>
        
    </div>
    <!-- End other link  -->
    
    
    <!-- start feature -->
        <section class="dept_product section-2" style="margin-top: 160px;">
            <!-- container -->
            <div class="container">
                    
                     <!-- row -->
                    <div class="row  py-3 flex-column-reverse flex-md-row ">
                        
                        <div class="col-md-9 col-12 text-center" dir="rtl">
                            <h3 class="text-right">منتجات الكترونية</h3>
                            
                            <div class="row bg-basket rounded text-center py-3 mb-3  p-3">
                                
                                <ul class="list-inline list-unstyled py-3">

                                    <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                               <!-- Row -->
                                
                                <ul class="list-inline list-unstyled">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <!-- Row -->
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled py-3">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                               
                                <!-- Row -->
                                
                                <ul class="list-inline list-unstyled">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                                                     <li class="list-img list-inline-item"><a href="Store-product-description-AR.html"> <img class="pro_image px-4 " src="images/png-transport.png"> </a></li>

                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-img list-inline-item"> <img class="pro_image px-4" src="images/png-transport.png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-img list-inline-item"> <img class="pro_image px-4" src="images/png-transport.png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                <ul class="list-inline list-unstyled">
                                    <li class="list-img list-inline-item"> <img class="pro_image px-4" src="images/png-transport.png"> </li>
                                    <li><h6>50$</h6></li>
                                    <li><h6>ساعة الكترونية</h6></li>
                                </ul>
                                
                                    
                                
                       
                            </div>
                        </div>
                        
                    <!-- col-4 -->
                        
                        <div class="col-md-3 col-12 text-right  my-md-5" dir="rtl">
                            
                                
                                <div class="input-group mb-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text w-auto" for="inputGroupSelect02">التوصيل الى</label>
                                    </div>
                                        <select class="custom-select" id="inputGroupSelect02" dir="rtl" >
                                          <option selected>--أختار--</option>
                                          <option value="1">السعودية</option>
                                          <option value="2">جميع أنحاء العالم</option>
                                        </select>
                                </div>
                                
                                <div class="input-group my-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text  w-auto" for="inputGroupSelect02">السعر</label>
                                    </div>
                                        <select class="custom-select" id="inputGroupSelect02" dir="rtl" >
                                          <option selected>--أختار--</option>
                                          <option value="1">من الادني الي الأعلي </option>
                                          <option value="2">من الأعلي الي الادني</option>
                                       
                                        </select>
                                </div>
                                
                                
                                <div class="input-group my-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text  w-auto" for="inputGroupSelect02">الكتالوج</label>
                                    </div>
                                        <select class="custom-select" id="inputGroupSelect02" dir="rtl" > 
                                            <option selected>--أختار--</option>
                                            <option value="1">ملابس</option>
                                            <option value="2">اكسسوارات</option>
                                            <option value="3">أحذية</option>
                                        </select>
                                </div>
                                
                                
                                <div class="input-group my-3" dir="rtl">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text  w-auto" for="inputGroupSelect02">العروض</label>
                                    </div>
                                        <select class="custom-select" id="inputGroupSelect02" dir="rtl" > 
                                            <option selected>--أختار--</option>
                                            <option value="1">المنتجات المميزة</option>
                                            <option value="2">عروض الأسبوع</option>
                                            <option value="3">المنتجات الجديدة</option>
                                            <option value="4">المنتجات الرخيصة</option>
                                            <option value="5">عروض وؤقتة</option>
                                        </select>
                                </div>
     
                        </div>
                    </div>
            </div>
        </section>
    
    
    
    
    
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>احصل على آخر الأخبار  </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="الأسم" dir="rtl">
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="ايميل" dir="rtl">
              </div>
              <button type="submit" class="btn btn-primary">أشتراك</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
<!-- Start container-->
<div class="bg-blue w-100 h-100"> 
<div class="container">

    <div class="row pt-5">

    <!--col-md-3 -->
        <div class="col-md-3 col-12">

            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn"  data-toggle="modal">  اشتراك آخر الاخبار  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->


    <!--col-md-3 -->
    <div class="col-md-3 col-12 text-right">
        <div class="pages">
            <ul>
                <li><a href="Tracking-AR.html">النزاعات</a></li>
                <li><a href="Forbiddens-AR.html">الممنوعات</a></li>
                <li><a href="Website-Development-AR.html">تطوير الموقع</a></li>
                <li><a href="Proof-of-money-transfer-AR.html">اثبات تحول المبلغ</a></li>
            </ul>
        </div>
    </div>
  <!--col-md-3 -->

    <!--col-md-3 -->
        <div class="col-md-3 col-12 text-right">
            <div class="pages">
                <ul>
                  
                   <li><a href="Contact-Us-AR.html">اتصل بنا</a></li>
                   <li><a href="#">الأسئلة الشائعة</a></li>
                   <li><a href="Terms-Conditions-AR.html">الشروط والأحكام</a></li>
                   <li><a href="Privacy-Policy-AR.html">سياسة الخصوصية</a></li>
                   
                </ul>
            </div>
        </div>
    <!--col-md-3 -->




    <!--col-md-3 -->
        <div class="col-md-3 col-12 text-right">
            <div class="pages">
                <ul>
                  
                    <li><a href="#">الحقوق</a></li>
                    <li><a href="About-us-AR.html">من نحن</a></li>
                    <li><a href="#">وسائل الدفع</a></li>
                    <li><a href="Charging-system-AR.html">الشحن والتوصيل</a></li>
          
                </ul>
            </div>
        </div>
    <!--col-md-3 -->






      
    </div>

    <div class="row">
         <div class="mx-auto col-md-5  col-12">
            <div class="paymentWrap">
                <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                    <label class=" paymentMethod ">
                        <div class="method visa"></div>
                        <input type="radio" name="options" checked> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method master-card"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method amex"></div>
                        <input type="radio" name="options">
                    </label>
                     <label class=" paymentMethod">
                         <div class="method vishwa"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method ez-cash"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method ez-cashh"></div>
                        <input type="radio" name="options"> 
                    </label>
                 
                </div>        
            </div>
         </div>
    </div>


</div>
<!-- End container-->
<div class="border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-light mt-1">جميع الحقوق محفوظ لمؤسسة الوصول المضمون للتجارة    </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- End Footer -->




    

        <!-- START JS FILE -->
         
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>   
        <script src="js/jquery-3.2.1.slim.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script type="text/javascript">

                   

               
        </script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>