<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="icon" href="">
    <title>النزاع</title>
    
    <!-- START SEO SECTION AND META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="وسيط للطلب من المواقع العالمية، توفير عنوان امريكي وصيني، توفير عنوان سعودي، استيراد من السعودية وامريكا والصين، وسيط شراء من امريكا، وسيط شراء من الصين، ، تسهيل الشراء من المواقع العالمية، الطلب من امازون، الطلب من ايباي، طلب شراء من علي اكسبريس ، طلب شراء من علي بابا، تكلفة شحن منخفض من امريكا، تكلفة شحن منخفض من الصين، شحن دولي منخفض، توفير عنوان أمريكي، حماية البائع والمشتري، إعادة توجيه الشحنة من امريكا، إعادة الشحن، من الصين، جناح خاص امريكي وصين، بريد امريكي ، بريد صيني، رسوم شحن منخفض، موقع اعادة شحن، شراء من امريكا والصين، مقارنة بين شواب اند شيب و ماي يو اس، ارخص شركة شحن، ارخص تكلفة شحن من أمريكا والصين، استيراد بدون ضريبة، التخليص الجمركي، شراء من الرياض ، وسيط شراء قطع غيار السيارات، شراء قطع غيار السيارات، ارخص قطع غيار السيارات، شراء من الرياض، تكلفة شحن داخلي منخفض جدا،">
        <meta name="keyword" content="shop , Shopping, buy,sale,trade,Saudi Pavilion
        ,Deliver products,Saudi Company
        التسوق , الشراء ,التجارة,توصيل المنتجات">
        <meta name="copmany" content="Saudi Pavilion">
        <meta name="url" content="">
    <!-- END SEO SECTION -->

    <!-- START CSS FILE -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style-ar.css">
        <link rel="stylesheet" type="text/css" href="css/media.css">
    <!-- END CSS FILE -->
<style>

</style>
</head>
<body>

   

    <a id="button-up"></a>
    <!-- Start Nav bar md -->
  
    <div class="top-nav position-fixed w-100 d-s-none " dir="rtl" style="top: 0px;">
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">الحاسبة </a>
                    </li>
    
    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Tracking-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Tracking.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                    
    
                    <li class="btn-danger rounded-1 px-4 py-2 ">
                        <a class=" text-decoration-none text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                    </li>
    
    
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container py-2">
            
                <div class="row w-100 mx-auto font-weight-bolder">
                
                 <!--  <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link  pl-0 pr-0 text-decoration-none  " href="Blog-AR.html">مدونة</a>
                </div> -->
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </div>
                    <div class=" col-md col-4 px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </div>

                    <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="افليت.html">افليت </a>
                </div>
                    
                    <div class=" col-md col-4  px-1 text-center">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر </a>
                    </div>
                        <div class=" col-md col-4 px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Tracking-AR.html">تتبع الطلبات</a>
                </div>
    
                    <div class=" col-md col-4  px-1  text-center">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>        
                </div>

                    <div class="btn-danger rounded-1 px-2 py-1 ">
                        <a class="nav-link py-1 text-decoration-none text-light" href="Login-AR.html">دخول</a>
                    </div>
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
   <!--  End Nav bar md -->

  
   <!-- Start Nav bar sm -->
    <div class="top-nav w-100  d-md-none " dir="rtl" >
        <div class="navbar navbar-expand-lg navbar-dark ">
        <div class="container">
            <a class="navbar-brand  text-right " href="Home-AR.html"><img class="w-75 text-right" src="images/logo-ar.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSite-Sm" aria-controls="navbarSite-Sm" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  " id="navbarSite-Sm">
                <ul class="navbar-nav ml-auto w-100 justify-content-lg-between">
                    
                    <li class="nav-item active">
                        <a class="nav-link text-decoration-none" href="Home-AR.html">الرئيسية </a>
                    </li>
                    
                    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown">
                            <button class="nav-link mx-auto dropdown-toggle"
                                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                خدماتنا
                            </button>
                            <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Personal-Shopper-AR.html">المتسوق الشخصي </a>
                            <a class="dropdown-item" href="Import-solutions-AR.html">حلول الاستيراد </a>
                            <a class="dropdown-item" href="Make-an-Order-to-purchase-auto-parts-AR.html">طلب قطع غيار السيارات </a>
                            <a class="dropdown-item" href="Buyer&seller-protection-service-AR.html">خدمة حماية البائع والمشتري </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="nav-item list-unstyled  ">
                        <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">العناويين الخاصة</a>
                        <ul class="dropdown-menu text-right">
                            <li><a class="dropdown-item" href="Subscription-plans-AR.html">خطط الاشتراك</a></li>
                            <li><a class="dropdown-item" href="Addresses-USA&china-AR.html">العنوان الأمريكي والصيني</a></li>
                            <li><a class="dropdown-item" href="Address-KSA-International-AR.html">العنوان السعودي - عالمي</a></li>
                            </ul>
                        </div>
                    </li>

    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Global-services-AR.html">خدمات عالمية  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="#">الحاسبة </a>
                    </li>
    
    

                  
                    
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Features-AR.html">المميزات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="Insurance-solution-AR.html">حلول التأمين</a>
                    </li>
                
                        
                        <li class="nav-item">
                            <a class="nav-link pl-0 pr-0 text-decoration-none  " href="افليت.html">افليت </a>
                           </li>
                      
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  " href="List-stores-AR.html">تصفح المتاجر  </a>
                    </li>
                    
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Tracking-AR.html">تتبع الطلبات  </a>
                    </li>
                        <li class=" nav-item">
                        <a class="nav-link pl-0 pr-0 text-decoration-none  "  href="Rate-service-AR.html">التقييمات  </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Tracking-AR.html"><img class="language" src="images/SA3.png"/>  </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none  " href="Tracking.html"><img class="language"  src="images/USA2.png"/> </a>
                    </li>
                </ul>
                
            </div>
        </div>
        </div>
    
        <div class="other_nav_link">
        <div class="border-top ">
            <div class="container">
            
                <div class="row   w-100 py-2">
                    <div class="col-6">
                      <div class=" btn-danger rounded-1  w-75">
                        <a class="nav-link  text-decoration-none text-light" href="Login-AR.html">  دخول </a>
                    </div>  
                    </div>
                    
                    <div class="col-6">
                    <div class="btn-danger rounded-1  pt-2 w-75">             
                    <a class=" text-decoration-none  text-light  font-weight-bold" href="Subscription-plans-AR.html">التسجيل </a>
                  </div></div>
                    
    
                </div>
            </div>
        </div>
        <!-- border-top -->       
    
        </div>
    
     </div>
    <!-- End Nav bar sm  -->
    






    
    <!--section -->    
     <section class="other_nav_link" style="position: relative; top: 160px;">
            <!-- Start container-->
            <div class="container ">




            <form id="myform">
                <div class="row ">

                    <!--select-->  
                    <div class="col-md-12  col-12 text-center">
                        <h1 class="text-primary text-center my-3" dir="rtl"> رفع نزاع</h1>
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">الأقسام</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" >
                            <option selected>أختار ...</option>
                            <option value="1">الوساطة</option>
                            <option value="3">الاستيراد</option>
                            <option value="4">قطع غيار</option>
                            <option value="5">شحن عالمى</option>
                            <option value="6">شحن محلى</option>
                            <option value="9">أخرى</option>
                            </select>
                        </div>
                    </div>
                  <!--select-->                  
                    
                    
                    
                    <!-- div name-->    
                    <div class=" col-md-12  col-12  text-center">
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" >رقم الجناح *</span>
                            </div>
                            <input type="text" id="textview" class="form-control" id="email" oninvalid="InvalidMsg(this);" 
                            oninput="InvalidMsg(this);" name="email" 
                            required="required" placeholder="رقم الجناح (اجبارى)" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                <!--div name-->   
                
                
                <!--div email--> 
                    <div class=" col-md-12  col-12  text-center">
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">رقم الطلب *</span>
                            </div>
                            <input type="text" id="textview1" class="form-control" id="email" oninvalid="InvalidMsg(this);" 
                            oninput="InvalidMsg(this);" name="email" 
                            type="email" required="required" placeholder="رقم الطلب (اجبارى)" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                <!--div email-->
                

                
            
                 <!--massage-->  
                    <div class="col-md-12 col-12  text-center mb-3"> 
                        <div class="input-group input-group-lg" dir="rtl">
                            <div class="input-group-prepend">
                            <span class="input-group-text">الموضوع</span>
                            </div>
                            <textarea id="textview-area1" class="form-control" placeholder="الموضوع (اختيارى)" aria-label="With textarea"></textarea>
                        </div>
                    </div>
               <!--massage-->    



               <!-- Message description -->
                    <div class="col-md-12 col-12  text-center mb-3"> 
                        <div class="input-group input-group-lg" dir="rtl">
                            <div class="input-group-prepend">
                            <span class="input-group-text">وصف المشكلة *</span>
                            </div>
                            <textarea id="textview-area" class="form-control" id="email" oninvalid="InvalidMsg(this);" 
                            oninput="InvalidMsg(this);" 
                             required="required"  placeholder="وصف المشكلة (اجبارى)" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                <!-- Message description -->


               <!-- div name-->    
                    <div class=" col-md-12  col-12  text-center">
                        <div class="input-group mb-3" dir="rtl">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1" >الحل *</span>
                            </div>
                            <input type="text" id="textview2" class="form-control" id="email" oninvalid="InvalidMsg(this);" 
                            oninput="InvalidMsg(this);" name="email" 
                            required="required" placeholder="الحل(اجبارى)" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                <!--div name-->

                <!-- col-12 -->
                <div class="col-lg-12 col-12 text-right my-3">
                    <div class="border wrapper w-100" id="form1" runat="server" >
                        <div class="file-upload float-right ">
                            <input class="inputfile " id="image-file" type="file" multiple/>
                            <i class="fa fa-3x fa-image"></i>
                          </div>
                          <div  class="content-img w-100  "></div>
                        </div>
                </div>
                <!--</div>-->
                    
                           
                    
                    <div class=" col-md-12 col-12  text-center my-md-4">
                        <input class="btn btn-secondary px-5" type="submit" value="أرسال"/>
                    </div> 
                    
                </div>



            </form>
                 <!--/ Row-->
                
        </div>

            <!-- End container-->
    </section>

    <!-- End section  -->
    
    
    
    
    
     <!--section -->    
         <section class="section-2" style="position: relative; top: 160px;">
            <!-- Start container-->
            <div class="container ">
 

                <!--/ ROW -->
                <div class="row ">
                    
                    <!--/ col-12 -->
                    <div class="col-md-12 col-12 my-md-5 table-responsive-sm">
                        
                        <!--/ table -->
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">الموضوع</th>
                                <th scope="col">رقم النزاع</th>
                                <th scope="col">القسم</th>
                                <th scope="col">التاريخ</th>
                                <th scope="col">الحالة</th>
                                <th scope="col">الإجراء</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row"><button class="btn btn-danger">عرض</button></th>
                                <td> </td>
                                <td> </td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="2"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        <!--/ table -->
                        
                    </div>
                    <!--/ col-12 -->
                    

                </div>
                <!--/ ROW --> 
            </div>
            <!--/ container --> 
        </section>
    
    <!--/ section --> 
         
         
         
        <!--section -->    
        <section class="section-2" style="position: relative; top: 160px; margin-bottom: 140px;">
            <!-- Start container-->
            <div class="container ">

                <!-- ROW -->
                <div class="row ">
                    
                  <!-- col-12 -->
                    <div class="col-md-12 col-12 text-right my-5">
                        
                        <!-- table -->
                        <h3> الرسالة</h3>
                      
                        <p>التاريخ 29-10-2020 </p>
                        <p>  أحمد : أسم الموظف</p>
                        <p>  قطع غيار </p>

                    </div>
                    <!--/ col-12 -->
                    
                        <!-- col-6 -->
                        <div class=" col-md-6 text-center mt-3 mb-5">
                            <button type="button" class="btn btn-secondary px-5">الغاء النزاع</button>
                        </div>
                        <!--/ col-6 -->
                        
                        
                        
                        <!-- col-6 -->
                        <div class=" col-md-6 text-center mt-3 mb-5">
                            
                            <div class="input-group mb-3" dir="rtl">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" >الرد على الرسالة</span>
                                </div>
                                <textarea id="textview-area" class="form-control" id="email" oninvalid="InvalidMsg(this);" 
                                oninput="InvalidMsg(this);" 
                                 required="required"  placeholder="الرد" aria-label="With textarea"></textarea>
                          
                            </div>
                            <button type="button" class="btn btn-primary px-5">ارسال</button>
                        </div>
                        <!--/ col-6 -->
                        
                        
                        
  
                </div>
                <!--/ ROW --> 
            </div>
            <!--/ container --> 
        </section>
    
    <!--/ section --> 
    
    
    
    

    
    

<!-- My_model-2 -->
    <div id="myModal_2" class="modal fade text-center">
                  <div class="modal-dialog">
                    <div class="col-lg-10 col-sm-10 col-12 main-section">
                      <div class="modal-content">
                        
                        <div class="col-lg-12 col-sm-12 col-12 my-5">
                          <img src="images/done.png">
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12 form-input mb-3">
                          <form>
                            <button type="button" class="close" data-dismiss="modal">تم</button> 
                          </form>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
    <!--/ My_model -->






    
 <!-- My_model  Footer-->
 <div id="myModal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="col-lg-10 col-sm-10 col-12 main-section">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12 user-img">
            <img src="images/man01.png">
          </div>
          <div class="col-lg-12 col-sm-12 col-12 user-name">
            <h1>احصل على آخر الأخبار  </h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="col-lg-12 col-sm-12 col-12 form-input">
            <form>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"  type="text" class="form-control" placeholder="الأسم" dir="rtl">
              </div>
              <div class="form-group">
                <input oninvalid="InvalidMsg(this);" 
                oninput="InvalidMsg(this);"
                required="required"type="email" class="form-control" placeholder="ايميل" dir="rtl">
              </div>
              <button type="submit" class="btn btn-primary">أشتراك</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
<!--/ My_model -->


<!-- Start Footer -->
<div class="footer " style=" margin-top: 160px;">
<!-- Start container-->
<div class="bg-blue w-100 h-100"> 
<div class="container">

    <div class="row pt-5">

    <!--col-md-3 -->
        <div class="col-md-3 col-12">

            <div class="social-link text-center">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        <div class="text-center my-3">
           
            <div class="rounded-1 open-modal px-2 py-2 w-auto ">
                <a  href="#myModal" class="btn btn-danger trigger-btn"  data-toggle="modal">  اشتراك آخر الاخبار  </a>
            </div>
        
        </div>
        </div>
    <!--col-md-3 -->


    <!--col-md-3 -->
    <div class="col-md-3 col-12 text-right">
        <div class="pages">
            <ul>
                <li><a href="Tracking-AR.html">النزاعات</a></li>
                <li><a href="Forbiddens-AR.html">الممنوعات</a></li>
                <li><a href="Website-Development-AR.html">تطوير الموقع</a></li>
                <li><a href="Proof-of-money-transfer-AR.html">اثبات تحول المبلغ</a></li>
            </ul>
        </div>
    </div>
  <!--col-md-3 -->

    <!--col-md-3 -->
        <div class="col-md-3 col-12 text-right">
            <div class="pages">
                <ul>
                  
                   <li><a href="Contact-Us-AR.html">اتصل بنا</a></li>
                   <li><a href="#">الأسئلة الشائعة</a></li>
                   <li><a href="Terms-Conditions-AR.html">الشروط والأحكام</a></li>
                   <li><a href="Privacy-Policy-AR.html">سياسة الخصوصية</a></li>
                   
                </ul>
            </div>
        </div>
    <!--col-md-3 -->




    <!--col-md-3 -->
        <div class="col-md-3 col-12 text-right">
            <div class="pages">
                <ul>
                  
                    <li><a href="#">الحقوق</a></li>
                    <li><a href="About-us-AR.html">من نحن</a></li>
                    <li><a href="#">وسائل الدفع</a></li>
                    <li><a href="Charging-system-AR.html">الشحن والتوصيل</a></li>
          
                </ul>
            </div>
        </div>
    <!--col-md-3 -->






      
    </div>

    <div class="row">
         <div class="mx-auto col-md-5  col-12">
            <div class="paymentWrap">
                <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                    <label class=" paymentMethod ">
                        <div class="method visa"></div>
                        <input type="radio" name="options" checked> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method master-card"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method amex"></div>
                        <input type="radio" name="options">
                    </label>
                     <label class=" paymentMethod">
                         <div class="method vishwa"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method ez-cash"></div>
                        <input type="radio" name="options"> 
                    </label>
                    <label class=" paymentMethod">
                        <div class="method ez-cashh"></div>
                        <input type="radio" name="options"> 
                    </label>
                 
                </div>        
            </div>
         </div>
    </div>


</div>
<!-- End container-->
<div class="border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-light mt-1">جميع الحقوق محفوظ لمؤسسة الوصول المضمون للتجارة    </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- End Footer -->




    

        <!-- START JS FILE -->
            
        <script src="js/jquery.min.js" ></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/wow.min.js"></script>


        <script type="text/javascript">

          function cleanall(){
            document.getElementById("textview").value = "";
            document.getElementById("textview1").value = "";
            document.getElementById("textview2").value = "";
            document.getElementById("textview3").value = "";
            document.getElementById("textview-area").value = "";
            document.getElementById("textview-area1").value = "";

          }  



          
        function InvalidMsg(textbox) { 

        if (textbox.value === '') { 
            textbox.setCustomValidity 
            ('this input is required').style.backgroundColor = "red"; 
        }else { 
            textbox.setCustomValidity(''); 
        } 

        return true; 
        }  

        </script>



        <script type="text/javascript" src="js/main.js"></script>
        <!-- End JS FILE -->
</body>
</html>  
    